## Microsoft Movie Pitch Submission

* Student name: Ashleigh Stephens
* Student pace: FLEX 60 Wk
* Scheduled project review date/time: 
* Instructor name: Abhineet
* Blog post URL: N/A

In this project description, we will cover:

* [***Project Overview:***](#project-overview) the project goal, audience, and dataset
* [***Deliverables:***](#deliverables) the specific items you are required to produce for this project
* [***Grading:***](#grading) how your project will be scored
* [***Getting Started:***](#getting-started) guidance for how to begin your first project

## Project Overview

Using exploratory data analysis to generate insights for a Microsoft stakeholder.

### Project Goal

To get Microsoft in on all the creating original video content fun the other big companies are having, we're exploring what types of films are currently doing the best at the box office. To give greater insight into creating movies, we're translating findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create in a new movie studio.

### Audience

(https://www.motionpictures.org/wp-content/uploads/2022/03/MPA-2021-THEME-Report-FINAL.pdf)
USE THIS, MAKE GRAPHS FROM DATA, 

(https://www.sawa.com/why-cinema/audience)
Specifically, cinemagoers are typically younger than the population with generally half of the visits made by people in the key 14 to 34 demographic. Cinemagoing has increased against all age groups in the last few years, with the most dramatic growth seen amongst the over 25’s. Movie’s remakes made in the last 10 years have attracted an older age group and brought more people back to the movies. Approximately ¾ of a typical cinema audience are frequent cinemagoers, who go to the movies on average at least once every 4 weeks.

Frequent moviegoers are a highly desirable audience for advertisers. They are usually young and affluent, with high disposable incomes. They are avid shoppers, into fashion and technology and lead busy and active lives making them difficult to target with other media.

Cinema is an ideal medium to target the more affluent sectors of the population with good levels of disposable income. It can be safely said that the Cinema going Audience is one of the most sought after sectors of the population. Cinemagoers typically have good education levels, with cinema an ideal medium to target people in higher education.

(https://variety.com/2018/film/news/latino-asian-moviegoers-mpaa-study-1202743713/)
Caucasians, who represent 61% of the U.S. population, amounted to 54% of frequent moviegoers, while African-Americans represented 12% of the population and 10% of frequent moviegoers. Caucasians bought 55% of all tickets, followed by 23% for Latinos, 12% for African-Americans and 7% for Asians.

### The Data

In the folder `zippedData` are movie datasets from:

* [Box Office Mojo](https://www.boxofficemojo.com/)
* [IMDB](https://www.imdb.com/)
* [Rotten Tomatoes](https://www.rottentomatoes.com/)
* [TheMovieDB](https://www.themoviedb.org/)
* [The Numbers](https://www.the-numbers.com/)

It is up to you to decide what data from this to use and how to use it. If you want to make this more challenging, you can scrape websites or make API calls to get additional data. If you are feeling overwhelmed or behind (e.g. struggled with the Phase 1 Code Challenge), we recommend you use only the following data files:

* imdb.title.basics
* imdb.title.ratings
* bom.movie_gross

Focusing on genres, look at ROI
Secondary; directors, writers, 

Productivity = Units of Input/Units of Output; 
    money in/money out per publisher
Customer Satisfaction Score = (Total Survey Point Score / Total Questions) x 100;
    ratings 
    
Gross Profit Margin = (Total Profit-Total Costs)/100; 
    looking to the future in the pitch for genre
ROI = (Net Benefits/Costs) x 100; 
    look at specific benefit of project

In [47]:
# Open files
import pandas as pd  # Alias pandas to be referred to as pd
import numpy as np  # Alias numpy to be referred to as np
import matplotlib.pyplot as plt  # Alias matplotlib.pyplot to be referred to as plt
import seaborn as sns  # Alias seaborn to be referred to as sns
from glob import glob # Can be used to import zipped files as one file
import os

# Allows plot outputs
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# bom.movie_gross.csv.gz
MGdf
# imdb.name.basics.csv.gz
NBdf 
# imdb.title.akas.csv.gz
TAdf 
# imdb.title.basics.csv.gz
TBdf 
# imdb.title.crew.csv.gz
TCdf 
# imdb.title.principals.csv.gz
TPdf 
# imdb.title.ratings.csv.gz
TRdf 
# rt.movie_info.tsv.gz
MIdf 
# tmdb.movies.csv.gz
Mdf 
# tn.movie_budgets.csv.gz
MBdf

In [48]:
#pandas support zip file reads
# bom.movie_gross.csv.gz
MGrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/bom.movie_gross.csv.gz")
# imdb.name.basics.csv.gz
NBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.name.basics.csv.gz")
# imdb.title.akas.csv.gz
TArawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.akas.csv.gz")
# imdb.title.basics.csv.gz
TBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.basics.csv.gz")
# imdb.title.crew.csv.gz
TCrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.crew.csv.gz")
# imdb.title.principals.csv.gz
TPrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.principals.csv.gz")
# imdb.title.ratings.csv.gz
TRrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.ratings.csv.gz")
# rt.movie_info.tsv.gz
MIrawdf = pd.read_table("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/rt.movie_info.tsv.gz")
# SKIP rt.reviews.tsv.gz 
# Probably need tsv to csv or read_table
# Rdf = pd.read_csv"(/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/rt.reviews.tsv.gz")
# tmdb.movies.csv.gz
Mrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tmdb.movies.csv.gz")
# tn.movie_budgets.csv.gz
MBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tn.movie_budgets.csv.gz")

To see the size before I begin to merge data to make sure data isn't lost

In [3]:
print(f'Movie Gross:', MGrawdf.shape)
print(f'Name Basics:', NBrawdf.shape)
print(f'Title AKAs:', TArawdf.shape)
print(f'Title Basics:', TBrawdf.shape)
print(f'Title Crew:', TCrawdf.shape)
print(f'Title Principals:', TPrawdf.shape)
print(f'Title Ratings:', TRrawdf.shape)
print(f'Movie Info:',MIrawdf.shape)
print(f'Movies:', Mrawdf.shape)
print(f'Movie Budgets:', MBrawdf.shape)

Movie Gross: (3387, 5)
Name Basics: (606648, 6)
Title AKAs: (331703, 8)
Title Basics: (146144, 6)
Title Crew: (146144, 3)
Title Principals: (1028186, 6)
Title Ratings: (73856, 3)
Movie Info: (1560, 12)
Movies: (26517, 10)
Movie Budgets: (5782, 6)

To see the size before I begin to merge data 'df.shape' is used. To see what columns exist and null data within 'df.isnull().sum()' is used. By dividing the missing data sum by size will give you the percentage of missing data. Significant missing data will be replaced or culled.

In [40]:
print(f'Movie Gross:', 
      MGrawdf.shape,
      MGrawdf.isnull().sum())
print(f'Name Basics:', 
      NBrawdf.shape,
      NBrawdf.isnull().sum())
print(f'Title AKAs:', 
      TArawdf.shape,
      TArawdf.isnull().sum())
print(f'Title Basics:', 
      TBrawdf.shape,
      TBrawdf.isnull().sum())
print(f'Title Crew:', 
      TCrawdf.shape,
      TCrawdf.isnull().sum())
print(f'Title Principals:', 
      TPrawdf.shape,
      TPrawdf.isnull().sum())
print(f'Title Ratings:', 
      TRrawdf.shape,
      TRrawdf.isnull().sum())
print(f'Movie Info:', 
      MIrawdf.shape,
      MIrawdf.isnull().sum())
print(f'Movies:', 
      Mrawdf.shape,
      Mrawdf.isnull().sum())
print(f'Movie Budgets:', 
      MBrawdf.shape,
      MBrawdf.isnull().sum())

Movie Gross: (3387, 5) title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64
Name Basics: (606648, 6) nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64
Title AKAs: (331703, 8) title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64
Title Basics: (146144, 6) tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64
Title Crew: (146144, 3) tconst           0
directors     5727
writers      35883
dtype: int64
Title Principals: (1028186, 6) tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64
Title Ratings: (73856, 3) tconst           0
averagerating    0
numvotes         0
dtype: int64
Movie Info: (1560, 12) id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64
Movies: (26517, 10) Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64
Movie Budgets: (5782, 6) id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

Now to look at the columns present in each table in anticipation of merges; replace or delete null values and delete unnecessary columns.

In [36]:
# MGdf = bom.movie_gross.csv.gz
# Look at Movie Gross first
print(f'Movie Gross:', 
      MGrawdf.isnull().sum(),
     MGrawdf.shape)

Movie Gross: title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64 (3387, 5)

In [6]:
# Find the percentage of missing values:
# Sum of null values divided by total instances
# multiply by 100 to get %
NullStudio = (MGrawdf['studio'].isnull().sum()
               / len(MGrawdf)) * 100

# Make a readable statement to express the percentage of missing values.
print(round(NullStudio, 2))

0.15

In [7]:
# Find percentage for remaining nulls
NullDG = (MGrawdf['domestic_gross'].isnull().sum()
               / len(MGrawdf)) * 100
print(round(NullDG, 2))

NullFG = (MGrawdf['foreign_gross'].isnull().sum()
               / len(MGrawdf)) * 100
print(round(NullFG, 2))

0.83
39.86

In [8]:
# Formula to shorten time for other columns
def NullPer(column, df):
    PercentNull = (df[column].isnull().sum()
                   / len(df)) * 100
    return print(f'Null Percentage',(column),(round(PercentNull, 2)))

In [9]:
# Run test to see if values match from above
NullPer('domestic_gross', MGrawdf)
NullPer('foreign_gross', MGrawdf)

Null Percentage domestic_gross 0.83
Null Percentage foreign_gross 39.86

Within Movie Gross, columns stuido and domestic_gross are under 1%, so removing the missing values are the best to clean the data and keep the remaining column data; df.dropna(subset=['column']). 

Unfortunately, foreign_gross has nearly 40% of missing values. Becuase we are unsure if the data is missing, or if the film never opened in foreign markets, we should remove the entire column. If we could pull the data from another table or website, then we may be able to assign $0 value to those movies that never made it to foreign markets and assign true missing and null values respectfully. Alas, we will delete the column due to data availability using df.drop('foreign_gross', 1).

In [18]:
# remove null values from dataframe
MGdf = MGrawdf.dropna(subset=['studio', 'domestic_gross'])

# check null values were dropped
NullPer('studio', MGdf)
NullPer('domestic_gross', MGdf)
NullPer('foreign_gross', MGdf)

# double check change in shape
print(f'Movie Gross:', 
      MGdf.shape,
      MGdf.isnull().sum())

Null Percentage studio 0.0
Null Percentage domestic_gross 0.0
Null Percentage foreign_gross 40.2
Movie Gross: (3356, 5) title                0
studio               0
domestic_gross       0
foreign_gross     1349
year                 0
dtype: int64

Due to missing data being removed from stuido and domestic_gross, altering the overall data shape, the percentage for foreign_gross changed slightly. 

Now to remove the foreign_gross column.

In [34]:
# Remove foreign_gross column
MGdf = MGdf.drop('foreign_gross', 1)

# double check change in shape
print(f'Movie Gross:',
      MGdf.isnull().sum(),
      MGdf.shape,)

KeyError: "['foreign_gross'] not found in axis"

In [21]:
# To check and see if any of the data is a duplicate
MGdf.duplicated().values.any()

False

In [20]:
MGdf.head()

                                         title studio  domestic_gross  year
0                                  Toy Story 3     BV     415000000.0  2010
1                   Alice in Wonderland (2010)     BV     334200000.0  2010
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0  2010
3                                    Inception     WB     292600000.0  2010
4                          Shrek Forever After   P/DW     238700000.0  2010

Movie Gross data looks great, so lets move on and see what other work needs to be done.

In [54]:
# imdb.name.basics.csv.gz
NBrawdf.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

Columns birth_year and death_year aren't needed for a merge and are irrevelant data; so we can delete them. 

The known_for_titles look to be tconst values, which are helpful in combining some of these tables. We will need to get the primary_profession values to assign to each primary_name and nconst value existing, then we can assign the known_for_titles to those rows as well; using df.explode().

In [55]:
# Delete birth_year, death_year and assign new df
NBDdf = NBrawdf.drop(columns=['birth_year', 'death_year'])
NBDdf.head()

,nconst,primary_name,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [56]:
# To check each column for null values
NullPer('nconst', NBDdf)
NullPer('primary_name', NBDdf)
NullPer('primary_profession', NBDdf)
NullPer('known_for_titles', NBDdf)

# To see overall shape
print(NBDdf.shape)

Null Percentage nconst 0.0
Null Percentage primary_name 0.0
Null Percentage primary_profession 8.46
Null Percentage known_for_titles 4.98
(606648, 4)

In [57]:
# Removing the null values from columns
NBDdf = NBDdf.dropna(subset=['primary_profession', 'known_for_titles'])

In [58]:
# To check the raw shape, before null 
# columns and values are removed
print(f'Raw Name Basics:', 
      NBrawdf.shape,
      NBrawdf.isnull().sum()),
print("                                ")
# To check each column for null values
NullPer('nconst', NBDdf)
NullPer('primary_name', NBDdf)
NullPer('primary_profession', NBDdf)
NullPer('known_for_titles', NBDdf)
print("                                ")
# Print to see what data has been lost
print(f'Name Basics:', 
      NBDdf.shape,
      NBDdf.isnull().sum())

Raw Name Basics: (606648, 6) nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

Null Percentage nconst 0.0
Null Percentage primary_name 0.0
Null Percentage primary_profession 0.0
Null Percentage known_for_titles 0.0

Name Basics: (535137, 4) nconst                0
primary_name          0
primary_profession    0
known_for_titles      0
dtype: int64

From the shape comparison of Raw Name Basics and Name Basics, you can see that birth_year and death_year has been successfully removed and I've lost 71,511 enteries. Farewell null data!

In [59]:
NBDdf.head()

,nconst,primary_name,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

Data within primary_profession and known_for_titles has multiple enteries per entry within nconst and primary_name. To access the data and combine it with other tables, the data needs to be separately assinged, using str.split() and .explode().

In [60]:
# Seperating the strings within columns by "," and replacing
# the columns within the same df.
NBDdf["primary_profession"] = NBDdf["primary_profession"].str.split(",")
NBDdf["known_for_titles"] = NBDdf["known_for_titles"].str.split(",")
NBDdf.head()

,nconst,primary_name,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,"[miscellaneous, production_manager, producer]","[tt0837562, tt2398241, tt0844471, tt0118553]"
1,nm0061865,Joseph Bauer,"[composer, music_department, sound_department]","[tt0896534, tt6791238, tt0287072, tt1682940]"
2,nm0062070,Bruce Baum,"[miscellaneous, actor, writer]","[tt1470654, tt0363631, tt0104030, tt0102898]"
3,nm0062195,Axel Baumann,"[camera_department, cinematographer, art_depar...","[tt0114371, tt2004304, tt1618448, tt1224387]"
4,nm0062798,Pete Baxter,"[production_designer, art_department, set_deco...","[tt0452644, tt0452692, tt3458030, tt2178256]"

In [ ]:
# Assigning a new df to explode the first column
NBDEdf = NBDdf.explode("primary_profession")

# Select ONLY writer and director within primary_profession before going forward!

# HOW?! 
## REMOVE MISCELLANEOUS FROM COLUMN VALUES

Data from Name Basics has been cleaned, althought we will mostly likely locate only desired professions in future extrapolations.

In [92]:
NBdf["primary_profession"].values

array(['miscellaneous', 'miscellaneous', 'miscellaneous', ..., 'director',
       'actor', 'writer'], dtype=object)

In [97]:
NBWdf = NBdf.groupby("primary_profession")
NBWdf.groups

{'actor': [2, 2, 2, 2, 6, 6, 14, 14, 14, 14, 15, 15, 15, 15, 17, 17, 17, 17, 20, 20, 20, 20, 21, 21, 21, 21, 24, 24, 24, 24, 25, 25, 25, 25, 28, 28, 28, 28, 29, 29, 29, 29, 34, 34, 34, 34, 38, 38, 38, 38, 40, 40, 40, 40, 41, 41, 41, 41, 51, 51, 51, 51, 53, 53, 53, 53, 54, 54, 54, 54, 55, 55, 55, 55, 57, 57, 57, 57, 61, 61, 61, 61, 62, 62, 62, 62, 64, 64, 64, 64, 65, 65, 65, 65, 75, 75, 75, 75, 77, 77, ...], 'actress': [9, 9, 9, 9, 19, 19, 19, 19, 27, 27, 27, 27, 32, 32, 32, 32, 36, 36, 36, 36, 37, 37, 37, 37, 43, 43, 43, 43, 46, 46, 46, 46, 49, 49, 49, 49, 58, 58, 58, 58, 60, 60, 60, 60, 67, 67, 67, 67, 68, 68, 68, 68, 70, 70, 70, 70, 95, 95, 95, 97, 97, 97, 97, 120, 120, 120, 120, 123, 123, 123, 123, 124, 124, 124, 124, 129, 129, 129, 129, 130, 130, 136, 136, 136, 136, 159, 159, 159, 160, 160, 160, 160, 175, 175, 175, 175, 178, 178, 178, 178, ...], 'animation_department': [114, 114, 114, 114, 485, 485, 485, 499, 499, 499, 499, 500, 500, 500, 500, 502, 502, 502, 502, 549, 549, 549, 549, 558, 558, 558, 558, 768, 768, 768, 768, 934, 934, 934, 934, 972, 972, 972, 972, 1812, 1812, 1812, 1812, 2034, 2034, 2034, 2034, 2086, 2086, 2086, 2086, 2175, 2175, 2175, 2175, 2228, 2228, 2228, 2228, 2263, 2263, 2263, 2263, 2499, 2499, 2499, 2499, 2631, 2631, 2631, 2631, 2843, 2843, 2843, 2843, 2910, 2910, 2910, 2910, 2933, 2933, 2933, 2933, 2981, 2981, 2981, 2981, 3005, 3005, 3005, 3005, 3424, 3424, 3424, 3424, 3926, 3926, 3926, 3926, 3983, ...], 'art_department': [3, 3, 3, 3, 4, 4, 4, 4, 66, 66, 66, 66, 102, 102, 102, 102, 165, 165, 165, 165, 189, 189, 189, 189, 502, 502, 502, 502, 529, 529, 529, 529, 532, 532, 532, 532, 558, 558, 558, 558, 587, 587, 587, 587, 750, 750, 750, 750, 863, 863, 863, 863, 874, 874, 874, 876, 876, 876, 876, 911, 911, 911, 911, 925, 925, 925, 925, 941, 941, 941, 941, 943, 943, 943, 943, 972, 972, 972, 972, 1108, 1108, 1108, 1108, 1134, 1134, 1134, 1134, 1152, 1152, 1152, 1152, 1155, 1155, 1155, 1155, 1168, 1168, 1168, 1168, 1240, ...], 'art_director': [165, 165, 165, 165, 283, 283, 283, 283, 400, 400, 400, 400, 550, 550, 550, 550, 571, 571, 571, 571, 582, 582, 582, 582, 591, 591, 591, 591, 714, 714, 714, 714, 750, 750, 750, 750, 1015, 1015, 1015, 1015, 1042, 1042, 1042, 1066, 1066, 1066, 1066, 1134, 1134, 1134, 1134, 1168, 1168, 1168, 1168, 1201, 1201, 1201, 1201, 1310, 1310, 1814, 1814, 1814, 1814, 1948, 1948, 1948, 1948, 1974, 1974, 1974, 1974, 2032, 2032, 2032, 2032, 2081, 2081, 2081, 2081, 2150, 2150, 2150, 2150, 2231, 2231, 2231, 2231, 2348, 2348, 2348, 2348, 2401, 2401, 2401, 2401, 2455, 2455, 2455, ...], 'assistant': [22461, 22461, 22461, 22461, 25429, 25429, 27859, 27859, 27859, 27859, 40790, 60188, 60188, 60188, 60188, 64448, 64448, 64448, 64448, 68203, 68203, 68203, 68562, 68562, 78423, 78423, 78423, 78423, 100443, 100443, 100443, 100443, 111475, 111475, 111475, 111475, 114160, 114160, 114160, 114160, 118948, 118948, 118948, 118948, 126646, 126646, 150982, 150982, 150982, 150982, 152069, 152069, 152069, 153817, 153817, 163584, 163584, 171562, 171562, 171562, 171562, 188754, 188754, 188754, 188754, 199564, 199564, 199564, 199564, 205132, 205132, 205132, 205132, 211250, 211250, 211250, 211250, 218177, 226906, 237805, 237805, 243692, 243692, 243692, 243692, 248471, 248471, 248471, 248471, 254490, 254495, 254495, 270159, 270159, 270159, 270159, 271599, 271599, 276315, 276315, ...], 'assistant_director': [31, 31, 31, 31, 84, 84, 84, 84, 90, 90, 90, 90, 110, 110, 110, 110, 121, 121, 121, 121, 124, 124, 124, 124, 143, 143, 143, 143, 154, 154, 154, 154, 212, 212, 212, 212, 215, 215, 215, 215, 220, 220, 220, 220, 222, 222, 222, 222, 231, 231, 231, 231, 273, 273, 273, 273, 307, 307, 307, 307, 309, 309, 309, 309, 314, 314, 314, 314, 330, 330, 330, 330, 351, 351, 351, 351, 377, 377, 377, 377, 395, 395, 395, 395, 436, 436, 436, 436, 458, 458, 458, 458, 460, 460, 460, 460, 474, 474, 474, 474, ...], 'camera_department': [3, 3, 3, 3, 22, 22, 22, 22, 26, 26, 26, 26, 33, 33, 33, 33, 35, 35, 35, 35, 42, 42, 42, 42, 79, 79, 79, 79, 83, 83, 83, 83, 96, 96, 96, 96, 109, 109, 109, 109, 110, 110, 110, 110, 113, 113, 113, 113, 119, 119, 119, 119, 135, 135, 135, 135, 155, 155, 155, 155, 180, 180, 180, 180, 192, 192, 192, 192, 211, 211, 211, 211, 217, 217, 217, 217, 218, 218, 218, 218, 231, 231, 231, 231, 260, 260, 260, 260, 278, 278, 278, 278, 286, 286, 286, 286, 334, 334, 334, 334, ...], 'casting_department': [44, 44, 44, 44, 179, 179, 179, 179, 456, 456, 456, 456, 553, 553, 553, 553, 631, 631, 631, 631, 786, 786, 786, 786, 870, 870, 870, 870, 1052, 1052, 1052, 1052, 1683, 1683, 1683, 1683, 1779, 1779, 1779, 1779, 2162, 2162, 2162, 2162, 2376, 2376, 2376, 2376, 2480, 2480, 2480, 2480, 2529, 2529, 2529, 2529, 2670, 2670, 2670, 2670, 2911, 2911, 2911, 2911, 3143, 3143, 3143, 3143, 3748, 3748, 3748, 3748, 3765, 3765, 3765, 3765, 3907, 3907, 3907, 3907, 4141, 4141, 4141, 4141, 4620, 4620, 4620, 4620, 5031, 5031, 5031, 5031, 5697, 5697, 5697, 5697, 5749, 5749, 5749, 5749, ...], 'casting_director': [179, 179, 179, 179, 263, 263, 263, 263, 356, 356, 367, 367, 367, 367, 389, 389, 389, 389, 456, 456, 456, 456, 519, 519, 519, 519, 910, 910, 910, 910, 994, 994, 994, 994, 1044, 1044, 1044, 1044, 1207, 1207, 1207, 1207, 1892, 1892, 1892, 1892, 2162, 2162, 2162, 2162, 2191, 2191, 2191, 2191, 2557, 2557, 2557, 2557, 2714, 2714, 2714, 2714, 2804, 2804, 2804, 2804, 2911, 2911, 2911, 2911, 3952, 3952, 3952, 3952, 3979, 3979, 3979, 3979, 4400, 4400, 4400, 4400, 5031, 5031, 5031, 5031, 5464, 5464, 5464, 5464, 5571, 5571, 5571, 5571, 5688, 5688, 5688, 5688, 5697, 5697, ...], 'cinematographer': [3, 3, 3, 3, 22, 22, 22, 22, 26, 26, 26, 26, 29, 29, 29, 29, 33, 33, 33, 33, 35, 35, 35, 35, 76, 76, 76, 76, 83, 83, 83, 83, 96, 96, 96, 96, 108, 108, 108, 108, 110, 110, 110, 110, 113, 113, 113, 113, 135, 135, 135, 135, 139, 139, 139, 139, 150, 150, 150, 150, 155, 155, 155, 155, 173, 173, 173, 173, 181, 181, 181, 181, 192, 192, 192, 192, 211, 211, 211, 211, 215, 215, 215, 215, 218, 218, 218, 218, 229, 229, 229, 229, 231, 231, 231, 231, 237, 237, 237, 237, ...], 'composer': [1, 1, 1, 1, 7, 7, 7, 7, 8, 8, 8, 8, 25, 25, 25, 25, 28, 28, 28, 28, 45, 45, 45, 45, 47, 47, 47, 47, 59, 59, 59, 59, 63, 63, 63, 63, 72, 72, 72, 72, 74, 74, 74, 74, 75, 75, 75, 75, 99, 99, 99, 99, 101, 101, 101, 101, 117, 117, 117, 117, 137, 137, 137, 137, 139, 139, 139, 139, 159, 159, 159, 168, 168, 168, 168, 184, 184, 184, 184, 186, 186, 187, 187, 187, 187, 190, 190, 190, 190, 199, 199, 199, 199, 226, 226, 226, 226, 230, 230, 230, ...], 'costume_department': [189, 189, 189, 189, 582, 582, 582, 582, 948, 948, 948, 948, 1034, 1034, 1034, 1034, 2233, 2233, 2233, 2233, 2864, 2864, 2864, 2864, 3275, 3275, 3275, 3275, 4116, 4116, 4116, 4116, 4304, 4304, 4304, 4304, 4702, 4702, 4702, 4702, 5486, 5486, 5486, 5486, 6560, 6560, 6560, 6560, 6568, 6568, 6568, 6568, 6728, 6728, 6728, 6728, 7206, 7206, 7206, 7206, 7938, 7938, 7938, 7938, 8137, 8137, 8137, 8137, 8249, 8249, 8249, 8249, 8367, 8367, 8367, 8367, 9177, 9177, 9177, 9177, 9203, 9203, 9203, 9203, 9967, 9967, 9967, 9967, 10134, 10134, 10134, 10134, 11128, 11128, 11128, 11128, 11260, 11260, 11260, 11260, ...], 'costume_designer': [283, 283, 283, 283, 449, 449, 449, 449, 1034, 1034, 1034, 1034, 1150, 1150, 1150, 1150, 1228, 1228, 1228, 1228, 1814, 1814, 1814, 1814, 2081, 2081, 2081, 2081, 2460, 2460, 2460, 2460, 2864, 2864, 2864, 2864, 3275, 3275, 3275, 3275, 4116, 4116, 4116, 4116, 4172, 4172, 4172, 4172, 4262, 4262, 4262, 4304, 4304, 4304, 4304, 4702, 4702, 4702, 4702, 4767, 4767, 4767, 4767, 4822, 4822, 4822, 4822, 4898, 4898, 4898, 4898, 4980, 4980, 4980, 4980, 5301, 5301, 5433, 5433, 5433, 5433, 5443, 5443, 5443, 5443, 6147, 6147, 6147, 6147, 6521, 6521, 6521, 6521, 7881, 7881, 7881, 7938, 7938, 7938, 7938, ...], 'director': [5, 5, 5, 5, 10, 10, 10, 10, 15, 15, 15, 15, 16, 16, 16, 16, 21, 21, 21, 21, 23, 23, 23, 30, 30, 30, 30, 31, 31, 31, 31, 41, 41, 41, 41, 42, 42, 42, 42, 46, 46, 46, 46, 48, 48, 48, 48, 50, 50, 50, 52, 52, 52, 52, 53, 53, 53, 53, 56, 56, 56, 56, 62, 62, 62, 62, 65, 65, 65, 65, 66, 66, 66, 66, 74, 74, 74, 74, 76, 76, 76, 76, 78, 78, 78, 78, 79, 79, 79, 79, 81, 81, 81, 81, 84, 84, 84, 84, 87, 87, ...], 'editor': [13, 13, 13, 13, 16, 16, 16, 16, 30, 30, 30, 30, 40, 40, 40, 40, 74, 74, 74, 74, 97, 97, 97, 97, 106, 106, 106, 106, 115, 115, 115, 115, 127, 127, 127, 127, 134, 134, 134, 134, 141, 141, 141, 141, 154, 154, 154, 154, 163, 163, 163, 163, 166, 166, 166, 166, 210, 210, 215, 215, 215, 215, 252, 252, 252, 252, 277, 277, 277, 277, 300, 300, 300, 300, 329, 329, 329, 329, 336, 336, 336, 336, 350, 350, 350, 350, 375, 375, 375, 375, 379, 379, 379, 379, 388, 388, 388, 388, 399, 399, ...], 'editorial_department': [13, 13, 13, 13, 16, 16, 16, 16, 40, 40, 40, 40, 134, 134, 134, 134, 158, 158, 158, 158, 163, 163, 163, 163, 285, 285, 285, 285, 300, 300, 300, 300, 329, 329, 329, 329, 336, 336, 336, 336, 350, 350, 350, 350, 366, 366, 366, 366, 399, 399, 399, 399, 412, 412, 412, 412, 421, 421, 421, 421, 467, 467, 467, 467, 481, 481, 481, 481, 543, 543, 543, 543, 545, 545, 545, 545, 557, 557, 557, 557, 651, 651, 651, 651, 712, 712, 712, 712, 729, 729, 729, 729, 779, 779, 779, 779, 795, 795, 795, 795, ...], 'executive': [304, 304, 304, 304, 339, 339, 339, 339, 538, 538, 667, 667, 667, 667, 671, 671, 671, 671, 1008, 1008, 1008, 1008, 1098, 1098, 1098, 1098, 1120, 1120, 1120, 1120, 1237, 1237, 1237, 1237, 1438, 1438, 1438, 1438, 1757, 1757, 1757, 1757, 1896, 1896, 1896, 1896, 2074, 2074, 2074, 2209, 2209, 2209, 2209, 2227, 2227, 2227, 2227, 2357, 2357, 2357, 2357, 2812, 2812, 2812, 2812, 2920, 2920, 2920, 2920, 3187, 3187, 3187, 3499, 3499, 3499, 3499, 3717, 3717, 3717, 3853, 3853, 3853, 3853, 4111, 4111, 4111, 4111, 4153, 4153, 4153, 4153, 4397, 4397, 4397, 4397, 4425, 4425, 4425, 4425, 4470, ...], 'legal': [10395, 10395, 10395, 22965, 22965, 22965, 22965, 28492, 28492, 28492, 28492, 29360, 29360, 29360, 33781, 33781, 33781, 33781, 46797, 46797, 46797, 46797, 51430, 54976, 54976, 54976, 54976, 56229, 56229, 56229, 56229, 59818, 59818, 59818, 59818, 71260, 71260, 71260, 71260, 76326, 84303, 84303, 84303, 84303, 93678, 93678, 93678, 93678, 105130, 105130, 105130, 105130, 113567, 113567, 113567, 113567, 114428, 114428, 114428, 114428, 114641, 114641, 114641, 114641, 115396, 115396, 115396, 115396, 117974, 117974, 117974, 117974, 122166, 122166, 122166, 122166, 122728, 122728, 122728, 122728, 126615, 126615, 126615, 126615, 131234, 131234, 131234, 132507, 132507, 132507, 132507, 134279, 134279, 134279, 134279, 135971, 135971, 135971, 135971, 137889, ...], 'location_management': [80, 80, 80, 80, 207, 207, 207, 207, 217, 217, 217, 217, 341, 341, 341, 341, 377, 377, 377, 377, 480, 480, 480, 480, 576, 576, 576, 576, 614, 614, 614, 614, 778, 778, 778, 778, 822, 822, 822, 822, 1070, 1070, 1070, 1070, 1084, 1084, 1084, 1084, 1094, 1094, 1094, 1094, 1143, 1143, 1143, 1143, 1789, 1789, 1789, 1789, 1949, 1949, 1949, 1949, 2240, 2240, 2240, 2240, 2332, 2332, 2332, 2332, 2702, 2702, 2702, 2702, 2857, 2857, 2857, 2857, 2926, 2926, 2926, 2926, 2930, 2930, 2930, 2930, 3679, 3679, 3679, 3679, 3805, 3805, 3805, 3805, 4073, 4073, 4073, 4073, ...], 'make_up_department': [36, 36, 36, 36, 206, 206, 206, 206, 324, 324, 324, 324, 412, 412, 412, 412, 449, 449, 449, 449, 546, 546, 546, 546, 608, 608, 608, 608, 834, 834, 834, 834, 948, 948, 948, 948, 1188, 1188, 1188, 1188, 1303, 2099, 2099, 2099, 2099, 2223, 2223, 2223, 2223, 3017, 3017, 3017, 3017, 3681, 3681, 3681, 3681, 3789, 3789, 3789, 3789, 3823, 3823, 3823, 3823, 3973, 3973, 3973, 3973, 4039, 4039, 4039, 4039, 4203, 4203, 4203, 4203, 5016, 5016, 5016, 5803, 5803, 5803, 5803, 5951, 5951, 5951, 5951, 5977, 5977, 5977, 5977, 6031, 6031, 6031, 6031, 6133, 6133, 6133, 6133, ...], 'manager': [1011, 1011, 1011, 1011, 2027, 2027, 2027, 2139, 2139, 2139, 2139, 4807, 4807, 4807, 4807, 5742, 5742, 5742, 5742, 6667, 6667, 6667, 6667, 7056, 7056, 7056, 7056, 7515, 7515, 7515, 7515, 7944, 7944, 7944, 7944, 8075, 8075, 8075, 8075, 10691, 10691, 10691, 10691, 11182, 11182, 11182, 11182, 11753, 11753, 11753, 11753, 13070, 13070, 13070, 13070, 14152, 14152, 14152, 14152, 14631, 14631, 14631, 14631, 15911, 15911, 15911, 15911, 16663, 16663, 16663, 16663, 16690, 16690, 16690, 16690, 16961, 16961, 16961, 18422, 18422, 18422, 18422, 19066, 19066, 19066, 19066, 19187, 19187, 19187, 19187, 19197, 19197, 19197, 19197, 19454, 19454, 19454, 19454, 19565, 19565, ...], 'miscellaneous': [0, 0, 0, 0, 2, 2, 2, 2, 5, 5, 5, 5, 9, 9, 9, 9, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 18, 18, 18, 18, 27, 27, 27, 27, 35, 35, 35, 35, 39, 39, 39, 39, 50, 50, 50, 56, 56, 56, 56, 60, 60, 60, 60, 70, 70, 70, 70, 73, 73, 73, 73, 76, 76, 76, 76, 77, 77, 77, 77, 88, 88, 88, 88, 109, 109, 109, 109, 122, 122, 122, 122, 124, 124, 124, 124, 145, 145, 145, 145, 147, 147, 147, 147, 154, 154, 154, 154, 158, ...], 'music_department': [1, 1, 1, 1, 8, 8, 8, 8, 47, 47, 47, 47, 57, 57, 57, 57, 59, 59, 59, 59, 72, 72, 72, 72, 75, 75, 75, 75, 98, 98, 98, 98, 99, 99, 99, 99, 137, 137, 137, 137, 168, 168, 168, 168, 184, 184, 184, 184, 187, 187, 187, 187, 190, 190, 190, 190, 230, 230, 230, 230, 238, 238, 238, 238, 253, 253, 253, 253, 259, 259, 259, 259, 342, 342, 342, 342, 350, 350, 350, 350, 372, 372, 372, 372, 376, 376, 376, 376, 378, 378, 378, 378, 393, 393, 393, 393, 424, 424, 424, 424, ...], 'producer': [0, 0, 0, 0, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 18, 18, 18, 18, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 31, 31, 31, 31, 33, 33, 33, 33, 34, 34, 34, 34, 39, 39, 39, 39, 42, 42, 42, 42, 44, 44, 44, 44, 48, 48, 48, 48, 49, 49, 49, 49, 50, 50, 50, 52, 52, 52, 52, 54, 54, 54, 54, 55, 55, 55, 55, 60, 60, 60, 60, 63, 63, 63, 63, 65, 65, 65, 65, 69, 69, ...], 'production_designer': [4, 4, 4, 4, 86, 86, 86, 86, 165, 165, 165, 165, 189, 189, 189, 189, 283, 283, 283, 283, 449, 449, 449, 449, 550, 550, 550, 550, 571, 571, 571, 571, 582, 582, 582, 582, 591, 591, 591, 591, 714, 714, 714, 714, 750, 750, 750, 750, 911, 911, 911, 911, 925, 925, 925, 925, 941, 941, 941, 941, 1015, 1015, 1015, 1015, 1134, 1134, 1134, 1134, 1152, 1152, 1152, 1152, 1168, 1168, 1168, 1168, 1211, 1211, 1211, 1211, 1228, 1228, 1228, 1228, 1277, 1277, 1277, 1277, 1358, 1358, 1358, 1358, 1586, 1586, 1586, 1586, 1814, 1814, 1814, 1814, ...], 'production_manager': [0, 0, 0, 0, 5, 5, 5, 5, 11, 11, 11, 11, 44, 44, 44, 44, 80, 80, 80, 80, 156, 156, 156, 156, 162, 162, 162, 162, 163, 163, 163, 163, 180, 180, 180, 180, 196, 196, 196, 196, 207, 207, 207, 207, 220, 220, 220, 220, 248, 248, 248, 248, 285, 285, 285, 285, 307, 307, 307, 307, 330, 330, 330, 330, 343, 343, 343, 343, 381, 381, 381, 381, 436, 436, 436, 436, 443, 443, 443, 443, 520, 520, 520, 520, 536, 536, 536, 536, 538, 538, 557, 557, 557, 557, 572, 572, 572, 572, 589, 589, ...], 'publicist': [17956, 54271, 54271, 54271, 54271, 55427, 55427, 55427, 55427, 91768, 91768, 91768, 97473, 97473, 97473, 97473, 99962, 99962, 99962, 99962, 105480, 105480, 105480, 105480, 106847, 106847, 106847, 106847, 121228, 121228, 121228, 121228, 124273, 124273, 124273, 124273, 124576, 133582, 133582, 133582, 145668, 145668, 145668, 145668, 145946, 145946, 145946, 147176, 147176, 147176, 148610, 148610, 148610, 148610, 157900, 157988, 157988, 157988, 157988, 162157, 162157, 162157, 162157, 167350, 167350, 188119, 188119, 188119, 188119, 188923, 188923, 188923, 188923, 197539, 197539, 197539, 197539, 205534, 205534, 205534, 205534, 208582, 208582, 208582, 208582, 209647, 209647, 209647, 209647, 214839, 214839, 216944, 216944, 216944, 216944, 220763, 220763, 220763, 220763, 221666, ...], 'set_decorator': [4, 4, 4, 4, 86, 86, 86, 86, 571, 571, 571, 571, 714, 714, 714, 714, 911, 911, 911, 911, 925, 925, 925, 925, 941, 941, 941, 941, 1152, 1152, 1152, 1152, 1277, 1277, 1277, 1277, 1586, 1586, 1586, 1586, 2543, 2543, 2543, 2543, 2569, 2569, 2569, 2569, 2836, 2836, 2836, 2836, 2867, 2867, 2867, 2986, 2986, 2986, 2986, 3459, 3459, 3459, 3459, 3794, 3794, 3794, 3794, 5028, 5028, 5028, 5028, 5140, 5140, 5140, 5140, 5435, 5435, 5435, 5435, 5551, 5551, 5551, 5551, 5744, 5744, 5744, 5744, 6132, 6132, 6132, 6132, 6147, 6147, 6147, 6147, 6178, 6178, 7362, 7362, 7362, ...], 'sound_department': [1, 1, 1, 1, 45, 45, 45, 45, 47, 47, 47, 47, 72, 72, 72, 72, 97, 97, 97, 97, 134, 134, 134, 134, 184, 184, 184, 184, 191, 191, 191, 191, 399, 399, 399, 399, 412, 412, 412, 412, 417, 417, 417, 417, 421, 421, 421, 421, 429, 429, 429, 429, 442, 442, 442, 442, 467, 467, 467, 467, 651, 651, 651, 651, 675, 675, 675, 675, 727, 727, 727, 727, 729, 729, 729, 729, 732, 732, 732, 732, 765, 765, 765, 765, 777, 777, 777, 777, 783, 783, 783, 783, 808, 808, 808, 808, 824, 824, 824, 824, ...], 'soundtrack': [7, 7, 7, 7, 8, 8, 8, 8, 28, 28, 28, 28, 32, 32, 32, 32, 63, 63, 63, 63, 64, 64, 64, 64, 82, 82, 82, 82, 88, 88, 88, 88, 91, 91, 91, 91, 98, 98, 98, 98, 99, 99, 99, 99, 101, 101, 101, 101, 137, 137, 137, 137, 160, 160, 160, 160, 161, 161, 161, 161, 168, 168, 168, 168, 187, 187, 187, 187, 194, 194, 194, 194, 200, 200, 200, 200, 226, 226, 226, 226, 246, 246, 246, 246, 253, 253, 253, 253, 256, 256, 256, 256, 276, 276, 276, 276, 293, 293, 293, 293, ...], 'special_effects': [29, 29, 29, 29, 102, 102, 102, 102, 206, 206, 206, 206, 247, 247, 247, 247, 438, 438, 438, 438, 546, 546, 546, 546, 608, 608, 608, 608, 1188, 1188, 1188, 1188, 2099, 2099, 2099, 2099, 2238, 2238, 2238, 2238, 2262, 2262, 2262, 2262, 2799, 2799, 2799, 2799, 2815, 2815, 2815, 2815, 3017, 3017, 3017, 3017, 3117, 3117, 3117, 3117, 3681, 3681, 3681, 3681, 3789, 3789, 3789, 3789, 3955, 3955, 3955, 3955, 3973, 3973, 3973, 3973, 4207, 4207, 4207, 4207, 4677, 4677, 4677, 4677, 4725, 4725, 4725, 4725, 5602, 5602, 5602, 5602, 5951, 5951, 5951, 5951, 5977, 5977, 5977, 5977, ...], 'stunts': [57, 57, 57, 57, 121, 121, 121, 121, 273, 273, 273, 273, 790, 790, 790, 790, 898, 898, 898, 898, 901, 901, 901, 901, 946, 946, 946, 946, 1037, 1037, 1037, 1037, 1133, 1133, 1133, 1133, 1190, 1190, 1190, 1190, 1218, 1218, 1218, 1218, 1588, 1588, 1588, 1588, 1680, 1680, 1680, 1680, 1707, 1707, 1707, 1707, 1759, 1759, 1759, 1759, 2031, 2031, 2031, 2031, 2182, 2182, 2182, 2182, 2272, 2272, 2272, 2272, 2297, 2297, 2297, 2297, 2527, 2527, 2527, 2527, 2542, 2542, 2542, 2542, 2592, 2592, 2592, 2592, 2620, 2620, 2620, 2620, 2704, 2704, 2704, 2704, 2734, 2734, 2734, 2734, ...], 'talent_agent': [2716, 2716, 2716, 3267, 3267, 3267, 3267, 3455, 3455, 3455, 3455, 4141, 4141, 4141, 4141, 5865, 5865, 5865, 5865, 7886, 7886, 7886, 7886, 9198, 9198, 9198, 9198, 9606, 9606, 10448, 10448, 10448, 10448, 10556, 10556, 16521, 16521, 16961, 16961, 16961, 18447, 18447, 18447, 18447, 18551, 18551, 18551, 18551, 19185, 19185, 19185, 19185, 22372, 22372, 22372, 22372, 29168, 29168, 29168, 29168, 36323, 36323, 36323, 36323, 37436, 37436, 37436, 37436, 40893, 40893, 43088, 43088, 43088, 43088, 48114, 48114, 48517, 48517, 48517, 48517, 49198, 49198, 49198, 49198, 49546, 49546, 49546, 49546, 50510, 50510, 50510, 50510, 57010, 57010, 57010, 57010, 57033, 57033, 57033, 57033, ...], 'transportation_department': [413, 413, 413, 413, 4266, 4266, 4266, 4266, 4929, 4929, 4929, 4929, 5643, 5643, 5643, 5643, 6283, 6283, 6283, 6283, 6515, 6515, 6515, 6515, 7510, 7510, 7510, 7510, 9621, 9621, 9621, 9621, 10830, 10830, 13043, 13043, 13043, 13043, 13378, 13378, 13378, 13378, 13778, 13778, 13778, 13778, 15397, 15397, 15397, 15397, 16976, 16976, 16976, 16976, 17125, 17125, 17125, 17125, 17808, 17808, 17808, 17808, 18826, 18826, 18826, 18826, 19235, 19235, 19235, 19235, 20673, 20673, 20673, 20673, 21068, 21068, 21068, 21068, 22759, 22759, 22759, 22759, 22786, 22786, 22786, 22786, 22923, 22923, 22923, 22923, 24610, 24610, 24610, 24610, 26323, 26323, 26323, 26323, 26705, 26705, ...], 'visual_effects': [26, 26, 26, 26, 155, 155, 155, 155, 317, 317, 317, 317, 383, 383, 383, 383, 403, 403, 403, 403, 427, 427, 427, 609, 609, 609, 609, 683, 683, 683, 683, 685, 685, 685, 685, 784, 784, 784, 784, 792, 792, 792, 792, 990, 990, 990, 990, 1015, 1015, 1015, 1015, 1115, 1115, 1

In [ ]:
NBdf.groupby(by=["primary_profession"]).sum()

In [73]:
NBdf.loc[NBdf["primary_profession"["miscellaneous"]]]

TypeError: string indices must be integers

In [68]:
NBdf["primary_profession"].loc[['miscellaneous']]

KeyError: "None of [Index(['miscellaneous'], dtype='object')] are in the [index]"

In [61]:
# Create a new df to assign the secondary column 
# to previous exploded data to ensure that all
# names have professions, and each profession has 
# a tconst
NBdf = NBDEdf.explode("known_for_titles")
NBdf.head()

      nconst       primary_name  primary_profession known_for_titles
0  nm0061671  Mary Ellen Bauder       miscellaneous        tt0837562
0  nm0061671  Mary Ellen Bauder       miscellaneous        tt2398241
0  nm0061671  Mary Ellen Bauder       miscellaneous        tt0844471
0  nm0061671  Mary Ellen Bauder       miscellaneous        tt0118553
0  nm0061671  Mary Ellen Bauder  production_manager        tt0837562

We should rename known_for_titles to tconst, since we will use this data later to combine tables, and why wait! Using df.rename({'undesired_column_name': 'desired_column_name'}, axis='columns', inplace = True).

In [64]:
NBdf.rename({'known_for_titles': 'tconst'}, axis='columns', inplace = True)
NBdf.head()

      nconst       primary_name  primary_profession     tconst
0  nm0061671  Mary Ellen Bauder       miscellaneous  tt0837562
0  nm0061671  Mary Ellen Bauder       miscellaneous  tt2398241
0  nm0061671  Mary Ellen Bauder       miscellaneous  tt0844471
0  nm0061671  Mary Ellen Bauder       miscellaneous  tt0118553
0  nm0061671  Mary Ellen Bauder  production_manager  tt0837562

In [75]:
# Double check all null are absent
NullPer('nconst', NBdf)
NullPer('primary_name', NBdf)
NullPer('primary_profession', NBdf)
NullPer('tconst', NBdf)

Null Percentage nconst 0.0
Null Percentage primary_name 0.0
Null Percentage primary_profession 0.0
Null Percentage tconst 0.0

In [ ]:
# nconst will connect to TPdf to pair with each primary_name

In [ ]:
# imdb.title.akas.csv.gz
TAdf
# I don't think I need this
# Delete region, language, types, attributes, is_original_title

In [ ]:
# imdb.title.basics.csv.gz
TBdf

In [78]:
# imdb.title.crew.csv.gz
TCrawdf.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

Let's explode directors into new df, and remove null, then writers into new df, removing null, then 

director and writers are nconst vlaues, and need to be assigned accordinginly to each. So, make new df for each, remove other column, explode, remove null, make new column and assing director or writer respectfully, nconst is new index?

In [81]:
TCrawDdf = TCrawdf[["tconst", "directors"]]
TCrawDdf.head()

      tconst                      directors
0  tt0285252                      nm0899854
1  tt0438973                            NaN
2  tt0462036                      nm1940585
3  tt0835418                      nm0151540
4  tt0878654  nm0089502,nm2291498,nm2292011

In [82]:
TCrawWdf = TCrawdf[["tconst", "writers"]]
TCrawWdf.head()

      tconst              writers
0  tt0285252            nm0899854
1  tt0438973  nm0175726,nm1802864
2  tt0462036            nm1940585
3  tt0835418  nm0310087,nm0841532
4  tt0878654            nm0284943

In [91]:
# To remove "," and split data
TCrawDdf["directors"] = TCrawDdf["directors"].str.split(",")
TCrawWdf["writers"] = TCrawWdf["writers"].str.split(",")

# To explode data from columns and apply to tconst
TCrawDEdf = TCrawDdf.explode("directors")
TCrawWEdf = TCrawWdf.explode("writers")

TCrawDEdf.head()

AttributeError: Can only use .str accessor with string values!

In [ ]:
# imdb.title.principals.csv.gz
TPdf

In [ ]:
# imdb.title.ratings.csv.gz
TRdf

In [ ]:
# rt.movie_info.tsv.gz
MIdf.keys()

In [ ]:
# tmdb.movies.csv.gz
Mdf
# rm Unnamed, original_language, original_title (most likely), vote_average, vote_count

In [ ]:
# tn.movie_budgets.csv.gz
MBrawdf
# change movie to title, Delete id (maybe)

In [ ]:
MBrawdf.columns

In [ ]:
MBrawdf.rename({'movie': 'primary_title'}, axis='columns', inplace = True)
MBrawdf

In [ ]:
MB_TBdf.loc[MB_TBdf['primary_title'] == "Avatar"]

In [ ]:
MGdf = MGrawdf.dropna(subset=['studio', 'domestic_gross'])

In [ ]:
MB_TBdf = MBrawdf.merge(TBrawdf, how='right', on='primary_title')
MB_TBdf.dropna(subset=['production_budget', 'domestic_gross', 'worldwide_gross'], inplace = True)

MB_TBdf

In [ ]:
MB_TBdf.shape

In [ ]:
# Split and Explode for genre, 
# GROUPBY genre
# Find ROI with new column as formula

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby

In [76]:
# To find similar columns
print(f'Movie Gross:', MGdf.keys())
print(f'Name Basics:', NBdf.keys())
print(f'Title AKAs:', TAdf.keys())
print(f'Title Basics:', TBdf.keys())
print(f'Title Crew:', TCdf.keys())
print(f'Title Principals:', TPdf.keys())
print(f'Title Ratings:', TRdf.keys())
print(f'Movie Info:',MIdf.keys())
print(f'Movies:',Mdf.keys())
print(f'Movie Budgets:',MBdf.keys())

Movie Gross: Index(['title', 'studio', 'domestic_gross', 'year'], dtype='object')
Name Basics: Index(['nconst', 'primary_name', 'primary_profession', 'tconst'], dtype='object')

NameError: name 'TAdf' is not defined

Movie Gross + Movies by title
Movie + Movie Budget by id 
Movie Info (remove column 0) + by title

In [ ]:
TC_TPdf = TCdf.merge(TPdf, how='right', on='tconst')
TC_TPdf

In [ ]:
TC_TBdf = TC_TPdf.merge(TBdf, how='right', on='tconst')
TC_TBdf

In [ ]:
# To find similar columns
print(f'Movie Gross:', MGdf.keys())
print(f'Title AKAs:', TAdf.keys())
print(f'Merged Title Basics:', TC_TBdf.keys())
print(f'Movie Info:',MIdf.keys())
print(f'Movies:',Mdf.keys())
print(f'Movie Budgets:',MBdf.keys())

In [ ]:
TB_ = TP_TBdf.merge(MBdf, how='left', on='tconst')
TCdf

In [ ]:


#Run individually
print(f'Movie Gross:', MGdf.head())
print(f'Name Basics:', NBdf.head())
print(f'Title AKAs:', TAdf.head())
print(f'Title Basics:', TBdf.head())
print(f'Title Crew:', TCdf.head())
print(f'Title Principals:', TPdf.head())
print(f'Title Ratings:', TRdf.head())
print(MIdf.head())

print(f'Movies:',Mdf.head())
print(f'Movie Budgets:',MBdf.head())

In [ ]:
# Pure curiousity
MGdf.describe()
# could potentially be used for comparing genres

### Key Points

* **Your analysis should yield three concrete business recommendations.** The ultimate purpose of exploratory analysis is not just to learn about the data, but to help an organization perform better. Explicitly relate your findings to business needs by recommending actions that you think the business (Microsoft) should take.

* **Communicating about your work well is extremely important.** Your ability to provide value to an organization - or to land a job there - is directly reliant on your ability to communicate with them about what you have done and why it is valuable. Create a storyline your audience (the head of Microsoft's new movie studio) can follow by walking them through the steps of your process, highlighting the most important points and skipping over the rest.

* **Use plenty of visualizations.** Visualizations are invaluable for exploring your data and making your findings accessible to a non-technical audience. Spotlight visuals in your presentation, but only ones that relate directly to your recommendations. Simple visuals are usually best (e.g. bar charts and line graphs), and don't forget to format them well (e.g. labels, titles).

## Deliverables

There are three deliverables for this project:

* A **non-technical presentation**
* A **Jupyter Notebook**
* A **GitHub repository**