## Microsoft Movie Pitch Submission

* Student name: **Ashleigh Stephens**
* Student pace: FLEX 60 Wk
* Scheduled project review date/time: 
* Instructor name: Abhineet
* Blog post URL: N/A

In this project description, we will cover:

* [***Project Overview:***](#project-overview) the project goal, audience, and dataset
* [***Deliverables:***](#deliverables) the specific items you are required to produce for this project
* [***Grading:***](#grading) how your project will be scored
* [***Getting Started:***](#getting-started) guidance for how to begin your first project

## Project Overview

Using exploratory data analysis to generate insights for a Microsoft stakeholder.

### Project Goal

To get Microsoft in on all the creating original video content fun the other big companies are having, we're exploring what types of films are currently doing the best at the box office. To give greater insight into creating movies, we're translating findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create in a new movie studio.

### Audience

(https://www.motionpictures.org/wp-content/uploads/2022/03/MPA-2021-THEME-Report-FINAL.pdf)
USE THIS, MAKE GRAPHS FROM DATA, 

(https://www.sawa.com/why-cinema/audience)
Specifically, cinemagoers are typically younger than the population with generally half of the visits made by people in the key 14 to 34 demographic. Cinemagoing has increased against all age groups in the last few years, with the most dramatic growth seen amongst the over 25’s. Movie’s remakes made in the last 10 years have attracted an older age group and brought more people back to the movies. Approximately ¾ of a typical cinema audience are frequent cinemagoers, who go to the movies on average at least once every 4 weeks.

Frequent moviegoers are a highly desirable audience for advertisers. They are usually young and affluent, with high disposable incomes. They are avid shoppers, into fashion and technology and lead busy and active lives making them difficult to target with other media.

Cinema is an ideal medium to target the more affluent sectors of the population with good levels of disposable income. It can be safely said that the Cinema going Audience is one of the most sought after sectors of the population. Cinemagoers typically have good education levels, with cinema an ideal medium to target people in higher education.

(https://variety.com/2018/film/news/latino-asian-moviegoers-mpaa-study-1202743713/)
Caucasians, who represent 61% of the U.S. population, amounted to 54% of frequent moviegoers, while African-Americans represented 12% of the population and 10% of frequent moviegoers. Caucasians bought 55% of all tickets, followed by 23% for Latinos, 12% for African-Americans and 7% for Asians.

### The Data

In the folder `zippedData` are movie datasets from:

* [Box Office Mojo](https://www.boxofficemojo.com/)
* [IMDB](https://www.imdb.com/)
* [Rotten Tomatoes](https://www.rottentomatoes.com/)
* [TheMovieDB](https://www.themoviedb.org/)
* [The Numbers](https://www.the-numbers.com/)

It is up to you to decide what data from this to use and how to use it. If you want to make this more challenging, you can scrape websites or make API calls to get additional data. If you are feeling overwhelmed or behind (e.g. struggled with the Phase 1 Code Challenge), we recommend you use only the following data files:

* imdb.title.basics
* imdb.title.ratings
* bom.movie_gross

Focusing on genres, look at ROI
Secondary; directors, writers, 

Productivity = Units of Input/Units of Output; 
    money in/money out per publisher
Customer Satisfaction Score = (Total Survey Point Score / Total Questions) x 100;
    ratings 
    
Gross Profit Margin = (Total Profit-Total Costs)/100; 
    looking to the future in the pitch for genre
ROI = (Net Benefits/Costs) x 100; 
    look at specific benefit of project

# **Importing Data**

The data we will work with is saved in the folder `zippedData` and we will import them. Fortunately Pandas support zip files, so we won't need combine and open the data, although we could.

In [2]:
# **Importing Data**

# Packages to preform data analysis of files
import pandas as pd  # Alias pandas to be referred to as pd
import numpy as np  # Alias numpy to be referred to as np
import matplotlib.pyplot as plt  # Alias matplotlib.pyplot to be referred to as plt
import seaborn as sns  # Alias seaborn to be referred to as sns
from glob import glob # Could be used to import zipped files as one file
import os # Could be used to view zipped files

# Allows plot outputs
%matplotlib inline 

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None) # For pandas 
import sys
sys.setrecursionlimit(1500)

### DataFrame and File Alias with Orgianzation Key

The following datasets are utilized within the project:

### Original file: imdb.title.principals.csv.gz
    Loaded as TPrawddf | Finalized as: TPdf 

### Original file: rt.movie_info.tsv.gz
    Loaded as MIrawddf | Finalized as: MIdf 

1. Information regarding the name of movies, release data, production budget, domestic gross, and worldwide gross.
**Original file: tn.movie_budgets.csv.gz | Loaded as MBrawddf | Finalized as: MBdf** 

2. Information regarding the average rating of each movie.
**Original file: imdb.title.ratings.csv.gz | Loaded as TRrawddf | Finalized as: TRdf**  

3. Information regarding name of the movies, genres, release data, language of movies, etc.
**Original file: tmdb.movies.csv.gz | Loaded as Mrawddf | Finalized as: Mdf** 

4. Information regarding the name of the movies, genre etc.
**Original file: imdb.title.basics.csv.gz | Loaded as TBrawddf | Finalized as: TBdf** 

5. Information regarding associating the name of a movie with a unique id it has in other data frames.
**Original file: imdb.title.akas.csv.gz | Loaded as TArawddf | Finalized as: TAdf**

6. Information regarding associating a specific director, writer, etc.
**Original file: imdb.name.basics.csv.gz | Loaded as NBrawddf | Finalized as: NBdf** 

7. Information regarding associating the name of the director and the write of a movie.
**Original file: imdb.title.crew.csv.gz | Loaded as TCrawddf | Finalized as: TCdf**

8. Information regarding the studio, name of the movie, domestic and foreign grosses and the production year.
**Original file: bom.movie_gross.csv.gz | Loaded as MGrawdf | Finalized as: MGdf**

## Load Files

In [3]:
# ***loading zip files***

# bom.movie_gross.csv.gz
MGrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/bom.movie_gross.csv.gz")
# imdb.name.basics.csv.gz
NBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.name.basics.csv.gz")
# imdb.title.akas.csv.gz
TArawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.akas.csv.gz")
# imdb.title.basics.csv.gz
TBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.basics.csv.gz")
# imdb.title.crew.csv.gz
TCrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.crew.csv.gz")
# imdb.title.principals.csv.gz
TPrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.principals.csv.gz")
# imdb.title.ratings.csv.gz
TRrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.ratings.csv.gz")
# rt.movie_info.tsv.gz
MIrawdf = pd.read_table("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/rt.movie_info.tsv.gz")
# tmdb.movies.csv.gz
Mrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tmdb.movies.csv.gz")
# tn.movie_budgets.csv.gz
MBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tn.movie_budgets.csv.gz")

## General Functions Utilized

Due to several calculations applying to multiple dataframes (df), the following functions are defined:
1. **NullPer**: This function returns the percentage of the `Null` value within a column.

2. **FloatMon**: This function will return a float object from string or float data. If the input is string and it contains $, this character is removed and returned as a float object.  

3. **StrSplit**: This function will take objects within a column in which data is stored in an undesired format, `a,b,c`, and return the list containing these object as `[a,b,c]` which will be used later to explode out the data. 

4. **BarPlot**: This function takes some quantities including the data and gives back the bar plot of the data.

### NullPer
Because we are going to use the methods `.isna().sum()` several times, we use the following function to calculate the percentage of the null values of each column.

### Spread: 
Show the 'Shape', 'Null Sum' and 'Null Percentage' per column within a dataframe.

In [3]:
def NullPer(column, df):
    PercentNull = (df[column].isnull().sum()
                   / len(df)) * 100
    return print(f'Null Percentage',(column),(round(PercentNull, 2)))

def spread(df):
    PercentNull = (df.apply(lambda x: x.isna().sum()
                   / len(df))) * 100 
    return print(f'***Shape:***', df.shape,
                 f'***Null Sum Per Column:***', df.isna().sum(),
                 f'***Null Percentage within Columns:***',
                 (round(PercentNull, 2)))

### FloatMon
Converting Columns that represent budgets or income from object to float. It should be only used for columns that are related to budget or earnings.

In [27]:
def FloatMon(column, df):
    if (type([column]) == str) or (type([column]) == object):        
        if ("$" in data):            
            data = df[column].replace("$", "").replace(",","")
            return float(FloatMon(column, df))
        else:
            return float(FloatMon(column, df))
    else:
        return float(FloatMon(column, df))

### StrSplit
Preparing columns for `.explode()`.

In [6]:
def s(column, df):
    s_df = df[column].str.split(",")
    return s_df

In [7]:
def e(column, df):
    e_df  = s_df.explode(df[column])
    se_df = e_df.explode(e_df[column])

In [ ]:
s("primary_profession", NBrawdf)

In [ ]:
e("primary_profession", NBrawdf)

In [ ]:
s_edf.head()

In [ ]:
NBrawdf.head()

### Explode

In [8]:
def explode(column,df):
    Edf = df.explode([column])
    return Edf.head()

In [ ]:
NBDdf["primary_profession"] = NBrawdf["primary_profession"].str.split(",")

### BarPlot:

Because we are going to plot several bar plots, we will define a function to reduce the work.

In [9]:
def bar_plot(data, x_val, y_val                  # values of x and y axes
                 , x_label, y_label              # labes for x and y axes
                 , x_rotation                    # angle of x ticks 
                 , y_rotation                    # angle of y ticks
                 , title_I, title_II             # two strings for title
                 , fnt                           # font size
                 , figure_size):                 # figure size
    
    sns.set(rc={"figure.figsize":figure_size}, font = "Times") 

    

    title = f"\n Top {title_I} with the Highest {title_II}\n"
    sns.barplot(x = x_val, y = y_val, data = data, 
            color = "tab:blue").set_title(title,
                                         fontdict = { 'fontsize': fnt})
    plt.xticks(rotation = x_rotation, fontsize = fnt)
    plt.yticks(rotation = y_rotation, fontsize = fnt)
    plt.xlabel(f"\n {x_label}", fontsize = fnt)
    plt.ylabel(y_label, fontsize = fnt)
    plt.show()

## Spread: 
Show the 'Shape', 'Null Sum' and 'Null Percentage' per column within a dataframe.

In [ ]:
def spread(df):
    PercentNull = (df.apply(lambda x: x.isnull().sum()
                   / len(df))) * 100 
    return print(f'***Shape:***', df.shape,
                 f'***Null Sum Per Column:***', df.isnull().sum(),
                 f'***Null Percentage within Columns:***',
                 (round(PercentNull, 2)))

In [ ]:
spread(NBrawdf)

To see the size before I begin to merge data to make sure data isn't lost

In [ ]:
## DELETE ##
print(f'Movie Gross:', MGrawdf.shape)
print(f'Name Basics:', NBrawdf.shape)
print(f'Title AKAs:', TArawdf.shape)
print(f'Title Basics:', TBrawdf.shape)
print(f'Title Crew:', TCrawdf.shape)
print(f'Title Principals:', TPrawdf.shape)
print(f'Title Ratings:', TRrawdf.shape)
print(f'Movie Info:',MIrawdf.shape)
print(f'Movies:', Mrawdf.shape)
print(f'Movie Budgets:', MBrawdf.shape)

To see the size before I begin to merge data 'df.shape' is used. To see what columns exist and null data within 'df.isnull().sum()' is used. By dividing the missing data sum by size will give you the percentage of missing data. Significant missing data will be replaced or culled.

In [ ]:
## DELETE ##
print(f'Movie Gross:', 
      MGrawdf.shape,
      MGrawdf.isnull().sum())
print(f'Name Basics:', 
      NBrawdf.shape,
      NBrawdf.isnull().sum())
print(f'Title AKAs:', 
      TArawdf.shape,
      TArawdf.isnull().sum())
print(f'Title Basics:', 
      TBrawdf.shape,
      TBrawdf.isnull().sum())
print(f'Title Crew:', 
      TCrawdf.shape,
      TCrawdf.isnull().sum())
print(f'Title Principals:', 
      TPrawdf.shape,
      TPrawdf.isnull().sum())
print(f'Title Ratings:', 
      TRrawdf.shape,
      TRrawdf.isnull().sum())
print(f'Movie Info:', 
      MIrawdf.shape,
      MIrawdf.isnull().sum())
print(f'Movies:', 
      Mrawdf.shape,
      Mrawdf.isnull().sum())
print(f'Movie Budgets:', 
      MBrawdf.shape,
      MBrawdf.isnull().sum())

Now to look at the columns present in each table in anticipation of merges; replace or delete null values and delete unnecessary columns.

In [10]:
# MGdf = bom.movie_gross.csv.gz
# Look at Movie Gross first
spread(MGrawdf)

***Shape:*** (3387, 5) ***Null Sum Per Column:*** title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64 ***Null Percentage within Columns:*** title              0.00
studio             0.15
domestic_gross     0.83
foreign_gross     39.86
year               0.00
dtype: float64

In [ ]:
# Find the percentage of missing values:
# Sum of null values divided by total instances
# multiply by 100 to get %

# Formula to shorten time for other columns
def NullPer(column, df):
    PercentNull = (df[column].isnull().sum()
                   / len(df)) * 100
    return print(f'Null Percentage',(column),(round(PercentNull, 2)))

In [ ]:
# Run test to see if values match from above
NullPer('domestic_gross', MGrawdf)
NullPer('foreign_gross', MGrawdf)

Within Movie Gross, columns stuido and domestic_gross are under 1%, so removing the missing values are the best to clean the data and keep the remaining column data; df.dropna(subset=['column']). 

Unfortunately, foreign_gross has nearly 40% of missing values. Becuase we are unsure if the data is missing, or if the film never opened in foreign markets, we should remove the entire column. If we could pull the data from another table or website, then we may be able to assign $0 value to those movies that never made it to foreign markets and assign true missing and null values respectfully. Alas, we will delete the column due to data availability using df.drop('foreign_gross', 1).

In [ ]:
# remove null values from dataframe
MGdf = MGrawdf.dropna(subset=['studio', 'domestic_gross'])

# check null values were dropped
NullPer('studio', MGdf)
NullPer('domestic_gross', MGdf)
NullPer('foreign_gross', MGdf)

# double check change in shape
print(f'Movie Gross:', 
      MGdf.shape,
      MGdf.isnull().sum())

Due to missing data being removed from stuido and domestic_gross, altering the overall data shape, the percentage for foreign_gross changed slightly. 

Now to remove the foreign_gross column.

In [ ]:
# Remove foreign_gross column
MGdf = MGdf.drop('foreign_gross', 1)

# double check change in shape
print(f'Movie Gross:',
      MGdf.isnull().sum(),
      MGdf.shape,)

In [ ]:
# To check and see if any of the data is a duplicate
MGdf.duplicated().values.any()

In [ ]:
MGdf.head()

Movie Gross data looks great, so lets move on and see what other work needs to be done.

In [ ]:
# imdb.name.basics.csv.gz
NBrawdf.head()

Columns birth_year and death_year aren't needed for a merge and are irrevelant data; so we can delete them. 

The known_for_titles look to be tconst values, which are helpful in combining some of these tables. We will need to get the primary_profession values to assign to each primary_name and nconst value existing, then we can assign the known_for_titles to those rows as well; using df.explode().

In [ ]:
# Delete birth_year, death_year and assign new df
NBDdf = NBrawdf.drop(columns=['birth_year', 'death_year'])
NBDdf.head()

In [ ]:
# To check each column for null values
NullPer('nconst', NBDdf)
NullPer('primary_name', NBDdf)
NullPer('primary_profession', NBDdf)
NullPer('known_for_titles', NBDdf)

# To see overall shape
print(NBDdf.shape)

In [ ]:
# Removing the null values from columns
NBDdf = NBDdf.dropna(subset=['primary_profession', 'known_for_titles'])

In [ ]:
# To check the raw shape, before null 
# columns and values are removed
print(f'Raw Name Basics:', 
      NBrawdf.shape,
      NBrawdf.isnull().sum()),
print("                                ") # Just for ease of reading outputs

# To check each column for null values
NullPer('nconst', NBDdf)
NullPer('primary_name', NBDdf)
NullPer('primary_profession', NBDdf)
NullPer('known_for_titles', NBDdf)
print("                                ") # Just for ease of reading outputs

# Print to see what data has been lost
print(f'Name Basics:', 
      NBDdf.shape,
      NBDdf.isnull().sum())

From the shape comparison of Raw Name Basics and Name Basics, you can see that birth_year and death_year has been successfully removed and I've lost 71,511 enteries. Farewell null data!

In [ ]:
NBDdf.head()

Data within primary_profession and known_for_titles has multiple enteries per entry within nconst and primary_name. To access the data and combine it with other tables, the data needs to be separately assinged, using str.split() and .explode().

In [ ]:
# Seperating the strings within columns by "," and replacing
# the columns within the same df.
NBDdf["primary_profession"] = NBDdf["primary_profession"].str.split(",")
NBDdf["known_for_titles"] = NBDdf["known_for_titles"].str.split(",")
NBDdf.head()

In [ ]:
# Assigning a new df to explode the first column
NBDEdf = NBDdf.explode("primary_profession")

In [ ]:
# Create a new df to assign the secondary column 
# to previous exploded data to ensure that all
# names have professions, and each profession has 
# a tconst
NBdf = NBDEdf.explode("known_for_titles")
NBdf.head()

We should rename known_for_titles to tconst, since we will use this data later to combine tables, and why wait! Using df.rename({'undesired_column_name': 'desired_column_name'}, axis='columns', inplace = True).

In [ ]:
NBdf.rename({'known_for_titles': 'tconst'}, axis='columns', inplace = True)
NBdf.head()

In [ ]:
# Double check all null are absent
NullPer('nconst', NBdf)
NullPer('primary_name', NBdf)
NullPer('primary_profession', NBdf)
NullPer('tconst', NBdf)

In [ ]:
# Just for ease of reading outputs
# List of "values" within primary_profession column
NBdf.primary_profession.value_counts()

# If you'd like to see percentage instead, you could use
# NBdf.primary_profession.value_counts(normalize = True)

Data from Name Basics has been cleaned, althought we will mostly likely locate only desired professions in future extrapolations.

In [ ]:
# nconst will connect to TPdf to pair with each primary_name

In [ ]:
# imdb.title.akas.csv.gz
TAdf
# I don't think I need this
# Delete region, language, types, attributes, is_original_title

In [ ]:
# imdb.title.basics.csv.gz
TBdf

In [4]:
# imdb.title.crew.csv.gz
TCrawdf.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [5]:
TCrawdf["profession"] = TCrawdf["directors"].astype(str) +","+ TCrawdf["writers"]
TCrawdf.head()

,tconst,directors,writers,profession
0,tt0285252,nm0899854,nm0899854,"nm0899854,nm0899854"
1,tt0438973,NaN,"nm0175726,nm1802864","nan,nm0175726,nm1802864"
2,tt0462036,nm1940585,nm1940585,"nm1940585,nm1940585"
3,tt0835418,nm0151540,"nm0310087,nm0841532","nm0151540,nm0310087,nm0841532"
4,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,"nm0089502,nm2291498,nm2292011,nm0284943"

In [6]:
# Remove directors and writers
TCrawdf = TCrawdf.drop(columns=['directors', 'writers'])

# To remove "," and split data
TCrawdf["profession"] = TCrawdf["profession"].str.split(",")

# To explode data from columns and apply to tconst
TCrawEdf = TCrawdf.explode("profession")

TCrawEdf.head()

      tconst profession
0  tt0285252  nm0899854
0  tt0285252  nm0899854
1  tt0438973        nan
1  tt0438973  nm0175726
1  tt0438973  nm1802864

# Not right! FUCK TCdf
IDK how to assign duplicates of writer and director "writer,director", then assign unique writer/director values titles,

Let's explode directors into new df, and remove null, then writers into new df, removing null, then 

director and writers are nconst vlaues, and need to be assigned accordinginly to each. So, make new df for each, remove other column, explode, remove null, make new column and assing director or writer respectfully, nconst is new index?

In [ ]:
TCrawDdf = TCrawdf[["tconst", "directors"]]
TCrawDdf.head()

In [ ]:
TCrawWdf = TCrawdf[["tconst", "writers"]]
TCrawWdf.head()

In [ ]:
# To remove "," and split data
TCrawDdf["directors"] = TCrawDdf["directors"].str.split(",")
TCrawWdf["writers"] = TCrawWdf["writers"].str.split(",")

# To explode data from columns and apply to tconst
TCrawDEdf = TCrawDdf.explode("directors")
TCrawWEdf = TCrawWdf.explode("writers")

# To see the shape and null values
print(f"writers", TCrawWEdf.shape,
      TCrawWEdf.isnull().sum())
print(f"directors", TCrawDEdf.shape,
    TCrawDEdf.isnull().sum())

# Null Percentage
NullPer('writers', TCrawWEdf)
NullPer('directors', TCrawDEdf)

In [ ]:
TCrawWEdf['profession'] = 'writer' # You'll get a column of all 5s

In [ ]:
# To assign a profession column to each df
# I need to create new column, all saying writer, then rename columer writers as nconst
TCrawWEdf['profession'] = 'writer'
TCrawDEdf['profession'] = 'director'

In [ ]:
# rename proper column 'nconst'
TCrawWEdf.rename({'writers': 'nconst'}, axis='columns', inplace = True)
TCrawDEdf.rename({'directors': 'nconst'}, axis='columns', inplace = True)
TCrawWEdf.head()

In [ ]:
print(f"directors", TCrawDEdf.shape,
      TCrawDEdf.isnull().sum())
print(f"writers", TCrawWEdf.shape,
    TCrawWEdf.isnull().sum())

NullPer('nconst', TCrawWEdf)
NullPer('nconst', TCrawDEdf)

We can see that 'tconst' and 'profession' in both df do not contain null values. We could delete data now, but we should combine the tables, then delete null values or columns based on overall table size. Otherwise, we are cleaning the data, and altering the shape, which could affect the overall shape size and null value percantage.

In [ ]:
TCdf = TCrawWEdf.merge(TCrawDEdf, how='left', on=('nconst', 'tconst'))
print(TCdf.head())
print("Shape:", TCdf.shape)

In [ ]:
# Drop null values from 'nconst' in both df
TCrawWEdf=TCrawWEdf.dropna(subset=['nconst'])
TCrawDEdf=TCrawDEdf.dropna(subset=['nconst'])
NullPer('nconst', TCrawWEdf)
NullPer('nconst', TCrawDEdf)

### TP

In [ ]:
# imdb.title.principals.csv.gz
TPrawdf.head()

In [ ]:
# To check shape and null values
print(f'Title Principals:', 
      TPrawdf.shape,
      TPrawdf.isnull().sum())

# check null values 
NullPer('job', TPrawdf)
NullPer('characters', TPrawdf)

Job and Characters columns need to be deleted, each with null percentages about 50%, and we don't need ordering.

In [ ]:
# Remove null and undesired columns
TPdf = TPrawdf.drop(columns=['job', 'characters','ordering'])
TPdf.head()

Lets change category to 'primary_profession' so that it matches other df!

In [ ]:
TPdf.rename({'category': 'primary_profession'}, axis='columns', inplace = True)
TPdf.head()

TPdf is now clean!

In [ ]:
# remove null values from dataframe
MGdf = MGrawdf.dropna(subset=['studio', 'domestic_gross'])

# check null values were dropped
NullPer('studio', MGdf)
NullPer('domestic_gross', MGdf)
NullPer('foreign_gross', MGdf)

# double check change in shape
print(f'Movie Gross:', 
      MGdf.shape,
      MGdf.isnull().sum())

In [ ]:
# imdb.title.ratings.csv.gz
TRdf

In [ ]:
# rt.movie_info.tsv.gz
MIdf.keys()

In [ ]:
# tmdb.movies.csv.gz
Mdf
# rm Unnamed, original_language, original_title (most likely), vote_average, vote_count

### MB

In [11]:
# tn.movie_budgets.csv.gz
MBrawdf.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [12]:
print(spread(MBrawdf))

***Shape:*** (5782, 6) ***Null Sum Per Column:*** id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64 ***Null Percentage within Columns:*** id                   0.0
release_date         0.0
movie                0.0
production_budget    0.0
domestic_gross       0.0
worldwide_gross      0.0
dtype: float64
None

By using the function 'spread', we can see that this data frame does not contain any missing data as shown above.

In [13]:
# Rename columns
MBrawdf.rename({'movie': 'movie_title'}, axis='columns', inplace = True)

# Remove id
MBrawdf = MBrawdf.drop('id', 1)
MBrawdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

Lets change the `worldwide_gross`, `domestic_gross` and `production_budget` columns to floating numbers for calculations.

In [17]:
FloatMon('production_budget', MBrawdf)

TypeError: cannot convert the series to <class 'float'>

In [ ]:
FloatMon('production_budget', 'domestic_gross', 'worldwide_gross', MBrawdf)

Return on Investment (ROI)

Return on investment specifically looks at the dollar amount earned for the amount invested in a project. Instead of looking at overall profit, it looks at the specific benefit from the project divided by the costs.
To use this metric, a dollar amount needs to be assigned to each unit of data to determine the net benefits—benefits may include contribution to profit, cost savings, increased output, and improvements. Costs may include resources, labor, training, and overhead.
ROI = (Net Benefits/Costs) x 100

Since the movies are produced in different years and because the value of dollars in different years might be different due to different factors such as inflation rate etc, it might be a good idea to add a column to this data frame in which we store a non dimensional quantity which we obtain by combining the columns `worldwide_gross`, `domestic_gross` and `production_budget`. We name this new column `return_on_investment` which is calculated as

\begin{equation}
\mathcal{ROI} = \frac{d + w}{b} \label{return ROI}
\end{equation}

where $\mathcal{ROI}$ = `return_on_investment`, $d$ = `domestic_gross`, $w$ = `worldwide_gross`,  and $b$ = `production_budget`.

We need to first convert other columns from string to float by using the function `FloatMon` that we defined in the previous section before creating the column in focus. Then we use equation (\ref{return ROI}) to create the column `return_on_investment` as:

In [28]:
MBrawdf["production_budget"] = FloatMon("production_budget", MBrawdf)

RecursionError: maximum recursion depth exceeded while calling a Python object

In [24]:
MBrawdf["domestic_gross"] = (MBrawdf["domestic_gross"].apply(FloatMon("domestic_gross", MBrawdf)))
    
MBrawdf["worldwide_gross"] = (MBrawdf["worldwide_gross"].apply(FloatMon("worldwide_gross", MBrawdf)))

TypeError: cannot convert the series to <class 'float'>

In [ ]:
MBdf["return_on_investment"] = ((MBrawdf["domestic_gross"]
                        +MBrawdf["worldwide_gross"])
                                /MBrawdf["production_budget"])

TypeError: FloatMon() missing 1 required positional argument: 'df'

# I DON'T KNOW ABOUT THIS
## MAYBE ROI INSTEAD OR SOMETHING ELSE
Since the movies are produced in different years and because the value of dollars in different years might be different due to different factors such as inflation rate etc, it might be a good idea to add a column to this data frame in which we store a non dimensional quantity which we obtain by combining the columns `worldwide_gross`, `domestic_gross` and `production_budget`. We name this new column `return_ratio` which is calculated as

\begin{equation}
\mathcal{R} = \frac{d + w - b}{b} \label{return ratio}
\end{equation}

where $\mathcal{R}$ = `return_ratio`, $d$ = `domestic_gross`, $w$ = `worldwide_gross`,  and $b$ = `production_budget`.

We need to first convert other columns from string to float by using the function `FloatMon` that we defined in the previous section before creating the column in focus. Then we use equation (\ref{return ratio}) to create the column `return_ratio` as:

### TB

In [ ]:
TBrawdf.head()

In [ ]:
# Rename title column
TBrawdf.rename({'primary_title': 'movie_title'}, axis='columns', inplace = True)

In [ ]:
# Remove undesired columns
TBrawDdf = TBrawdf.drop('original_title', 1)
TBrawDdf.head()

In [ ]:
TBdf = TBrawDdf.drop('runtime_minutes', 1)
TBdf.head()

In [ ]:
MB_TBdf = MBrawdf.merge(TBrawdf, how='right', on='movie_title')
MB_TBdf.dropna(subset=['production_budget', 'domestic_gross', 'worldwide_gross'], inplace = True)

MB_TBdf.head()

In [ ]:
MB_TBdf.loc[MB_TBdf['movie_title'] == "Avatar"]

In [ ]:
category_type_writer = ['writer']

writers_groupby =  alive_writers[alive_writers['category'].isin(category_type_writer)]
writers_groupby.head()

# find the average budget by writer
writers_production_mean = round(writers_groupby.groupby('primary_name')['production_budget'].
                                   mean(), 0)

In [ ]:
MB_TBdf.shape

In [ ]:
# Split and Explode for genre, 
bom_movie_basics_joined['genres'] = bom_movie_basics_joined['genres'].str.split(
    pat=',')
bom_movie_basics_exploded = bom_movie_basics_joined.explode(
    'genres', ignore_index=True)

# GROUPBY genre


category_type_action = ['writer']

writers_groupby =  alive_writers[alive_writers['category'].isin(category_type_writer)]
writers_groupby.head()

# find the average budget by writer
writers_production_mean = round(writers_groupby.groupby('genre')['production_budget'].
                                   mean(), 0)

# Find the average per genre
bom_movie_basics_exploded_avg = bom_movie_basics_exploded.groupby(
    ['genres']).foreign_gross.mean().reset_index()
bom_movie_basics_exploded_avg
# Find ROI with new column as formula

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby

In [ ]:
# To find similar columns
print(f'Movie Gross:', MGdf.keys())
print(f'Name Basics:', NBdf.keys())
print(f'Title AKAs:', TAdf.keys())
print(f'Title Basics:', TBdf.keys())
print(f'Title Crew:', TCdf.keys())
print(f'Title Principals:', TPdf.keys())
print(f'Title Ratings:', TRdf.keys())
print(f'Movie Info:',MIdf.keys())
print(f'Movies:',Mdf.keys())
print(f'Movie Budgets:',MBdf.keys())

Movie Gross + Movies by title
Movie + Movie Budget by id 
Movie Info (remove column 0) + by title

In [ ]:
TC_TPdf = TCdf.merge(TPdf, how='right', on='tconst')
TC_TPdf.head()

In [ ]:
TC_TBdf = TC_TPdf.merge(TBdf, how='right', on='tconst')
TC_TBdf

In [ ]:
# To find similar columns
print(f'Movie Gross:', MGdf.keys())
print(f'Title AKAs:', TAdf.keys())
print(f'Merged Title Basics:', TC_TBdf.keys())
print(f'Movie Info:',MIdf.keys())
print(f'Movies:',Mdf.keys())
print(f'Movie Budgets:',MBdf.keys())

In [ ]:
TB_ = TP_TBdf.merge(MBdf, how='left', on='tconst')
TCdf

In [ ]:


#Run individually
print(f'Movie Gross:', MGdf.head())
print(f'Name Basics:', NBdf.head())
print(f'Title AKAs:', TAdf.head())
print(f'Title Basics:', TBdf.head())
print(f'Title Crew:', TCdf.head())
print(f'Title Principals:', TPdf.head())
print(f'Title Ratings:', TRdf.head())
print(MIdf.head())

print(f'Movies:',Mdf.head())
print(f'Movie Budgets:',MBdf.head())

In [ ]:
# Pure curiousity
MGdf.describe()
# could potentially be used for comparing genres

### Key Points

* **Your analysis should yield three concrete business recommendations.** The ultimate purpose of exploratory analysis is not just to learn about the data, but to help an organization perform better. Explicitly relate your findings to business needs by recommending actions that you think the business (Microsoft) should take.

* **Communicating about your work well is extremely important.** Your ability to provide value to an organization - or to land a job there - is directly reliant on your ability to communicate with them about what you have done and why it is valuable. Create a storyline your audience (the head of Microsoft's new movie studio) can follow by walking them through the steps of your process, highlighting the most important points and skipping over the rest.

* **Use plenty of visualizations.** Visualizations are invaluable for exploring your data and making your findings accessible to a non-technical audience. Spotlight visuals in your presentation, but only ones that relate directly to your recommendations. Simple visuals are usually best (e.g. bar charts and line graphs), and don't forget to format them well (e.g. labels, titles).

## Deliverables

There are three deliverables for this project:

* A **non-technical presentation**
* A **Jupyter Notebook**
* A **GitHub repository**

### Additional Directions

Looking at profit on a movie is always a good outcome. Althought judgements based on money generated or initial return of investment isn’t giving the full story. Motherless Brooklyn (2019) and Stardust (2007) both brought meagre returns in theatres but gained gradual success and enthusiastic audiences once brought to streaming platforms. With the current socialital pressures to leave traditional threaters and head towards streaming services, decisions will need to reflect these changes with supporting data. 

Additionally, cult followings, which proceed decades after releases are not shown within the current parameters as well. These should be considered and data kept so that adjustments can be viewed in how these followings affect overall profits.