## Microsoft Movie Pitch Submission

* Student name: **Ashleigh Stephens**
* Student pace: FLEX 60 Wk
* Scheduled project review date/time: 
* Instructor name: Abhineet
* Blog post URL: N/A

# **Importing Data**

The data we will work with is saved in the folder `zippedData` and we will import them. Fortunately Pandas support zip files, so we won't need combine and open the data, although we could.

In [1]:
# **Importing Data**

# Packages to preform data analysis of files
import pandas as pd  # Alias pandas to be referred to as pd
import numpy as np  # Alias numpy to be referred to as np
import matplotlib.pyplot as plt  # Alias matplotlib.pyplot to be referred to as plt
import seaborn as sns  # Alias seaborn to be referred to as sns
from glob import glob # Could be used to import zipped files as one file
import os # Could be used to view zipped files
import sequite

# Allows plot outputs
%matplotlib inline 

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None) # For pandas 
import sys
sys.setrecursionlimit(1500)

## Load Files

In [2]:
# ***loading zip files***

# bom.movie_gross.csv.gz
MGrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/bom.movie_gross.csv.gz")
# imdb.name.basics.csv.gz
NBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.name.basics.csv.gz")
# imdb.title.akas.csv.gz
TArawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.akas.csv.gz")
# imdb.title.basics.csv.gz
TBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.basics.csv.gz")
# imdb.title.crew.csv.gz
TCrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.crew.csv.gz")
# imdb.title.principals.csv.gz
TPrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.principals.csv.gz")
# imdb.title.ratings.csv.gz
TRrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/imdb.title.ratings.csv.gz")
# rt.movie_info.tsv.gz
MIrawdf = pd.read_table("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/rt.movie_info.tsv.gz")
# tmdb.movies.csv.gz
Mrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tmdb.movies.csv.gz")
# tn.movie_budgets.csv.gz
MBrawdf = pd.read_csv("/Users/as/Documents/Flatiron/Project_1/dsc-phase-1-project-v2-3/zippedData/tn.movie_budgets.csv.gz")

### Data Analysis


To see the size before I begin to merge data to make sure data isn't lost `df.shape` is used. To see what columns exist and null data within `df.isna().sum()` is utilized. By dividing the missing data sum by size will give you the percentage of missing data; significant missing data will be replaced or culled on a case by case bases. 

Now to look at the columns present in each table in anticipation of merges; replace or delete null values and delete unnecessary columns.

In [3]:
# Formula to shorten time and show
# the 'Shape', 'Null Sum' and 'Null Percentage' 
# per column within a dataframe.
def spread(df):
    PercentNull = (df.apply(lambda x: x.isna().sum()
                   / len(df))) * 100 
    return print(f'***Shape:***', df.shape,
                 f'***Null Sum Per Column:***', df.isna().sum(),
                 f'***Null Percentage within Columns:***',
                 (round(PercentNull, 2)))

By using the function 'spread', we can see that this data frame does not contain any missing data as shown above. Now, lets look to see if there are duplicates.

In [4]:
# To check and see the amount of 
# data duplicated wtihin column
def dups(column,df):
    dup = df[df.duplicated(keep=False)]
    return dup.sort_values([column])

In [5]:
# To see duplicates of specific dataframe columns
def CDup(column,df):
    dupOfColumn = df.duplicated(subset = [column]).sum()
    return dupOfColumn, dupOfColumn.sort_values([column])

In [6]:
 # To check and see the amount of 
# data duplicated 
def dupS(df):
        dup = df.duplicated(keep=False)
        sumOfDups = dup.values.sum()
        boolenOfDups = dup.value_counts()
        return sumOfDups, boolenOfDups

# III. Data Preparation
### Selecting data: 
The following data sets are being utilized, for specific columns, for distinctive purposes:
* **Movie Gross**
    * Title
    * Studio
    * Domestic Gross
    * Year
        * Determine Top Competitors
* **Movie Budget**
    * Movie
    * Date
    * Production Budget
    * Domestic Budget
    * Worldwide Budget
        * Determine Top Return on Investment
* <b>Title Basics</b>
    * Primary Title
    * Genre
    * Year
    * Runtime_Minutes
        * Determine Top Genres
            * Average Budget per Genre
        * Determine Ideal Runtime
        * Determine Ideal Release Date
* <b>Title Ratings</b>
    * TConst
    * Average Rating
    * Num Votes
        * Determine Top Rated

# SKIP #### Title Crew

In [ ]:
# TCrawdf = imdb.title.crew.csv.gz
TCrawdf.head()

In [ ]:
spread(TCrawdf)

Columns `directors` and `writers` seem to numerically contain a key. I hypothesize that the codes corralate to `nconst` within another table. I cannot delete null data, because of how the dataset is set up. Removing a `NaN` from `directors` will remove data within `writers`. When infact the those columns are relating more of a yes or no when correlated to other tables, vs true data points. 

Therefore, I will create seperate dataframes, expand the data, and recombine the tables for a better dataframe to combine with other tables.

In [ ]:
# Seperating the strings within columns by "," 
# and replacing the columns within the same df.
TCrawdf["directors"] = TCrawdf["directors"].str.split(",")
TCrawdf["writers"] = TCrawdf["writers"].str.split(",")
TCrawdf.head()

In [ ]:
TCWdf = TCrawdf.drop('directors', 1)
TCWdf.head()

In [ ]:
TCDdf = TCrawdf.drop('writers', 1)
TCDdf.head()

In [ ]:
# Seperating the strings within columns by "," 
# and replacing the columns within the same df.
TCDdf["directors"] = TCDdf["directors"].str.split(",")

# To explode data from columns and apply to tconst
TCDEdf = TCDdf.explode("directors")

# Lets ditch the null vlaues
TCDEDdf = TCDEdf.dropna(subset=['directors'])

# Lets see what it looks like
TCDEDdf.head()

In [ ]:
# Seperating the strings within columns by "," 
# and replacing the columns within the same df.
TCWdf["writers"] = TCWdf["writers"].str.split(",")

# To explode data from columns and apply to tconst
TCWEdf = TCWdf.explode("writers")

# Lets ditch the null vlaues
TCWEDdf = TCWEdf.dropna(subset=['writers'])

# Lets see what it looks like
TCWEDdf.head()

Lets add a column to each df, calling it `profession`, filled with the corresponding professions, rename columns `writers` and `directors` to `nconst`, then combine the tables on `tconst` and remove null values. 

Do a quick comparision to see if we saved data or if it was a waste of time.

In [ ]:
# Adding column to each
TCWEDdf["profession"] = "writer"
TCDEDdf["profession"] = "director"

# renaming to 'nconst' with new df
TCWEDdf.rename({'writers': 'nconst'}, axis='columns', inplace = True)
TCDEDdf.rename({'directors': 'nconst'}, axis='columns', inplace = True)

# there should be no null values
# but to look at the shape for comparisons
spread(TCWEDdf)
spread(TCDEDdf)

In [ ]:
#combining tables 
TCdf = TCWEDdf.merge(TCDEDdf, how='outer')
TCdf.head()

In [ ]:
spread(TCdf)

In [ ]:
TCdf.values.sum()

In [ ]:
#combining tables 
TCBdf = TCDEDdf.merge(TCWEDdf, how='left', on=('nconst', 'tconst'))
TCBdf.head()

In [ ]:
spread(TCBdf)

# SKIP #### Title Principals

In [ ]:
# TPrawdf = imdb.title.principals.csv.gz
TPrawdf.head()

In [ ]:
spread(TPrawdf)

Columns `job` and `characters` each have null percentages above 50%, which is way too high, so they will be removed.

We aren't sure if we need `ordering`, it seems be the count of each corresponding columns to `tconst`.

In [ ]:
# Remove null and undesired columns
TPdf = TPrawdf.drop(columns=['job', 'characters'])
TPdf.head()

Lets change category to `primary_profession` so that it matches other df!

In [ ]:
TPdf.rename({'category': 'primary_profession'}, axis='columns', inplace = True)
TPdf.head()

In [ ]:
# Sum method to get total of duplicated values
dupS(TPdf)

I can see duplicates within `tconst`, and know there are some within ordering, and `primary_profession`, so I'm going to check the other two columns separately.

In [ ]:
TPdf.duplicated(subset = 'tconst').sum()

In [ ]:
CDup('nconst', TPdf)

TPdf is now clean!

#### Name Basics

In [7]:
# NBrawdf = imdb.name.basics.csv.gz
NBrawdf.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [8]:
spread(NBrawdf)

***Shape:*** (606648, 6) ***Null Sum Per Column:*** nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64 ***Null Percentage within Columns:*** nconst                 0.00
primary_name           0.00
birth_year            86.36
death_year            98.88
primary_profession     8.46
known_for_titles       4.98
dtype: float64

Columns birth_year and death_year aren't needed for a merge and are irrevelant data; so we can delete them. 

The `known_for_titles` look to be `tconst` values, which are helpful in combining some of these tables. We will need to get the `primary_profession` values to assign to each `primary_name` and `nconst` value existing, then we can assign the `known_for_titles` to those rows as well; using df.explode().

In [9]:
# Culling columms with over 85% null
NBdf = NBrawdf.drop(columns=['birth_year', 'death_year'])

# Removing the null values from columns
NBdf = NBdf.dropna(subset=['primary_profession', 'known_for_titles'])

# Look at changes
NBdf.head()

,nconst,primary_name,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [10]:
spread(NBdf)

***Shape:*** (535137, 4) ***Null Sum Per Column:*** nconst                0
primary_name          0
primary_profession    0
known_for_titles      0
dtype: int64 ***Null Percentage within Columns:*** nconst                0.0
primary_name          0.0
primary_profession    0.0
known_for_titles      0.0
dtype: float64

From the shape comparison of `NBrawdf` and `NBdf`, you can see that birth_year and death_year has been successfully removed and I've lost 71,511 enteries. Farewell null data!

We should rename known_for_titles to tconst, since we will use this data later to combine tables, and why wait! Using df.rename({'undesired_column_name': 'desired_column_name'}, axis='columns', inplace = True).

In [11]:
NBdf.rename({'known_for_titles': 'tconst'}, axis='columns', inplace = True)
NBdf.head()

,nconst,primary_name,primary_profession,tconst
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [12]:
# Check for duplicates
dupS(NBdf)

(0,
 False    535137
 dtype: int64)

#### Movie Gross

In [13]:
# MGrawdf = bom.movie_gross.csv.gz
# Look at Movie Gross 
MGrawdf.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [13]:
spread(MGrawdf)

***Shape:*** (3387, 5) ***Null Sum Per Column:*** title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64 ***Null Percentage within Columns:*** title              0.00
studio             0.15
domestic_gross     0.83
foreign_gross     39.86
year               0.00
dtype: float64

Within Movie Gross, columns stuido and domestic_gross are under 1%, so removing the missing values are the best to clean the data and keep the remaining column data; `df.dropna(subset=['column'])`.

Unfortunately, `foreign_gross` has nearly 40% of missing values. Due to uncertainy we are unsure if the data is missing, or if the film never opened in foreign markets, and therefore remove the entire column. If we could pull the data from another table or website, then we may be able to assign $0 value to those movies that never made it to foreign markets and assign true missing and null values respectfully. Alas, we will delete the column due to data availability using `df.drop`.

In [14]:
# remove null values from dataframe
MGdf = MGrawdf.dropna(subset=['studio', 'domestic_gross'])

# check null values were dropped
spread(MGdf)

***Shape:*** (3356, 5) ***Null Sum Per Column:*** title                0
studio               0
domestic_gross       0
foreign_gross     1349
year                 0
dtype: int64 ***Null Percentage within Columns:*** title              0.0
studio             0.0
domestic_gross     0.0
foreign_gross     40.2
year               0.0
dtype: float64

Due to missing data being removed from stuido and domestic_gross, altering the overall data shape, the percentage for `foreign_gross` changed slightly. 

Now to remove the `foreign_gross` column.

In [15]:
# Remove foreign_gross column
MGdf = MGdf.drop('foreign_gross', 1)

In [16]:
# To check and see the amount, 
# if any values of the data are duplicated
dupS(MGdf)

(0,
 False    3356
 dtype: int64)

In [17]:
# We should also set the index to 'title'
MGdf.set_index('title', inplace = True)
MGdf.head()

                                            studio  domestic_gross  year
title
Toy Story 3                                     BV     415000000.0  2010
Alice in Wonderland (2010)                      BV     334200000.0  2010
Harry Potter and the Deathly Hallows Part 1     WB     296000000.0  2010
Inception                                       WB     292600000.0  2010
Shrek Forever After                           P/DW     238700000.0  2010

Movie Gross data looks great, so lets move on and see what other work needs to be done!

#### Movies

In [18]:
# Mrawdf = tmdb.movies.csv.gz
Mrawdf.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

Alright, we do not need a ton of these columns, so let's ditch `Unnamed: 0`,`original_language`, `original_title`, `vote_average` and `vote_count` for now, and see what we have.

In [18]:
# Drop columns
MDdf = Mrawdf.drop(columns=['Unnamed: 0',
        'original_language',
        'original_title',
        'vote_average',
        'vote_count'
    ]
)

# Proof df
MDdf.head()

,genre_ids,id,popularity,release_date,title
0,"[12, 14, 10751]",12444,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1
1,"[14, 12, 16, 10751]",10191,28.734,2010-03-26,How to Train Your Dragon
2,"[12, 28, 878]",10138,28.515,2010-05-07,Iron Man 2
3,"[16, 35, 10751]",862,28.005,1995-11-22,Toy Story
4,"[28, 878, 12]",27205,27.920,2010-07-16,Inception

In [19]:
# Mrawdf = tmdb.movies.csv.gz
spread(MDdf)

***Shape:*** (26517, 5) ***Null Sum Per Column:*** genre_ids       0
id              0
popularity      0
release_date    0
title           0
dtype: int64 ***Null Percentage within Columns:*** genre_ids       0.0
id              0.0
popularity      0.0
release_date    0.0
title           0.0
dtype: float64

In [20]:
# Rename column 'title' to 'movie_title'
MDdf.rename(columns = {'title': 'movie_title'}, inplace = True)

## Wait to set index...maybe?

In [22]:
# We should also set the index to 'movie_title'
# MDdf.set_index('movie_title', inplace = True)

In [21]:
# Check
MDdf.head()

,genre_ids,id,popularity,release_date,movie_title
0,"[12, 14, 10751]",12444,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1
1,"[14, 12, 16, 10751]",10191,28.734,2010-03-26,How to Train Your Dragon
2,"[12, 28, 878]",10138,28.515,2010-05-07,Iron Man 2
3,"[16, 35, 10751]",862,28.005,1995-11-22,Toy Story
4,"[28, 878, 12]",27205,27.920,2010-07-16,Inception

In [22]:
# To check and see the amount of data duplicated
dups('movie_title', MDdf)

,genre_ids,id,popularity,release_date,movie_title
9191,[99],95383,1.420,2013-01-11,$ellebrity
6315,[99],95383,1.420,2013-01-11,$ellebrity
20070,"[99, 36, 10770]",430364,0.600,2018-01-29,'85: The Greatest Team in Pro Football History
26340,"[99, 36, 10770]",430364,0.600,2018-01-29,'85: The Greatest Team in Pro Football History
18016,"[18, 10749]",416691,5.409,2017-02-10,1 Night
21298,"[18, 10749]",416691,5.409,2017-02-10,1 Night
11705,"[18, 10749]",253251,4.205,2015-07-10,"10,000 km"
14850,"[18, 10749]",253251,4.205,2015-07-10,"10,000 km"
21096,[18],334532,7.317,2016-06-08,100 Streets
17782,[18],334532,7.317,2016-06-08,100 Streets
22224,"[18, 80]",394770,1.400,2017-06-09,11:55
18887,"[18, 80]",394770,1.400,2017-06-09,11:55
17553,[18],342737,10.413,2016-12-28,20th Century Women
20839,[18],342737,10.413,2016-12-28,20th Century Women
19563,"[35, 10749]",441453,0.680,2016-09-24,36 Hour Layover
22860,"[35, 10749]",441453,0.680,2016-09-24,36 Hour Layover
8930,"[18, 878]",121803,2.004,2013-08-09,41
15273,"[18, 878]",121803,2.004,2013-08-09,41
6078,"[18, 878]",121803,2.004,2013-08-09,41
26382,[99],446470,0.600,2018-04-18,44 Pages
23460,[99],446470,0.600,2018-04-18,44 Pages
17723,"[35, 18]",342672,7.919,2016-02-05,4th Man Out
14448,"[35, 18]",342672,7.919,2016-02-05,4th Man Out
19113,"[18, 9648, 878, 53]",446594,1.083,2016-06-03,96 Souls
22434,"[18, 9648, 878, 53]",446594,1.083,2016-06-03,96 Souls
11235,[18],283235,8.850,2014-10-09,99 Homes
17650,[18],283235,8.850,2014-10-09,99 Homes
23944,[35],431530,16.604,2017-11-01,A Bad Moms Christmas
20684,[35],431530,16.604,2017-11-01,A Bad Moms Christmas
5826,"[99, 10402]",137563,3.133,2013-06-27,A Band Called Death
8607,"[99, 10402]",137563,3.133,2013-06-27,A Band Called Death
14517,"[80, 18, 9648, 53]",324807,7.184,2015-12-20,A Bigger Splash
17796,"[80, 18, 9648, 53]",324807,7.184,2015-12-20,A Bigger Splash
14894,[18],339079,3.775,2016-02-26,A Country Called Home
18161,[18],339079,3.775,2016-02-26,A Country Called Home
25324,"[18, 53]",435036,2.239,2018-10-05,A Crooked Somebody
21778,"[18, 53]",435036,2.239,2018-10-05,A Crooked Somebody
20685,"[27, 9648, 878, 53]",340837,16.524,2017-02-17,A Cure for Wellness
17438,"[27, 9648, 878, 53]",340837,16.524,2017-02-17,A Cure for Wellness
17720,"[18, 27]",409297,7.963,2017-04-28,A Dark Song
21024,"[18, 27]",409297,7.963,2017-04-28,A Dark Song
9092,[99],84196,1.654,2013-03-01,A Fierce Green Fire
6221,[99],84196,1.654,2013-03-01,A Fierce Green Fire
14618,[18],325113,6.418,2015-03-27,A Girl Like Her
17892,[18],325113,6.418,2015-03-27,A Girl Like Her
15281,[99],369364,1.978,2015-10-28,A Girl in the River: The Price of Forgiveness
18554,[99],369364,1.978,2015-10-28,A Girl in the River: The Price of Forgiveness
11687,"[99, 10751]",251471,4.424,2015-07-31,A LEGO Brickumentary
14827,"[99, 10751]",251471,4.424,2015-07-31,A LEGO Brickumentary
20804,"[18, 14]",258230,11.128,2016-12-23,A Monster Calls
17535,"[18, 14]",258230,11.128,2016-12-23,A Monster Calls
14270,"[80, 18, 53]",241239,12.271,2014-12-31,A Most Violent Year
11115,"[80, 18, 53]",241239,12.271,2014-12-31,A Most Violent Year
12581,[99],343880,1.215,2015-06-26,A Murder in the Park
15717,[99],343880,1.215,2015-06-26,A Murder in the Park
20329,"[35, 18]",351777,0.600,2015-06-15,A Reasonable Request
16999,"[35, 18]",351777,0.600,2015-06-15,A Reasonable Request
21626,"[28, 18, 10749]",365452,2.736,2015-05-29,A Rising Tide
15051,"[28, 18, 10749]",365452,2.736,2015-05-29,A Rising Tide
21121,"[18, 10751, 35]",404378,7.120,2016-11-18,A Street Cat Named Bob
17805,"[18, 10751, 35]",404378,7.120,2016-11-18,A Street Cat Named Bob
18066,[18],336029,4.962,2016-08-19,A Tale of Love and Darkness
21345,[18],336029,4.962,2016-08-19,A Tale of Love and Darkness
18695,[18],376088,1.703,2017-03-22,"A Woman, a Part"
22019,[18],376088,1.703,2017-03-22,"A Woman, a Part"
18039,[18],356752,5.212,2017-05-19,AWOL
4552,[18],356753,0.600,2011-01-21,AWOL
21322,[18],356752,5.212,2017-05-19,AWOL
13408,[18],356753,0.600,2011-01-21,AWOL
21324,[18],419473,5.181,2018-04-13,Aardvark
24710,[18],419473,5.181,2018-04-13,Aardvark
18076,[99],411007,4.833,2017-05-19,Abacus: Small Enough to Jail
21356,[99],411007,4.833,2017-05-19,Abacus: Small Enough to Jail
16292,"[35, 10402]",430248,0.661,2015-06-03,Abby Singer/Songwriter
22908,"[35, 10402]",430248,0.661,2015-06-03,Abby Singer/Songwriter
24292,[99],470401,8.366,2017-05-26,Abducted in Plain Sight
20978,[99],470401,8.366,2017-05-26,Abducted in Plain Sight
21528,"[18, 35]",467924,3.227,2018-01-12,Abe & Phil's Last Poker Game
25020,"[18, 35]",467924,3.227,2018-01-12,Abe & Phil's Last Poker Game
22643,"[99, 10770]",390590,0.860,2016-08-12,Abortion: Stories Women Tell
19320,"[99, 10770]",390590,0.860,2016-08-12,Abortion: Stories Women Tell
21044,"[35, 878]",86828,7.786,2015-09-04,Absolutely Anything
14458,"[35, 878]",86828,7.786,2015-09-04,Absolutely Anything
23623,"[36, 99, 18]",458823,0.600,2018-04-06,Acorn and the Firestorm
26456,"[36, 99, 18]",458823,0.600,2018-04-06,Acorn and the Firestorm
6021,"[16, 18]",157301,2.204,2013-02-01,Adam and Dog
8845,"[16, 18]",157301,2.204,2013-02-01,Adam and Dog
20461,[35],564441,0.600,2016-04-08,Adopting Trouble
23685,[35],564441,0.600,2016-04-08,Adopting Trouble
16649,"[35, 14, 10402]",341043,0.600,2012-06-02,Adventures Into the Woods: A Sexy Musical
7149,"[35, 14, 10402]",341043,0.600,2012-06-02,Adventures Into the Woods: A Sexy Musical
9664,[35],179809,0.840,2011-09-20,Adventures of Serial Buddies
4121,[35],179809,0.840,2011-09-20,Adventures of Serial Buddies
18070,"[18, 36]",319993,4.911,2016-01-22,Aferim!
14794,"[18, 36]",319993,4.911,2016-01-22,Aferim!
11433,"[27, 53]",210947,6.821,2014-04-04,Afflicted
8238,"[27, 53]",210947,6.821,2014-04-04,Afflicted
4935,[],218861,0.600,2011-12-31,After Warhol
10706,[],218861,0.600,2011-12-31,After Warhol
871,[18],97191,1.960,2010-04-18,Agrarian Utopia
3475,[18],97191,1.960,2010-04-18,Agrarian Utopia
5481,"[16, 10751]",145316,6.999,2011-11-01,Air Mater
2832,"[16, 10751]",145316,6.999,2011-11-01,Air Mater
21307,"[14, 12, 35, 10751]",450509,5.334,2016-05-01,Albion: The Enchanted Stallion
18022,"[14, 12, 35, 10751]",450509,5.334,2016-05-01,Albion: The Enchanted Stallion
11465,[18],259958,6.578,2015-04-17,Alex of Venice
14595,[18],259958,6.578,2015-04-17,Alex of Venice
21574,"[9648, 878, 53]",529358,2.948,2017-04-23,Alien Code
25080,"[9648, 878, 53]",529358,2.948,2017-04-23,Alien Code
22423,"[10402, 99, 36]",381020,1.110,2017-04-07,Alive and Kicking
19101,"[10402, 99, 36]",381020,1.110,2017-04-07,Alive and Kicking
19137,[99],410205,1.044,2016-11-04,"All Governments Lie: Truth, Deception, and the..."
22457,[99],410205,1.044,2016-11-04,"All Governments Lie: Truth, Deception, and the..."
24409,"[9648, 53]",345923,7.312,2017-10-27,All I See Is You
21098,"[9648, 53]",345923,7.312,2017-10-27,All I See Is You
15021,[99],324253,2.860,2015-10-16,All Things Must Pass
18281,[99],324253,2.860,2015-10-16,All Things Must Pass
19139,[99],385761,1.044,2017-03-31,All This Panic
22458,[99],385761,1.044,2017-03-31,All This Panic
24112,"[53, 18, 80, 9648]",446791,10.941,2017-12-25,All the Money in the World
20813,"[53, 18, 80, 9648]",446791,10.941,2017-12-25,All the Money in the World
17409,"[28, 18, 10752, 10749, 53]",369885,19.611,2016-11-23,Allied
20663,"[28, 18, 10752, 10749, 53]",369885,19.611,2016-11-23,Allied
6816,[18],86815,0.745,2011-11-04,Almayer's Folly
4204,[18],86815,0.745,2011-11-04,Almayer's Folly
21228,"[35, 18, 10749]",357424,6.058,2016-10-15,Almost Adults
17940,"[35, 18, 10749]",357424,6.058,2016-10-15,Almost Adults
17814,"[18, 35]",436459,7.001,2017-11-17,Almost Friends
21139,"[18, 35]",436459,7.001,2017-11-17,Almost Friends
14577,[10749],339148,6.699,2016-02-12,Already Tomorrow in Hong Kong
17857,[10749],339148,6.699,2016-02-12,Already Tomorrow in Hong Kong
20362,"[10749, 18]",387778,0.600,2015-08-31,Always
17043,"[10749, 18]",387778,0.600,2015-08-31,Always
26104,[99],534598,0.710,2017-11-11,American Circumcision
22805,[99],534598,0.710,2017-11-11,American Circumcision
21364,"[18, 53]",381064,4.735,2017-02-17,American Fable
18081,"[18, 53]",381064,4.735,2017-02-17,American Fable
26101,[],450994,0.714,2018-01-26,American Folk
22799,[],450994,0.714,2018-01-26,American Folk
3210,"[99, 36]",70862,2.942,2011-02-04,American Grindhouse
623,"[99, 36]",70862,2.942,2011-02-04,American Grindhouse
12091,[27],336294,2.148,2015-05-05,American Guinea Pig: Bouquet of Guts and Gore
15218,[27],336294,2.148,2015-05-05,American Guinea Pig: Bouquet of Guts and Gore
7968,"[18, 80]",168672,12.481,2013-12-12,American Hustle
11111,"[18, 80]",168672,12.481,2013-12-12,American Hustle
20681,"[28, 80]",337170,16.748,2017-09-29,American Made
23942,"[28, 80]",337170,16.748,2017-09-29,American Made
17738,"[80, 18]",326285,7.782,2016-10-21,American Pastoral
21045,"[80, 18]",326285,7.782,2016-10-21,American Pastoral
14209,"[10752, 28]",190859,18.473,2014-12-25,American Sniper
11057,"[10752, 28]",190859,18.473,2014-12-25,American Sniper
15156,"[99, 80]",294368,2.331,2015-06-05,An Open Secret
12019,"[99, 80]",294368,2.331,2015-06-05,An Open Secret
12580,"[80, 99]",173192,1.216,2013-03-11,An Unreal Dream: The Michael Morton Story
9359,"[80, 99]",173192,1.216,2013-03-11,An Unreal Dream: The Michael Morton Story
5647,[18],139997,5.112,2013-09-13,And While We Were Here
8417,[18],139997,5.112,2013-09-13,And While We Were Here
14856,"[18, 53]",277710,4.145,2016-01-08,Anesthesia
18132,"[18, 53]",277710,4.145,2016-01-08,Anesthesia
21038,"[27, 35, 14]",461928,7.825,2018-11-30,Anna and the Apocalypse
24348,"[27, 35, 14]",461928,7.825,2018-11-30,Anna and the Apocalypse
14309,"[16, 35, 18, 10749]",291270,10.285,2015-12-30,Anomalisa
17556,"[16, 35, 18, 10749]",291270,10.285,2015-12-30,Anomalisa
18377,"[35, 27]",381032,2.484,2017-05-05,Another Evil
21698,"[35, 27]",381032,2.484,2017-05-05,Another Evil
15560,[99],258100,1.400,2015-02-20,Approaching the Elephant
12424,[99],258100,1.400,2015-02-20,Approaching the Elephant
14890,"[35, 18, 10749]",249916,3.795,2014-01-18,Appropriate Behavior
11746,"[35, 18, 10749]",249916,3.795,2014-01-18,Appropriate Behavior
20636,"[18, 878, 9648]",329865,25.442,2016-11-11,Arrival
17394,"[18, 878, 9648]",329865,25.442,2016-11-11,Arrival
18181,"[28, 12, 9648, 878]",360799,3.552,2017-06-23,Arrowhead
21474,"[28, 12, 9648, 878]",360799,3.552,2017-06-23,Arrowhead
23362,[99],473399,0.600,2017-12-08,Arthur Miller: Writer
26348,[99],473399,0.600,2017-12-08,Arthur Miller: Writer
16336,"[35, 18]",473168,0.643,2017-06-09,As Good As You
22987,"[35, 18]",473168,0.643,2017-06-09,As Good As You
22003,"[9648, 18]",371445,1.739,2017-02-24,As You Are
18678,"[9648, 18]",371445,1.739,2017-02-24,As You Are
17471,"[28, 12, 878]",121856,14.051,2016-12-21,Assassin's Creed
20727,"[28, 12, 878]",121856,14.051,2016-12-21,Assassin's Creed
26047,[99],479540,0.840,2017-11-17,Atomic Homefront
22688,[99],479540,0.840,2017-11-17,Atomic Homefront
5607,[18],62321,5.733,2012-03-09,Attenberg
2936,[18],62321,5.733,2012-03-09,Attenberg
11196,"[35, 18]",152737,9.586,2013-12-27,August: Osage County
8034,"[35, 18]",152737,9.586,2013-12-27,August: Osage County
12767,"[99, 10402]",296082,0.943,2015-06-12,Austin to Boston
15911,"[99, 10402]",296082,0.943,2015-06-12,Austin to Boston
15927,[99],329005,0.930,2015-04-15,Autism in Love
19235,[99],329005,0.930,2015-04-15,Autism in Love
21341,[18],453354,5.004,2017-11-14,Ava
24727,[18],453354,5.004,2017-11-14,Ava
6475,"[18, 10749, 878]",184440,1.177,2013-04-09,Awaken
9383,"[18, 10749, 878]",184440,1.177,2013-04-09,Awaken
8756,"[53, 18]",260435,2.456,2014-03-21,Awakened
11977,"[53, 18]",260435,2.456,2014-03-21,Awakened
22104,"[18, 53]",392524,1.541,2017-04-07,Axis
25763,"[18, 53]",392524,1.541,2017-04-07,Axis
17037,"[10402, 18, 10749, 35]",350331,0.600,2015-07-21,B-Side
10532,"[10402, 18, 10749, 35]",350331,0.600,2015-07-21,B-Side
23564,"[10402, 99]",381082,0.600,2016-03-11,BANG! The Bert Berns Story
20317,"[10402, 99]",381082,0.600,2016-03-11,BANG! The Bert Berns Story
18538,"[18, 10751, 14, 10770]",313945,2.015,2016-12-06,Back to Christmas
12132,"[18, 10751, 14, 10770]",313945,2.015,2016-12-06,Back to Christmas
18329,"[9648, 18]",337407,2.664,2016-03-11,Backgammon
15068,"[9648, 18]",337407,2.664,2016-03-11,Backgammon
20189,"[16, 99]",355481,0.600,2015-10-10,Bacon & God's Wrath
16839,"[16, 99]",355481,0.600,2015-10-10,Bacon & God's Wrath
19921,[99],524460,0.600,2016-02-09,Bacterial World
23202,[99],524460,0.600,2016-02-09,Bacterial World
13829,"[27, 28, 80]",352386,0.600,2015-10-16,Bad Guy #2
17065,"[27, 28, 80]",352386,0.600,2015-10-16,Bad Guy #2
18530,[18],333089,2.037,2016-02-12,Bad Hurt
15258,[18],333089,2.037,2016-02-12,Bad Hurt
6085,"[35, 18]",214426,1.986,2012-10-18,Bad Parents
8939,"[35, 18]",214426,1.986,2012-10-18,Bad Parents
20920,"[35, 80, 18, 9648]",338964,9.207,2016-11-23,Bad Santa 2
17624,"[35, 80, 18, 9648]",338964,9.207,2016-11-23,Bad Santa 2
8758,"[53, 80, 18]",211076,2.446,2014-11-14,Bad Turn Worse
11982,"[53, 80, 18]",211076,2.446,2014-11-14,Bad Turn Worse
20742,"[16, 12, 35, 10751]",342473,13.210,2017-08-25,Ballerina
17481,"[16, 12, 35, 10751]",342473,13.210,2017-08-25,Ballerina
18240,"[12, 35, 80, 53]",333675,3.093,2016-01-15,Band of Robbers
14985,"[12, 35, 80, 53]",333675,3.093,2016-01-15,Band of Robbers
14003,"[27, 878]",326663,0.600,2013-02-21,Bar Talk
10810,"[27, 878]",326663,0.600,2013-02-21,Bar Talk
2803,"[35, 18]",46829,7.357,2011-01-14,Barney's Version
289,"[35, 18]",46829,7.357,2011-01-14,Barney's Version
22848,"[10752, 18]",416500,0.687,2017-07-14,Battle Scars
16252,"[10752, 18]",416500,0.687,2017-07-14,Battle Scars
24077,"[35, 18, 36]",369192,11.988,2017-09-22,Battle of the Sexes
20771,"[35, 18, 36]",369192,11.988,2017-09-22,Battle of the Sexes
18373,[18],346699,2.500,2017-11-03,Battlecreek
21691,[18],346699,2.500,2017-11-03,Battlecreek
18922,"[53, 27]",328216,1.381,2016-12-05,Be My Cat: A Film for Anne
22255,"[53, 27]",328216,1.381,2016-12-05,Be My Cat: A Film for Anne
26004,"[53, 9648]",421879,0.919,2018-06-22,Beach House
22567,"[53, 9648]",421879,0.919,2018-06-22,Beach House
23058,[27],470593,0.603,2016-10-27,Beach Massacre at Kill Devil Hills
19803,[27],470593,0.603,2016-10-27,Beach Massacre at Kill Devil Hills
23026,"[18, 878]",444915,0.640,2016-06-10,Beautiful Dreamer
19665,"[18, 878]",444915,0.640,2016-06-10,Beautiful Dreamer
25587,[18],459938,1.810,2017-06-17,Beauty Mark
21966,[18],459938,1.810,2017-06-17,Beauty Mark
17721,"[27, 53]",407531,7.950,2017-08-11,Bedeviled
21025,"[27, 53]",407531,7.950,2017-08-11,Bedeviled
21185,"[99, 10770]",410718,6.518,2016-10-21,Before the Flood
17881,"[99, 10770]",410718,6.518,2016-10-21,Before the Flood
22581,"[18, 36, 53, 37]",506758,0.905,2016-10-14,Bender
19264,"[18, 36, 53, 37]",506758,0.905,2016-10-14,Bender
5431,"[35, 80, 18]",92591,7.518,2012-04-27,Bernie
2784,"[35, 80, 18]",92591,7.518,2012-04-27,Bernie
18131,"[53, 27]",419386,4.163,2016-10-01,Besetment
21410,"[53, 27]",419386,4.163,2016-10-01,Besetment
8637,"[18, 53]",215935,3.006,2013-11-09,Bethlehem
11839,"[18, 53]",215935,3.006,2013-11-09,Bethlehem
17515,"[27, 53]",406994,11.752,2016-09-22,Better Watch Out
20780,"[27, 53]",406994,11.752,2016-09-22,Better Watch Out
8715,[99],220494,2.645,2013-11-22,Bettie Page Reveals All
11915,[99],220494,2.645,2013-11-22,Bettie Page Reveals All
5902,[99],220494,2.645,2013-11-22,Bettie Page Reveals All
18162,[99],385805,3.774,2017-03-17,Betting on Zero
21446,[99],385805,3.774,2017-03-17,Betting on Zero
11333,"[10749, 18]",241771,7.717,2014-11-14,Beyond the Lights
14469,"[10749, 18]",241771,7.717,2014-11-14,Beyond the Lights
23981,"[14, 18, 35, 10749, 10751]",2280,15.031,1988-06-03,Big
7927,"[14, 18, 35, 10749, 10751]",2280,15.031,1988-06-03,Big
8286,"[35, 80]",171540,6.342,2013-05-04,Big Bad Wolves
11489,"[35, 80]",171540,6.342,2013-05-04,Big Bad Wolves
11024,"[12, 10751, 16, 28, 35]",177572,36.920,2014-11-07,Big Hero 6
14170,"[12, 10751, 16, 28, 35]",177572,36.920,2014-11-07,Big Hero 6
19476,[99],465550,0.740,2017-11-17,Big Sonia
22769,[99],465550,0.740,2017-11-17,Big Sonia
9095,[99],193346,1.639,2013-07-03,Big Star: Nothing Can Hurt Me
6226,[99],193346,1.639,2013-07-03,Big Star: Nothing Can Hurt Me
24970,"[80, 18, 53]",407720,3.512,2018-06-15,Billy Boy
21480,"[80, 18, 53]",407720,3.512,2018-06-15,Billy Boy
20907,"[18, 10752]",293767,9.318,2016-11-11,Billy Lynn's Long Halftime Walk
17618,"[18, 10752]",293767,9.318,2016-11-11,Billy Lynn's Long Halftime Walk
8995,[53],326262,1.878,2011-04-01,Biology 101
3509,[53],326262,1.878,2011-04-01,Biology 101
23169,"[35, 27]",450103,0.600,2017-04-24,Black Holler
26257,"[35, 27]",450103,0.600,2017-04-24,Black Holler
18119,"[27, 53]",267852,4.296,2014-10-26,Black Mountain Side
11695,"[27, 53]",267852,4.296,2014-10-26,Black Mountain Side
14436,[18],253331,8.050,2015-01-30,Black or White
11294,[18],253331,8.050,2015-01-30,Black or White
17674,"[53, 9648]",359790,8.538,2015-10-03,Blackway
14399,"[53, 9648]",359790,8.538,2015-10-03,Blackway
23813,"[878, 28, 53]",335984,48.571,2017-10-06,Blade Runner 2049
20617,"[878, 28, 53]",335984,48.571,2017-10-06,Blade Runner 2049
24395,"[28, 18]",426284,7.451,2017-11-03,Blade of the Immortal
21081,"[28, 18]",426284,7.451,2017-11-03,Blade of the Immortal
20877,"[53, 27]",351211,9.772,2016-09-16,Blair Witch
17590,"[53, 27]",351211,9.772,2016-09-16,Blair Witch
21523,[18],422128,3.250,2018-01-05,Blame
25013,[18],422128,3.250,2018-01-05,Blame
8329,"[18, 14]",127864,5.935,2012-10-11,Blancanieves
5585,"[18, 14]",127864,5.935,2012-10-11,Blancanieves
20992,[18],332979,8.258,2016-11-04,Bleed for This
17696,[18],332979,8.258,2016-11-04,Bleed for This
26056,"[18, 27, 53]",507097,0.840,2017-12-17,Blood Prism
22712,"[18, 27, 53]",507097,0.840,2017-12-17,Blood Prism
8116,"[80, 53]",188166,7.983,2014-04-25,Blue Ruin
11306,"[80, 53]",188166,7.983,2014-04-25,Blue Ruin
178,"[18, 10749]",46705,8.994,2010-12-29,Blue Valentine
2673,"[18, 10749]",46705,8.994,2010-12-29,Blue Valentine
10563,[18],268952,0.600,2011-06-22,Bob's New Suit
4846,[18],268952,0.600,2011-06-22,Bob's New Suit
5854,"[80, 53]",146955,2.931,2012-10-12,Border Run
8648,"[80, 53]",146955,2.931,2012-10-12,Border Run
20863,"[18, 36]",397538,9.955,2017-10-24,Borg vs McEnroe
24176,"[18, 36]",397538,9.955,2017-10-24,Borg vs McEnroe
13702,[99],379773,0.600,2014-05-27,Born Schizophrenic: January's Story
4745,[99],379773,0.600,2014-05-27,Born Schizophrenic: January's Story
12562,"[18, 28]",312158,1.247,2012-10-20,Born Wild
6441,"[18, 28]",312158,1.247,2012-10-20,Born Wild
14670,"[16, 18, 37]",421281,5.973,2015-10-31,Borrowed Time
17949,"[16, 18, 37]",421281,5.973,2015-10-31,Borrowed Time
11538,[18],259963,5.993,2014-04-20,Boulevard
14668,[18],259963,5.993,2014-04-20,Boulevard
258,"[18, 35]",39356,7.759,2012-03-02,Boy
5404,"[18, 35]",39356,7.759,2012-03-02,Boy
20647,"[53, 28, 80]",348893,22.593,2016-09-22,Boyka: Undisputed IV
17398,"[53, 28, 80]",348893,22.593,2016-09-22,Boyka: Undisputed IV
18726,[35],421833,1.631,2017-08-04,Brave New Jersey
22060,[35],421833,1.631,2017-08-04,Brave New Jersey
15554,"[53, 27, 9648]",450537,1.400,2015-10-16,Braxton Butcher
25819,"[53, 27, 9648]",450537,1.400,2015-10-16,Braxton Butcher
20829,"[18, 10749]",407445,10.606,2017-10-13,Breathe
24135,"[18, 10749]",407445,10.606,2017-10-13,Breathe
14261,"[53, 18]",296098,12.836,2015-10-16,Bridge of Spies
17488,"[53, 18]",296098,12.836,2015-10-16,Bridge of Spies
788,"[10749, 18]",50493,2.215,2010-04-23,Brilliantlove
3382,"[10749, 18]",50493,2.215,2010-04-23,Brilliantlove
23050,"[9648, 80, 18, 27, 53, 35]",402448,0.631,2015-08-22,"Bullets, Fangs and Dinner at 8"
16428,"[9648, 80, 18, 27, 53, 35]",402448,0.631,2015-08-22,"Bullets, Fangs and Dinner at 8"
19791,"[9648, 80, 18, 27, 53, 35]",402448,0.631,2015-08-22,"Bullets, Fangs and Dinner at 8"
2989,"[80, 18]",63310,5.117,2012-02-17,Bullhead
5645,"[80, 18]",63310,5.117,2012-02-17,Bullhead
23294,[],483720,0.600,2017-10-27,Bunker77
19988,[],483720,0.600,2017-10-27,Bunker77
15969,[18],366324,0.886,2016-08-25,Burning Bodhi

In [27]:
# Check to see the sum of duplicates
dupS(MDdf)

(2016,
 False    24501
 True      2016
 dtype: int64)

Lets drop those duplicates, because we do not need them!

In [23]:
# Drop duplicates, and keep the first entry
# Save changes into df
Mdf = MDdf.drop_duplicates(keep="first")

# To double check all duplicates are gone
dupS(Mdf)

(0,
 False    25497
 dtype: int64)

In [24]:
# Lets see the shape and spread
spread(Mdf)

***Shape:*** (25497, 5) ***Null Sum Per Column:*** genre_ids       0
id              0
popularity      0
release_date    0
movie_title     0
dtype: int64 ***Null Percentage within Columns:*** genre_ids       0.0
id              0.0
popularity      0.0
release_date    0.0
movie_title     0.0
dtype: float64

This data looks clear from duplicates, unnecessary columns, and null values. Let's check out the head to verify.

In [25]:
Mdf.head()

,genre_ids,id,popularity,release_date,movie_title
0,"[12, 14, 10751]",12444,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1
1,"[14, 12, 16, 10751]",10191,28.734,2010-03-26,How to Train Your Dragon
2,"[12, 28, 878]",10138,28.515,2010-05-07,Iron Man 2
3,"[16, 35, 10751]",862,28.005,1995-11-22,Toy Story
4,"[28, 878, 12]",27205,27.920,2010-07-16,Inception

M data is cleaned! Onward!

#### Movie Budgets

In [26]:
# MBrawdf = tn.movie_budgets.csv.gz
MBrawdf.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [27]:
spread(MBrawdf)

***Shape:*** (5782, 6) ***Null Sum Per Column:*** id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64 ***Null Percentage within Columns:*** id                   0.0
release_date         0.0
movie                0.0
production_budget    0.0
domestic_gross       0.0
worldwide_gross      0.0
dtype: float64

In [28]:
# Check for duplicates 
dupS(MBrawdf)

(0,
 False    5782
 dtype: int64)

The data is clean, with no null values or duplicates, and is now ready for more indepth manipulations. 

From the initial look at the data, we have no use for the 'id' column, therefore it can be removed. Futhermore, renaming of the 'movie' column is necessary for merging down the line.

In [29]:
# Rename columns
MBrawdf.rename({'movie': 'movie_title'}, axis='columns', inplace = True)

# Remove id
MBrawdf = MBrawdf.drop('id', 1)
MBrawdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

By using the `.set_index()` method we will set the index to `movie_title` within the dataset and set the index to true so that the changes are saved in the dataframe.

## Maybe wait to set index?

In [32]:
# Set the index to movie_title
# MBrawdf.set_index('movie_title', inplace=True)

# Make sure the changes saved.
MBrawdf.head()

,release_date,production_budget,domestic_gross,worldwide_gross
movie_title,,,,
Avatar,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
Dark Phoenix,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
Avengers: Age of Ultron,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"

Lets change the `worldwide_gross`, `domestic_gross` and `production_budget` columns to floating numbers for calculations.

In [30]:
MBrawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie_title        5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 226.0+ KB

Some of the columns, `production_budget`, `domestic_gross`, and `worldwide_gross`, are strings not intergers . We can resolve this with a `.replace()` method which will remove the dollar sign and commas which are not able to be converted to integers, and then the `.to_numeric` method.

In [ ]:

MBdf[MBdf.columns[2:]] = MBdf[MBdf.columns[2:]].apply
(
    lambda x: x.str.replace('$','')
).apply
(
    lambda x: x.str.replace(',','')
).astype
(
    np.int64
)

In [31]:
#Copy MBrawdf into new df, and save changes into
MBdf = MBrawdf.copy()

# Replace dollar sign and commas for 'production_budget'
MBdf['production_budget'] = MBdf[
    'production_budget'].str.replace('$', '')
MBdf['production_budget'] = MBdf[
    'production_budget'].str.replace(',', '')

# Replace dollar sign and commas for 'domestic_gross'
MBdf['domestic_gross'] = MBdf[
    'domestic_gross'].str.replace('$', '')
MBdf['domestic_gross'] = MBdf[
    'domestic_gross'].str.replace(',', '')

# Replace dollar sign and commas for 'world_wide gross'
MBdf['worldwide_gross'] = MBdf[
    'worldwide_gross'].str.replace('$', '')
MBdf['worldwide_gross'] = MBdf[
    'worldwide_gross'].str.replace(',', '')


# Use '.to_numeric' to change the 
# columns to integers
MBdf['production_budget'] = MBdf['production_budget'].apply(pd.to_numeric)
MBdf['domestic_gross'] = MBdf['domestic_gross'].apply(pd.to_numeric)
MBdf['worldwide_gross'] = MBdf['worldwide_gross'].apply(pd.to_numeric)

In [32]:
# Check out the changes
MBdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [33]:
# Ensure the changes have taken place
MBdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie_title        5782 non-null   object
 2   production_budget  5782 non-null   int64
 3   domestic_gross     5782 non-null   int64
 4   worldwide_gross    5782 non-null   int64
dtypes: int64(3), object(2)
memory usage: 226.0+ KB

Ta-da! This df is clean!

#### Title Basics

In [34]:
# TBrawdf = imdb.title.basics.csv.gz
TBrawdf.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [35]:
spread(TBrawdf)

***Shape:*** (146144, 6) ***Null Sum Per Column:*** tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64 ***Null Percentage within Columns:*** tconst              0.00
primary_title       0.00
original_title      0.01
start_year          0.00
runtime_minutes    21.72
genres              3.70
dtype: float64

In [36]:
# Remove undesired columns
TBrawDdf = TBrawdf.drop('original_title', 1).drop('start_year', 1)

# Removing the null values from columns
TBDdf = TBrawDdf.dropna(subset=['genres'])
TBDdf.head()

,tconst,primary_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"

In [37]:
# We don't need this colum, so lets drop it
TBdf = TBDdf.drop('runtime_minutes', 1)
TBdf.head()

,tconst,primary_title,start_year,genres
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"

In [38]:
# Rename title column
TBdf.rename({'primary_title': 'movie_title'},
            axis='columns', inplace = True)

In [39]:
# check for duplicated data
dupS(TBdf)

(0,
 False    140736
 dtype: int64)

## Wait to set index..maybe?

In [43]:
# Change the index from tconst to 'movie_title'
# Set index to true so changes are saved in the dataframe
# TBdf.set_index('movie_title', inplace=True)

# Check
TBdf.head()

                                    tconst  start_year                genres
movie_title
Sunghursh                        tt0063540        2013    Action,Crime,Drama
One Day Before the Rainy Season  tt0066787        2019       Biography,Drama
The Other Side of the Wind       tt0069049        2018                 Drama
Sabse Bada Sukh                  tt0069204        2018          Comedy,Drama
The Wandering Soap Opera         tt0100275        2017  Comedy,Drama,Fantasy

In [44]:
.head()
spread()

# To check and see the amount, 
# if any values of the data are duplicated
dupS()

# Culling columms with over 85% null
NBdf = NBrawdf.drop(columns=['birth_year', 'death_year'])

# Removing the null values from columns
NBdf = NBdf.dropna(subset=['primary_profession', 'known_for_titles'])

# Look at changes
NBdf.head()

spread()

NBdf.rename({'known_for_titles': 'tconst'}, axis='columns', inplace = True)
NBdf.head()

SyntaxError: invalid syntax (<ipython-input-44-0e03ffeb3517>, line 1)

### Merging Tables

Let's start merging some tables!

In [40]:
# Get a look at Movie Basics columns and 
# using the tail, the amount of data entries
MBdf.tail()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross
5777,"Dec 31, 2018",Red 11,7000,0,0
5778,"Apr 2, 1999",Following,6000,48482,240495
5779,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [41]:
# Checkout Title Basics columns and 
# using the tail, the amount of data entries
TBdf.tail()

,tconst,movie_title,start_year,genres
146138,tt9916428,The Secret of China,2019,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Tephilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,2013,Comedy
146143,tt9916754,Chico Albuquerque - Revelaes,2013,Documentary

In [42]:
# Make a new dataframe, 'mmsdf' = 'main movies df'
# by merging the two, on the shared 'movie_title' column.
mmsdf = MBdf.merge(TBdf, how='left', on='movie_title')

# View the new!
mmsdf.tail()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
7157,"Dec 31, 2018",Red 11,7000,0,0,tt7837402,2019.0,"Horror,Sci-Fi,Thriller"
7158,"Apr 2, 1999",Following,6000,48482,240495,NaN,NaN,NaN
7159,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338,NaN,NaN,NaN
7160,"Sep 29, 2015",A Plague So Pleasant,1400,0,0,tt2107644,2013.0,"Drama,Horror,Thriller"
7161,"Aug 5, 2005",My Date With Drew,1100,181041,181041,NaN,NaN,NaN

In [43]:
# check to see how much missing data we had
spread(mmsdf)

***Shape:*** (7162, 8) ***Null Sum Per Column:*** release_date            0
movie_title             0
production_budget       0
domestic_gross          0
worldwide_gross         0
tconst               3419
start_year           3419
genres               3419
dtype: int64 ***Null Percentage within Columns:*** release_date          0.00
movie_title           0.00
production_budget     0.00
domestic_gross        0.00
worldwide_gross       0.00
tconst               47.74
start_year           47.74
genres               47.74
dtype: float64

Oof, so much missing data on those last three columns; `tconst`, `start_year`, and `genres`. Those columns are keys, so we will cull the missing data, instead of the entire column, even though 48% of the data is missing within them.

In [44]:
# Removing the null values from columns
MMSdf = mmsdf.dropna(subset=[
    'tconst', 'start_year', 'genres'])

In [45]:
spread(MMSdf)

***Shape:*** (3743, 8) ***Null Sum Per Column:*** release_date         0
movie_title          0
production_budget    0
domestic_gross       0
worldwide_gross      0
tconst               0
start_year           0
genres               0
dtype: int64 ***Null Percentage within Columns:*** release_date         0.0
movie_title          0.0
production_budget    0.0
domestic_gross       0.0
worldwide_gross      0.0
tconst               0.0
start_year           0.0
genres               0.0
dtype: float64

In [46]:
# Order the dataframe by the highest to lowest worldwide gross values.
MMSdf = MMSdf.sort_values(by=['worldwide_gross'], ascending=False)

# Check the changes
MMSdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,tt1775309,2011.0,Horror
46,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt8852130,2018.0,Family
45,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt2495766,2012.0,Adventure
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,tt4154756,2018.0,"Action,Adventure,Sci-Fi"
33,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,tt0369610,2015.0,"Action,Adventure,Sci-Fi"

In [52]:
# Order the dataframe by the highest to lowest worldwide gross values.
MMSdf = MMSdf.sort_values(by=['worldwide_gross'], ascending=False)

# Check the changes
MMSdf.head()

,release_date,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
movie_title,,,,,,,
Avatar,"Dec 18, 2009",425000000,760507625,2776345279,tt1775309,2011.0,Horror
Titanic,"Dec 19, 1997",200000000,659363944,2208208395,tt2495766,2012.0,Adventure
Titanic,"Dec 19, 1997",200000000,659363944,2208208395,tt8852130,2018.0,Family
Avengers: Infinity War,"Apr 27, 2018",300000000,678815482,2048134200,tt4154756,2018.0,"Action,Adventure,Sci-Fi"
Jurassic World,"Jun 12, 2015",215000000,652270625,1648854864,tt0369610,2015.0,"Action,Adventure,Sci-Fi"

In [47]:
# Seperating the strings within columns by "," and replacing
# the columns within the same df.
MMSdf['tconst'] = MMSdf['tconst'].str.split(",")
MMSdf['genres'] = MMSdf['genres'].str.split(",")
MMSdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,[tt1775309],2011.0,[Horror]
46,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,[tt8852130],2018.0,[Family]
45,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,[tt2495766],2012.0,[Adventure]
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,[tt4154756],2018.0,"[Action, Adventure, Sci-Fi]"
33,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,[tt0369610],2015.0,"[Action, Adventure, Sci-Fi]"

In [181]:
# Maybe don't need since we didn't set the index previously
# MMSdf.reset_index().head()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,Avatar,"Dec 18, 2009",425000000,760507625,2776345279,[tt1775309],2011.0,[Horror]
1,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,[tt8852130],2018.0,[Family]
2,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,[tt2495766],2012.0,[Adventure]
3,Avengers: Infinity War,"Apr 27, 2018",300000000,678815482,2048134200,[tt4154756],2018.0,"[Action, Adventure, Sci-Fi]"
4,Jurassic World,"Jun 12, 2015",215000000,652270625,1648854864,[tt0369610],2015.0,"[Action, Adventure, Sci-Fi]"

In [48]:
# Create a new df to assign the secondary column 
MMSEdf = MMSdf.explode('tconst')
MMSEIdf = MMSEdf.explode('genres')
MMSEIdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,tt1775309,2011.0,Horror
46,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt8852130,2018.0,Family
45,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt2495766,2012.0,Adventure
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,tt4154756,2018.0,Action
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,tt4154756,2018.0,Adventure

In [55]:
# Change the index from 'release_date' to 'movie_title'
# Set index to true so changes are saved in the dataframe
# MMSEIdf.set_index('movie_title', inplace=True)

KeyError: "None of ['movie_title'] are in the columns"

In [190]:
# Maybe don't need since we didn't set the index previously
# MMSEIdf = MMSEIdf.reset_index()

In [49]:
MMSEIdf.head()

,release_date,movie_title,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,tt1775309,2011.0,Horror
46,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt8852130,2018.0,Family
45,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,tt2495766,2012.0,Adventure
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,tt4154756,2018.0,Action
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,tt4154756,2018.0,Adventure

In [50]:
MMSEIdf = MMSEIdf.groupby('movie_title').agg(
    {
        'release_date': lambda x: x.iloc[0],
        'production_budget': lambda x: x.iloc[0],
        'domestic_gross': lambda x: x.iloc[0],
        'worldwide_gross': lambda x: x.iloc[0],
        'start_year': lambda x: x.iloc[0],
        'tconst': list,
        'genres': list
    }
)

In [52]:
MMSEIdf = MMSEIdf.reset_index()

In [53]:
MMSEIdf[MMSEIdf['movie_title']== 'Titanic']

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres
2104,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,2018.0,"[tt8852130, tt2495766]","[Family, Adventure]"

In [54]:
MMSEIdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299 entries, 0 to 2298
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_title        2299 non-null   object
 1   release_date       2299 non-null   object
 2   production_budget  2299 non-null   int64
 3   domestic_gross     2299 non-null   int64
 4   worldwide_gross    2299 non-null   int64
 5   start_year         2299 non-null   float64
 6   tconst             2299 non-null   object
 7   genres             2299 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 143.8+ KB

# WORK IN PROGRESS

In [70]:
# 2D

# importing 'defaultdict' will all us to avoid 
# issues around the index 'movie_title'
from collections import defaultdict
count = defaultdict(lambda x: 0)

def NCDup(column, df):
    columns = (column)
    for record in df.to_dict('records'):
        if len(set(record[column])) != len(record[column]):
            count[column](lambda x: =+ 1)
    print((column), count)

SyntaxError: invalid syntax (<ipython-input-70-ebaee066685a>, line 12)

In [77]:
# OG
# importing 'defaultdict' will all us to avoid 
# issues around the index 'movie_title'
from collections import defaultdict

# add a key that will start off at zero
count = defaultdict(lambda x: 0)

# list of columns we want to count 
columns = (column)
for record in df.to_dict('records'):
    for column in columns:
        if len(set(record[column])) != len(record[column]):
            count[column] += 1
print("", (column), count)

NameError: name 'column' is not defined

In [67]:
NCDup('tconst', MMSEIdf)

KeyError: 't'

In [71]:
# Check for duplicates within the columns themselves
count = 0
for record in MMSEIdf.to_dict('records'):
    if len(set(record['tconst'])) != len(record['tconst']):
        count += 1 
print(count)

1923

In [72]:
# Check for duplicates within the columns themselves
count = 0
for record in MMSEIdf.to_dict('records'):
    if len(set(record['genres'])) != len(record['genres']):
        count += 1 
print(count)

405

In [73]:
# Remove the duplicates within the columns
MMSEIdf['tconst'] = MMSEIdf['tconst'].apply(lambda x:list(set(x)))
MMSEIdf['genres'] = MMSEIdf['genres'].apply(lambda x:list(set(x)))
MMSEIdf.tail()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres
2294,Zoolander 2,"Feb 12, 2016",50000000,28848693,55348693,2016.0,[tt1608290],[Comedy]
2295,Zoom,"Aug 11, 2006",35000000,11989328,12506188,2015.0,"[tt6117454, tt3763866, tt6667868, tt5815346]","[Crime, Animation, Horror, Romance, Comedy, Th..."
2296,Zootopia,"Mar 4, 2016",150000000,341268248,1019429616,2016.0,[tt2948356],"[Comedy, Animation, Adventure]"
2297,Zulu,"Dec 31, 2013",16000000,0,1844228,2013.0,[tt2249221],"[Crime, Drama, Thriller]"
2298,xXx: Return of Xander Cage,"Jan 20, 2017",85000000,44898413,345033359,2017.0,[tt1293847],"[Thriller, Action, Adventure]"

In [74]:
# Check for duplicates within the columns themselves
count = 0
for record in MMSEIdf.to_dict('records'):
    if len(set(record['genres'])) != len(record['genres']):
        count += 1 
print(count)

0

In [75]:
# Check for duplicates within the columns themselves
count = 0
for record in MMSEIdf.to_dict('records'):
    if len(set(record['tconst'])) != len(record['tconst']):
        count += 1 
print(count)

0

   Duplicates wtihin `tconst` and `genres` has been removed, so the table should be clean.

In [76]:
MMSEIdf.head()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres
0,#Horror,"Nov 20, 2015",1500000,0,0,2015.0,[tt3526286],"[Crime, Horror, Drama]"
1,10 Cloverfield Lane,"Mar 11, 2016",5000000,72082999,108286422,2016.0,[tt1179933],"[Horror, Drama, Mystery]"
2,10 Days in a Madhouse,"Nov 11, 2015",12000000,14616,14616,2015.0,[tt3453052],[Drama]
3,12 Rounds,"Mar 27, 2009",20000000,12234694,17306648,2017.0,[tt3517850],"[Drama, Action, Romance]"
4,12 Strong,"Jan 19, 2018",35000000,45819713,71118378,2018.0,[tt1413492],"[Drama, Action, History]"

Identifying Return on Investment (ROI)

Return on investment specifically looks at the dollar amount earned for the amount invested in a project. Instead of looking at overall profit, it looks at the specific benefit from the project divided by the costs. Here we will use `production_budget`, `domestic_gross`, `worldwide_gross`.

In [118]:
MMSEIdf['ROI'] = (round(
    (MMSEIdf['worldwide_gross'])
    / MMSEIdf['production_budget']
    *100, 1)
)
MMSEIdf.head()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI
0,#Horror,"Nov 20, 2015",1500000,0,0,2015.0,[tt3526286],"[Crime, Horror, Drama]",0.0
1,10 Cloverfield Lane,"Mar 11, 2016",5000000,72082999,108286422,2016.0,[tt1179933],"[Horror, Drama, Mystery]",2165.7
2,10 Days in a Madhouse,"Nov 11, 2015",12000000,14616,14616,2015.0,[tt3453052],[Drama],0.1
3,12 Rounds,"Mar 27, 2009",20000000,12234694,17306648,2017.0,[tt3517850],"[Drama, Action, Romance]",86.5
4,12 Strong,"Jan 19, 2018",35000000,45819713,71118378,2018.0,[tt1413492],"[Drama, Action, History]",203.2

In [124]:
# Gross Profit Margin = (Total Profit-Total Costs)/100
MMSEIdf['GPM'] = (round(
    (MMSEIdf['worldwide_gross'] - MMSEIdf['domestic_gross'])
    - MMSEIdf['production_budget']
    /100, 1)
)
MMSEIdf.tail()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI,GPM
2294,Zoolander 2,"Feb 12, 2016",50000000,28848693,55348693,2016.0,[tt1608290],[Comedy],110.7,26000000.0
2295,Zoom,"Aug 11, 2006",35000000,11989328,12506188,2015.0,"[tt6117454, tt3763866, tt6667868, tt5815346]","[Crime, Animation, Horror, Romance, Comedy, Th...",35.7,166860.0
2296,Zootopia,"Mar 4, 2016",150000000,341268248,1019429616,2016.0,[tt2948356],"[Comedy, Animation, Adventure]",679.6,676661368.0
2297,Zulu,"Dec 31, 2013",16000000,0,1844228,2013.0,[tt2249221],"[Crime, Drama, Thriller]",11.5,1684228.0
2298,xXx: Return of Xander Cage,"Jan 20, 2017",85000000,44898413,345033359,2017.0,[tt1293847],"[Thriller, Action, Adventure]",405.9,299284946.0

In [119]:
# Make new dataframe grouped by ROI in descending order
# indexed to only include the first 100 values
ROIdf = MMSEIdf.sort_values(
    by=['ROI'], ascending=False)[:100]
# Ensure new element will be a pandas dataframe
ROIdf = pd.DataFrame(ROIdf)

ROIdf

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI
1777,The Gallows,"Jul 10, 2015",100000,22764410,41656474,2015.0,[tt2309260],"[Horror, Thriller, Mystery]",41656.5
195,Bambi,"Aug 13, 1942",858000,102797000,268000000,2013.0,[tt2668120],"[Documentary, Biography]",31235.4
1175,Night of the Living Dead,"Oct 1, 1968",114000,12087064,30087064,2014.0,[tt3393372],[Horror],26392.2
1396,Rocky,"Nov 21, 1976",1000000,117235147,225000000,2019.0,"[tt9430578, tt3080284]","[Comedy, Drama, Action, Romance]",22500.0
1515,Snow White and the Seven Dwarfs,"Dec 21, 1937",1488000,184925486,184925486,2017.0,"[tt9691476, tt7821084]","[Animation, Comedy, Family, Fantasy, Drama]",12427.8
1729,The Devil Inside,"Jan 6, 2012",1000000,53262945,101759490,2012.0,[tt1560985],[Horror],10175.9
723,Graduation Day,"May 1, 1981",250000,23894000,23894000,2015.0,[tt2616818],[Thriller],9557.6
874,Insidious,"Apr 1, 2011",1500000,54009150,99870886,2010.0,[tt1591095],"[Horror, Thriller, Mystery]",6658.1
2162,Unfriended,"Apr 17, 2015",1000000,32789645,64364198,2014.0,[tt3713166],"[Horror, Thriller, Mystery]",6436.4
230,Benji,"Nov 15, 1974",500000,31559560,31559560,2012.0,"[tt2519480, tt1799516]","[Sport, Crime, Family, Documentary, Drama]",6311.9
1245,Paranormal Activity 2,"Oct 20, 2010",3000000,84752907,177512032,2010.0,[tt1536044],[Horror],5917.1
1543,Split,"Jan 20, 2017",5000000,138141585,278964806,2016.0,"[tt2660118, tt5495666, tt6147768, tt3604256, t...","[Crime, Sport, Horror, Action, Romance, Comedy...",5579.3
686,Get Out,"Feb 24, 2017",5000000,176040665,255367951,2017.0,[tt5052448],"[Horror, Thriller, Mystery]",5107.4
1131,Moonlight,"Oct 21, 2016",1500000,27854931,65245512,2016.0,"[tt4975722, tt5934182]","[Horror, Drama]",4349.7
362,Chernobyl Diaries,"May 25, 2012",1000000,18119640,42411721,2012.0,[tt1991245],"[Horror, Thriller, Mystery]",4241.2
1246,Paranormal Activity 3,"Oct 21, 2011",5000000,104028807,207039844,2011.0,[tt1778304],"[Horror, Thriller, Mystery]",4140.8
140,Annabelle,"Oct 3, 2014",6500000,84273813,256862920,2014.0,[tt3322940],"[Horror, Thriller, Mystery]",3951.7
1868,The Last Exorcism,"Aug 27, 2010",1800000,41034350,70165900,2010.0,[tt1320244],"[Horror, Drama, Thriller]",3898.1
1276,Pinocchio,"Feb 9, 1940",2289247,84300000,84300000,2012.0,"[tt1693039, tt8333746, tt1488589, tt5263832, t...","[Animation, Documentary, Family, Fantasy, Musi...",3682.4
598,Fantasia,"Nov 13, 1940",2280000,83320000,83320000,2014.0,[tt3591950],[Drama],3654.4
429,Cube,"Sep 11, 1998",250000,489220,8969065,2013.0,[tt3020324],"[Documentary, Biography]",3587.6
1597,Swingers,"Oct 18, 1996",200000,4505922,6618578,2019.0,"[tt6016012, tt8630424, tt10297320]",[Comedy],3309.3
437,Dangal,"Dec 21, 2016",9500000,12391761,294654618,2016.0,"[tt5074352, tt5911540]","[Drama, Action, Biography]",3101.6
1973,The Purge,"Jun 7, 2013",3000000,64473115,91266581,2013.0,[tt2184339],"[Horror, Thriller]",3042.2
1007,Lights Out,"Jul 22, 2016",5000000,67268835,148806510,2013.0,"[tt5328340, tt4786282, tt1085448, tt1646127, t...","[Horror, Mystery, Documentary, Thriller, Drama]",2976.1
1493,Sinister,"Oct 12, 2012",3000000,48086903,87727807,2017.0,"[tt1922777, tt7489744]","[Horror, Drama, Mystery, Thriller]",2924.3
1069,Maniac,"Jan 1, 1980",350000,10000000,10000000,2011.0,"[tt2103217, tt2069843]","[Horror, Action, Thriller]",2857.1
1247,Paranormal Activity 4,"Oct 19, 2012",5000000,53900335,142817992,2012.0,[tt2109184],"[Horror, Thriller, Mystery]",2856.4
35,A Ghost Story,"Jul 7, 2017",100000,1594798,2769782,2017.0,[tt6265828],"[Fantasy, Drama, Romance]",2769.8
2137,Truth or Dare,"Apr 13, 2018",3500000,41411015,95127344,2013.0,"[tt6869948, tt6772950, tt2125681, tt5944422, t...","[Horror, Romance, Comedy, Thriller, Drama]",2717.9
2283,You're Next,"Aug 23, 2013",1000000,18494006,26887177,2011.0,[tt1853739],"[Comedy, Horror, Action]",2688.7
2286,Your Sister's Sister,"Jun 15, 2012",120000,1597486,3090593,2011.0,[tt1742336],"[Comedy, Drama]",2575.5
1757,The Fault in Our Stars,"Jun 6, 2014",12000000,124872350,307166834,2014.0,[tt2582846],"[Drama, Romance]",2559.7
744,Halloween,"Oct 19, 2018",10000000,159342015,254900667,2018.0,[tt1502407],"[Horror, Thriller]",2549.0
260,Black Swan,"Dec 3, 2010",13000000,106954678,331266710,2010.0,[tt0947798],"[Drama, Thriller]",2548.2
754,Happy Death Day,"Oct 13, 2017",5000000,55683845,125010260,2017.0,[tt5308322],"[Horror, Thriller, Mystery]",2500.2
2202,War Room,"Aug 28, 2015",3000000,67790117,73975239,2015.0,[tt3832914],[Drama],2465.8
1058,Magic Mike,"Jun 29, 2012",7000000,113721571,170549753,2012.0,[tt1915581],"[Comedy, Drama]",2436.4
37,A Haunted House,"Jan 11, 2013",2500000,40041683,59922558,2013.0,[tt2243537],"[Comedy, Fantasy]",2396.9
690,Ghost,"Jul 13, 1990",22000000,217631306,517600000,2012.0,"[tt1655400, tt9378950, tt2175671]","[Horror, Mystery, Thriller, Fantasy, Drama]",2352.7
1018,Live and Let Die,"Jun 27, 1973",7000000,35400000,161800000,2015.0,[tt6162924],"[War, Drama]",2311.4
246,Billy Elliot,"Oct 13, 2000",5000000,21995263,109253745,2014.0,[tt4085696],"[Comedy, Drama, Music]",2185.1
1,10 Cloverfield Lane,"Mar 11, 2016",5000000,72082999,108286422,2016.0,[tt1179933],"[Horror, Drama, Mystery]",2165.7
977,La La Land,"Dec 9, 2016",20000000,151101803,426351163,2016.0,[tt3783958],"[Comedy, Drama, Music]",2131.8
1219,Ouija,"Oct 24, 2014",5000000,50856010,103300632,2014.0,[tt1204977],"[Horror, Thriller, Mystery]",2066.0
141,Annabelle: Creation,"Aug 11, 2017",15000000,102092201,305384865,2017.0,[tt5140878],"[Horror, Thriller, Mystery]",2035.9
326,Cabin Fever,"Sep 12, 2003",1500000,21158188,30351664,2016.0,[tt3832096],[Horror],2023.4
890,It,"Sep 8, 2017",35000000,327481748,697457969,2017.0,[tt1396484],"[Horror, Thriller]",1992.7
2057,The Visit,"Sep 11, 2015",5000000,65206105,98677816,2015.0,"[tt1901018, tt1605776, tt2252032, tt3567288]","[Horror, Mystery, Romance, Comedy, Documentary...",1973.6
48,A Quiet Place,"Apr 6, 2018",17000000,188024361,334522294,2018.0,"[tt6644200, tt6347308]","[Horror, Drama, Documentary, Sci-Fi]",1967.8
585,Exeter,"Sep 1, 2015",25000,0,489792,2014.0,"[tt1945044, tt2782686]","[Horror, Thriller, Mystery]",1959.2
1908,The Mask,"Jul 29, 1994",18000000,119920129,351620129,2012.0,"[tt7504864, tt2630158]","[Crime, Family, Documentary, Thriller, Fantasy...",1953.4
669,Fruitvale Station,"Jul 12, 2013",900000,16098998,17549645,2013.0,[tt2334649],"[Drama, Romance, Biography]",1950.0
1249,Paranormal Activity: The Marked Ones,"Jan 3, 2014",5000000,32462372,90904854,2014.0,[tt2473682],"[Horror, Thriller, Mystery]",1818.1
1825,The Howling,"Apr 10, 1981",1000000,17985000,17985000,2017.0,[tt5694044],[Horror],1798.5
416,Courageous,"Sep 30, 2011",2000000,34522221,35185884,2011.0,[tt1630036],[Drama],1759.3
815,Hostel,"Jan 6, 2006",4800000,47326473,82241110,2013.0,"[tt6501192, tt1825801]","[Crime, Drama, Action]",1713.4
875,Insidious: The Last Key,"Jan 5, 2018",10000000,67745330,167885588,2018.0,[tt5726086],"[Horror, Thriller, Mystery]",1678.9
279,Blue Valentine,"Dec 29, 2010",1000000,9737892,16566240,2010.0,[tt1120985],"[Drama, Romance]",1656.6
1668,The Bodyguard,"Nov 25, 1992",25000000,121945720,410899039,2018.0,[tt8332280],[Drama],1643.6
2163,Unfriended: Dark Web,"Jul 20, 2018",1000000,8866745,16434588,2018.0,[tt4761916],"[Crime, Horror, Mystery]",1643.5
282,Bohemian Rhapsody,"Nov 2, 2018",55000000,216303339,894985342,2018.0,[tt1727824],"[Drama, Music, Biography]",1627.2
1707,The Conjuring,"Jul 19, 2013",20000000,137400141,318000141,2013.0,[tt1457767],"[Horror, Thriller, Mystery]",1590.0
1503,Sleight,"Apr 28, 2017",250000,3930990,3934450,2016.0,[tt4573516],"[Drama, Action, Sci-Fi]",1573.8
1110,Minions,"Jul 10, 2015",74000000,336045770,1160336173,2015.0,[tt2293640],"[Comedy, Animation, Adventure]",1568.0
2263,Wonder,"Nov 17, 2017",20000000,132422809,304604712,2017.0,[tt2543472],"[Drama, Family]",1523.0
1838,The Imitation Game,"Nov 28, 2014",15000000,91125143,227740463,2014.0,[tt2084970],"[Drama, Thriller, Biography]",1518.3
1163,Neighbors,"May 9, 2014",18000000,150086800,270944428,2012.0,"[tt2004420, tt9392532, tt9702034, tt3638264, t...","[Comedy, Drama, Documentary]",1505.2
1008,Like Crazy,"Oct 28, 2011",250000,3395391,3728400,2018.0,"[tt4621872, tt8681390, tt1758692]","[Comedy, Drama, Romance]",1491.4
2195,Waitress,"May 2, 2007",1500000,19097550,22217183,2013.0,[tt3253430],[Drama],1481.1
512,Dragon Ball Super: Broly,"Jan 16, 2019",8500000,30376755,122747755,2018.0,[tt7961060],"[Animation, Action, Adventure]",1444.1
2144,Twins,"Dec 9, 1988",15000000,111936388,216600000,2016.0,[tt6178382],"[Comedy, Adventure, Biography]",1444.0
290,Boyhood,"Jul 11, 2014",4000000,25379975,57273049,2014.0,[tt1065073],[Drama],1431.8
615,Fifty Shades of Grey,"Feb 13, 2015",40000000,166167230,570998101,2015.0,[tt2322441],"[Thriller, Drama, Romance]",1427.5
523,Driving Miss Daisy,"Dec 13, 1989",7500000,106593296,106593296,2014.0,[tt4653310],"[Comedy, Drama]",1421.2
727,Green Book,"Nov 16, 2018",23000000,85080171,322034439,2018.0,[tt6966692],"[Comedy, Drama, Biography]",1400.1
381,Clean,"Apr 28, 2006",10000,138711,138711,2017.0,[tt6619196],"[Comedy, Horror, Drama]",1387.1
417,Crash,"May 6, 2005",7303082,55334418,101173038,2011.0,[tt2822062],[Thriller],1385.3
455,Deadpool,"Feb 12, 2016",58000000,363070709,801025593,2016.0,[tt1431045],"[Comedy, Action, Adventure]",1381.1
474,Despicable Me 3,"Jun 30, 2017",75000000,264624300,1034727750,2017.0,[tt3469046],"[Comedy, Animation, Adventure]",1379.6
1656,The Best Exotic Marigold Hotel,"May 4, 2012",10000000,46383639,134639780,2011.0,[tt1412386],"[Comedy, Drama, Romance]",1346.4
1680,The Boy Next Door,"Jan 23, 2015",4000000,36006065,53401938,2015.0,[tt3181822],"[Horror, Thriller]",1335.0
2095,"Three Billboards Outside Ebbing, Missouri","Nov 10, 2017",12000000,54513740,160191915,2017.0,[tt5027774],"[Crime, Drama]",1334.9
942,Kevin Hart: Let Me Explain,"Jul 3, 2013",2500000,32244051,32327255,2013.0,[tt2609912],"[Comedy, Documentary]",1293.1
1799,The Green Inferno,"Sep 25, 2015",1000000,7192291,12931420,2013.0,[tt2403021],"[Horror, Adventure]",1293.1
211,Beasts of the Southern Wild,"Jun 27, 2012",1800000,12795746,23265132,2012.0,[tt2125435],"[Fantasy, Drama, Adventure]",1292.5
1126,Monster,"Dec 24, 2003",5000000,34469210,64240813,2019.0,"[tt9179232, tt8071360, tt9077038, tt9252692, t...","[Horror, Action, Comedy, Family, Thriller, Sci...",1284.8
473,Despicable Me 2,"Jul 3, 2013",76000000,368065385,975216835,2013.0,[tt1690953],"[Comedy, Animation, Adventure]",1283.2
2175,Us,"Mar 22, 2019",20000000,175006930,254210310,2015.0,"[tt6857112, tt4862056, tt2708782]","[Horror, Mystery, Comedy, Thriller, Drama]",1271.1
2246,Winchester,"Feb 2, 2018",3500000,25091816,44378040,2018.0,[tt1072748],"[Fantasy, Drama, Biography]",1267.9
1012,Lion,"Nov 25, 2016",12000000,51739495,149570720,2016.0,"[tt2989872, tt4685968, tt3741834]","[Action, Romance, Comedy, Biography, Drama]",1246.4
1885,The Lion King,"Jun 15, 1994",79300000,421785283,986214868,2019.0,[tt6105098],"[Animation, Drama, Adventure]",1243.7
1974,The Purge: Anarchy,"Jul 18, 2014",9000000,71562550,111534881,2014.0,[tt2975578],"[Horror, Action, Sci-Fi]",1239.3
700,Glass,"Jan 18, 2019",20000000,111035005,245303505,2019.0,"[tt6823368, tt4598720, tt5300236, tt5144236]","[Crime, Horror, Mystery, Thriller, Sci-Fi, Drama]",1226.5
837,I Can Only Imagine,"Mar 16, 2018",7000000,83482352,85604221,2018.0,[tt6450186],"[Drama, Family, Biography]",1222.9
1793,The Grace Card,"Feb 25, 2011",200000,2430735,2430735,2010.0,[tt1544600],[Drama],1215.4
435,Dallas Buyers Club,"Nov 1, 2013",5000000,27298285,60611845,2013.0,[tt0790636],"[Drama, Biography]",1212.2
50,A Star is Born,"Oct 5, 2018",36000000,215288866,433449571,2010.0,[tt1776364],"[Documentary, Music]",1204.0
147,Another Earth,"Jul 22, 2011",175000,1321194,2102779,2011.0,[tt1549572],"[Sci-Fi, Drama, Romance]",1201.6
102,All You Need Is Love,"Oct 31, 2014",300000,0,3565259,2018.0,"[tt8161226, tt4971480, tt2704210]","[Comedy, Romance, Documentary]",1188.4

# FOCUS

Look at ROI, top genre, production costs with average gross, release dates

get creative with groupings 

could quarter out the gross to look at ranges within groupings and outliers

In [126]:
# Make new dataframe grouped by ROI in descending order
# indexed to only include the first 100 values
GPMdf = MMSEIdf.sort_values(
    by=['GPM'], ascending=False)[:100]
# Ensure new element will be a pandas dataframe
GPMdf = pd.DataFrame(GPMdf)

GPMdf

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI,GPM
176,Avatar,"Dec 18, 2009",425000000,760507625,2776345279,2011.0,[tt1775309],[Horror],653.3,2.011588e+09
2104,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,2018.0,"[tt2495766, tt8852130]","[Family, Adventure]",1104.1,1.546844e+09
178,Avengers: Infinity War,"Apr 27, 2018",300000000,678815482,2048134200,2018.0,[tt4154756],"[Sci-Fi, Action, Adventure]",682.7,1.366319e+09
673,Furious 7,"Apr 3, 2015",190000000,353007020,1518722794,2015.0,[tt2820852],"[Crime, Action, Thriller]",799.3,1.163816e+09
1756,The Fate of the Furious,"Apr 14, 2017",250000000,225764765,1234846267,2017.0,[tt4630562],"[Crime, Action, Thriller]",493.9,1.006582e+09
930,Jurassic World,"Jun 12, 2015",215000000,652270625,1648854864,2015.0,[tt0369610],"[Sci-Fi, Action, Adventure]",766.9,9.944342e+08
177,Avengers: Age of Ultron,"May 1, 2015",330600000,459005868,1403013963,2015.0,[tt2395427],"[Sci-Fi, Action, Adventure]",424.4,9.407021e+08
1648,The Avengers,"May 4, 2012",225000000,623279547,1517935897,2012.0,[tt0848228],"[Sci-Fi, Action, Adventure]",674.6,8.924064e+08
931,Jurassic World: Fallen Kingdom,"Jun 22, 2018",170000000,417719760,1305772799,2018.0,[tt4881806],"[Sci-Fi, Action, Adventure]",768.1,8.863530e+08
668,Frozen,"Nov 22, 2013",150000000,400738009,1272469910,2010.0,"[tt1323045, tt1611845, tt2294629]","[Sport, Animation, Romance, Comedy, Fantasy, D...",848.3,8.702319e+08
2122,Transformers: Age of Extinction,"Jun 27, 2014",210000000,245439076,1104039076,2014.0,[tt2109248],"[Sci-Fi, Action, Adventure]",525.7,8.565000e+08
1110,Minions,"Jul 10, 2015",74000000,336045770,1160336173,2015.0,[tt2293640],"[Comedy, Animation, Adventure]",1568.0,8.235504e+08
158,Aquaman,"Dec 21, 2018",160000000,335061807,1146894640,2018.0,[tt1477834],"[Fantasy, Action, Adventure]",716.8,8.102328e+08
886,Iron Man 3,"May 3, 2013",200000000,408992272,1215392272,2013.0,[tt1300854],"[Sci-Fi, Action, Adventure]",607.7,8.044000e+08
1498,Skyfall,"Nov 8, 2012",200000000,304360277,1110526981,2012.0,[tt1074638],"[Thriller, Action, Adventure]",555.3,8.041667e+08
1280,Pirates of the Caribbean: On Stranger Tides,"May 20, 2011",410600000,241063875,1045663875,2011.0,[tt1298650],"[Fantasy, Action, Adventure]",254.7,8.004940e+08
2123,Transformers: Dark of the Moon,"Jun 29, 2011",195000000,352390543,1123790543,2011.0,[tt1399103],"[Sci-Fi, Action, Adventure]",576.3,7.694500e+08
474,Despicable Me 3,"Jun 30, 2017",75000000,264624300,1034727750,2017.0,[tt3469046],"[Comedy, Animation, Adventure]",1379.6,7.693534e+08
215,Beauty and the Beast,"Mar 17, 2017",160000000,504014165,1259199706,2018.0,"[tt2771200, tt9173998, tt2316801]","[Drama, Romance, Family, Fantasy, Musical]",787.0,7.535855e+08
331,Captain America: Civil War,"May 6, 2016",250000000,408084349,1140069413,2016.0,[tt3498820],"[Sci-Fi, Action, Adventure]",456.0,7.294851e+08
848,Ice Age: Continental Drift,"Jul 13, 2012",95000000,161321843,879765137,2012.0,[tt1667889],"[Comedy, Animation, Adventure]",926.1,7.174933e+08
1817,The Hobbit: An Unexpected Journey,"Dec 14, 2012",250000000,303003568,1017003568,2012.0,[tt0903624],"[Fantasy, Family, Adventure]",406.8,7.115000e+08
1819,The Hobbit: The Desolation of Smaug,"Dec 13, 2013",250000000,258366855,960366855,2013.0,[tt1170358],"[Fantasy, Adventure]",384.1,6.995000e+08
334,Captain Marvel,"Mar 8, 2019",175000000,426525952,1123061550,2019.0,[tt4154664],"[Sci-Fi, Action, Adventure]",641.7,6.947856e+08
92,Alice in Wonderland,"Mar 5, 2010",200000000,334191110,1025491110,2010.0,"[tt2049386, tt1926979, tt1014759]","[Documentary, Family, Fantasy, Musical, Advent...",512.7,6.893000e+08
1818,The Hobbit: The Battle of the Five Armies,"Dec 17, 2014",250000000,255119788,945577621,2014.0,[tt2310332],"[Fantasy, Adventure]",378.2,6.879578e+08
282,Bohemian Rhapsody,"Nov 2, 2018",55000000,216303339,894985342,2018.0,[tt1727824],"[Drama, Music, Biography]",1627.2,6.781320e+08
2296,Zootopia,"Mar 4, 2016",150000000,341268248,1019429616,2016.0,[tt2948356],"[Comedy, Animation, Adventure]",679.6,6.766614e+08
1539,Spectre,"Nov 6, 2015",300000000,200074175,879620923,2015.0,[tt2379713],"[Thriller, Action, Adventure]",293.2,6.765467e+08
2113,Toy Story 3,"Jun 18, 2010",200000000,415004880,1068879522,2010.0,[tt0435761],"[Comedy, Animation, Adventure]",534.4,6.518746e+08
258,Black Panther,"Feb 16, 2018",200000000,700059566,1348258224,2018.0,[tt1825683],"[Sci-Fi, Action, Adventure]",674.1,6.461987e+08
2185,Venom,"Oct 5, 2018",116000000,213511408,853628605,2018.0,"[tt1931601, tt1270797]","[Thriller, Action, Sci-Fi]",735.9,6.389572e+08
1719,The Dark Knight Rises,"Jul 20, 2012",275000000,448139099,1084439099,2012.0,[tt1345836],"[Action, Thriller]",394.3,6.335500e+08
862,Incredibles 2,"Jun 15, 2018",200000000,608581744,1242520711,2018.0,[tt3606756],"[Animation, Action, Adventure]",621.3,6.319390e+08
1279,Pirates of the Caribbean: Dead Men Tell No Tales,"May 26, 2017",230000000,172558876,788241137,2017.0,[tt1790809],"[Fantasy, Action, Adventure]",342.7,6.133823e+08
473,Despicable Me 2,"Jul 3, 2013",76000000,368065385,975216835,2013.0,[tt1690953],"[Comedy, Animation, Adventure]",1283.2,6.063914e+08
1857,The Jungle Book,"Apr 15, 2016",175000000,364001123,962854547,2016.0,"[tt2226178, tt3040964]","[Animation, Drama, Family, Adventure]",550.2,5.971034e+08
390,Coco,"Nov 22, 2017",175000000,209726015,798008101,2017.0,"[tt2380307, tt7002100]","[Comedy, Horror, Animation, Adventure]",456.0,5.865321e+08
599,Fantastic Beasts and Where to Find Them,"Nov 18, 2016",180000000,234037575,802402853,2016.0,[tt3183660],"[Fantasy, Family, Adventure]",445.8,5.665653e+08
1885,The Lion King,"Jun 15, 1994",79300000,421785283,986214868,2019.0,[tt6105098],"[Animation, Drama, Adventure]",1243.7,5.636366e+08
925,Jumanji: Welcome to the Jungle,"Dec 20, 2017",90000000,404508916,964496193,2017.0,[tt2283362],"[Comedy, Action, Adventure]",1071.7,5.590873e+08
1542,Spider-Man: Homecoming,"Jul 7, 2017",175000000,334201140,880166350,2017.0,[tt2250912],"[Sci-Fi, Action, Adventure]",503.0,5.442152e+08
861,Inception,"Jul 16, 2010",160000000,292576195,835524642,2010.0,[tt1375666],"[Sci-Fi, Action, Adventure]",522.2,5.413484e+08
205,Batman v Superman: Dawn of Justice,"Mar 25, 2016",250000000,330360194,867500281,2016.0,[tt2975590],"[Fantasy, Action, Adventure]",347.0,5.346401e+08
622,Finding Dory,"Jun 17, 2016",200000000,486295561,1021215193,2016.0,[tt2277860],"[Comedy, Animation, Adventure]",510.6,5.329196e+08
2092,Thor: Ragnarok,"Nov 3, 2017",180000000,315058289,846980024,2017.0,[tt3501632],"[Comedy, Action, Adventure]",470.5,5.301217e+08
1053,Madagascar 3: Europe's Most Wanted,"Jun 8, 2012",145000000,216391482,746921271,2012.0,[tt1277953],"[Comedy, Animation, Adventure]",515.1,5.290798e+08
2005,The Secret Life of Pets,"Jul 8, 2016",75000000,368384330,886750534,2016.0,[tt2709768],"[Comedy, Animation, Adventure]",1182.3,5.176162e+08
1480,Shrek Forever After,"May 21, 2010",165000000,238736787,756244673,2010.0,[tt0892791],"[Comedy, Animation, Adventure]",458.3,5.158579e+08
1061,Maleficent,"May 30, 2014",180000000,241407328,758536735,2014.0,[tt1587310],"[Family, Action, Adventure]",421.4,5.153294e+08
1399,Rogue One: A Star Wars Story,"Dec 16, 2016",200000000,532177324,1049102856,2016.0,[tt3748528],"[Sci-Fi, Action, Adventure]",524.6,5.149255e+08
2274,X-Men: Days of Future Past,"May 23, 2014",200000000,233921534,747862775,2014.0,[tt1877832],"[Sci-Fi, Action, Adventure]",373.9,5.119412e+08
1640,The Amazing Spider-Man 2,"May 2, 2014",200000000,202853933,708996336,2014.0,[tt1872181],"[Sci-Fi, Action, Adventure]",354.5,5.041424e+08
450,Dawn of the Planet of the Apes,"Jul 11, 2014",170000000,208545589,710644566,2014.0,[tt2103281],"[Drama, Action, Adventure]",418.0,5.003990e+08
971,Kung Fu Panda 2,"May 26, 2011",150000000,165249063,664837547,2011.0,[tt1302011],"[Animation, Action, Adventure]",443.2,4.980885e+08
873,Inside Out,"Jun 19, 2015",175000000,356461711,854235992,2011.0,"[tt1640486, tt2096673, tt2071483, tt2608638, t...","[Crime, Animation, History, Comedy, Family, Do...",488.1,4.960243e+08
1004,Life of Pi,"Nov 21, 2012",120000000,124987022,620912003,2012.0,[tt0454876],"[Fantasy, Drama, Adventure]",517.4,4.947250e+08
1639,The Amazing Spider-Man,"Jul 3, 2012",220000000,262030663,757890267,2012.0,[tt0948470],"[Sci-Fi, Action, Adventure]",344.5,4.936596e+08
600,Fantastic Beasts: The Crimes of Grindelwald,"Nov 16, 2018",200000000,159555901,652220086,2018.0,[tt4123430],"[Fantasy, Family, Adventure]",326.1,4.906642e+08
878,Interstellar,"Nov 5, 2014",165000000,188017894,666379375,2014.0,[tt0816692],"[Sci-Fi, Drama, Adventure]",403.9,4.767115e+08
1129,Monsters University,"Jun 21, 2013",200000000,268488329,743588329,2013.0,[tt1453405],"[Comedy, Animation, Adventure]",371.8,4.731000e+08
1092,Men in Black 3,"May 25, 2012",215000000,179020854,654213485,2012.0,[tt1409024],"[Comedy, Action, Adventure]",304.3,4.730426e+08
2124,Transformers: The Last Knight,"Jun 21, 2017",217000000,130168683,602893340,2017.0,[tt3371366],"[Sci-Fi, Action, Adventure]",277.8,4.705547e+08
456,Deadpool 2,"May 18, 2018",110000000,324591735,786680557,2018.0,[tt5463162],"[Comedy, Action, Adventure]",715.2,4.609888e+08
333,Captain America: The Winter Soldier,"Apr 4, 2014",170000000,259746958,714401889,2014.0,[tt1843866],"[Sci-Fi, Action, Adventure]",420.2,4.529549e+08
498,Doctor Strange,"Nov 4, 2016",165000000,232641920,676404566,2016.0,[tt1211837],"[Fantasy, Action, Adventure]",409.9,4.421126e+08
1341,Ready Player One,"Mar 29, 2018",150000000,137690172,579290136,2018.0,[tt1677720],"[Sci-Fi, Action, Adventure]",386.2,4.401000e+08
1828,The Hunger Games: Catching Fire,"Nov 22, 2013",130000000,424668047,864868047,2013.0,[tt1951264],"[Sci-Fi, Action, Adventure]",665.3,4.389000e+08
455,Deadpool,"Feb 12, 2016",58000000,363070709,801025593,2016.0,[tt1431045],"[Comedy, Action, Adventure]",1381.1,4.373749e+08
2093,Thor: The Dark World,"Nov 8, 2013",150000000,206362140,644602516,2013.0,[tt1981115],"[Fantasy, Action, Adventure]",429.7,4.367404e+08
829,How to Train Your Dragon 2,"Jun 13, 2014",145000000,177002924,614586270,2014.0,[tt1646971],"[Animation, Action, Adventure]",423.9,4.361333e+08
736,Guardians of the Galaxy,"Aug 1, 2014",170000000,333172112,770867516,2014.0,[tt2015381],"[Comedy, Action, Adventure]",453.5,4.359954e+08
1829,The Hunger Games: Mockingjay - Part 1,"Nov 21, 2014",125000000,337135885,766575131,2014.0,[tt1951265],"[Sci-Fi, Action, Adventure]",613.3,4.281892e+08
242,Big Hero 6,"Nov 7, 2014",165000000,222527828,652127828,2014.0,[tt2245084],"[Animation, Action, Adventure]",395.2,4.279500e+08
1907,The Martian,"Oct 2, 2015",108000000,228433663,655271443,2015.0,[tt3659388],"[Sci-Fi, Drama, Adventure]",606.7,4.257578e+08
935,Justice League,"Nov 17, 2017",300000000,229024295,655945209,2017.0,[tt0974015],"[Fantasy, Action, Adventure]",218.6,4.239209e+08
2019,The Smurfs,"Jul 29, 2011",110000000,142614158,563749323,2011.0,[tt0472181],"[Comedy, Animation, Adventure]",512.5,4.200352e+08
1584,Suicide Squad,"Aug 5, 2016",175000000,325100054,746059887,2016.0,[tt1386697],"[Fantasy, Action, Adventure]",426.3,4.192098e+08
602,Fast Five,"Apr 29, 2011",125000000,210031325,630163454,2011.0,[tt1596343],"[Crime, Action, Thriller]",504.1,4.188821e+08
725,Gravity,"Oct 4, 2013",110000000,274092705,693698673,2013.0,[tt1454468],"[Thriller, Drama, Sci-Fi]",630.6,4.185060e+08
2266,Wonder Woman,"Jun 2, 2017",150000000,412563408,821133378,2016.0,"[tt4283448, tt4028068, tt0451279]","[Sport, Action, Documentary, Sci-Fi, Fantasy, ...",547.4,4.070700e+08
151,Ant-Man and the Wasp,"Jul 6, 2018",130000000,216648740,623144660,2018.0,[tt5095030],"[Comedy, Action, Adventure]",479.3,4.051959e+08
2050,The Twilight Saga: Eclipse,"Jun 30, 2010",68000000,300531751,706102828,2010.0,[tt1325004],"[Fantasy, Drama, Adventure]",1038.4,4.048911e+08
615,Fifty Shades of Grey,"Feb 13, 2015",40000000,166167230,570998101,2015.0,[tt2322441],"[Thriller, Drama, Romance]",1427.5,4.044309e+08
1317,Puss in Boots,"Oct 28, 2011",130000000,149260504,554987477,2011.0,[tt0448694],"[Animation, Action, Adventure]",426.9,4.044270e+08
967,Kong: Skull Island,"Mar 10, 2017",185000000,168052812,561072059,2017.0,[tt3731562],"[Fantasy, Action, Adventure]",303.3,3.911692e+08
1024,Logan,"Mar 3, 2017",127000000,226277068,615461394,2017.0,"[tt3315342, tt1483010]","[Action, Comedy, Family, Sci-Fi, Drama]",484.6,3.879143e+08
1119,Moana,"Nov 23, 2016",150000000,248757044,637517365,2016.0,[tt3521164],"[Comedy, Animation, Adventure]",425.0,3.872603e+08
2273,X-Men: Apocalypse,"May 27, 2016",178000000,155442489,542537546,2016.0,[tt3385516],"[Sci-Fi, Action, Adventure]",304.8,3.853151e+08
1716,The Croods,"Mar 22, 2013",135000000,187168425,573068425,2013.0,[tt0481499],"[Animation, Action, Adventure]",424.5,3.845500e+08
1607,Tangled,"Nov 24, 2010",260000000,200821936,586477240,2010.0,[tt0398286],"[Comedy, Animation, Adventure]",225.6,3.830553e+08
1914,The Meg,"Aug 10, 2018",178000000,145443742,529530715,2018.0,[tt4779682],"[Horror, Action, Sci-Fi]",297.5,3.823070e+08
2205,Warcraft,"Jun 10, 2016",160000000,47225655,425522281,2016.0,[tt0803096],"[Fantasy, Action, Adventure]",266.0,3.766966e+08
1063,Man of Steel,"Jun 14, 2013",225000000,291045518,667999518,2013.0,[tt0770828],"[Sci-Fi, Action, Adventure]",296.9,3.747040e+08
972,Kung Fu Panda 3,"Jan 29, 2016",140000000,143528619,517599142,2016.0,[tt2267968],"[Animation, Action, Adventure]",369.7,3.726705e+08
2204,War of the Worlds,"Jun 29, 2005",132000000,234280354,606836535,2014.0,"[tt3327426, tt3825220]","[Sci-Fi, Thriller]",459.7,3.712362e+08
86,Aladdin,"May 24, 2019",182000000,246734314,619234314,2019.0,"[tt9698912, tt6139732]","[Comedy, Fantasy, Family, Adventure]",340.2,3.706800e+08
890,It,"Sep 8, 2017",35000000,327481748,697457969,2017.0,[tt1396484],"[Horror, Thriller]",1992.7,3.696262e+08
343,Cars 2,"Jun 24, 2011",200000000,191450875,560155383,2011.0,[tt1216475],"[Comedy, Animation, Adventure]",280.1,3.667045e+08
1830,The Hunger Games: Mockingjay - Part 2,"Nov 20, 2015",160000000,281723902,648986787,2015.0,[tt1951266],"[Sci-Fi, Action, Adventure]",405.6,3.656629e+08

In [120]:
# Make new dataframe grouped by top grossing in descending order
# indexed to only include the first 100 values
TDGdf = MMSEIdf.sort_values(
    by=['domestic_gross'], ascending=False)[:100]
# Ensure new element will be a pandas dataframe
TDGdf = pd.DataFrame(TDGdf)

TDGdf

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI
176,Avatar,"Dec 18, 2009",425000000,760507625,2776345279,2011.0,[tt1775309],[Horror],653.3
258,Black Panther,"Feb 16, 2018",200000000,700059566,1348258224,2018.0,[tt1825683],"[Sci-Fi, Action, Adventure]",674.1
178,Avengers: Infinity War,"Apr 27, 2018",300000000,678815482,2048134200,2018.0,[tt4154756],"[Sci-Fi, Action, Adventure]",682.7
2104,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,2018.0,"[tt2495766, tt8852130]","[Family, Adventure]",1104.1
930,Jurassic World,"Jun 12, 2015",215000000,652270625,1648854864,2015.0,[tt0369610],"[Sci-Fi, Action, Adventure]",766.9
1648,The Avengers,"May 4, 2012",225000000,623279547,1517935897,2012.0,[tt0848228],"[Sci-Fi, Action, Adventure]",674.6
862,Incredibles 2,"Jun 15, 2018",200000000,608581744,1242520711,2018.0,[tt3606756],"[Animation, Action, Adventure]",621.3
1399,Rogue One: A Star Wars Story,"Dec 16, 2016",200000000,532177324,1049102856,2016.0,[tt3748528],"[Sci-Fi, Action, Adventure]",524.6
215,Beauty and the Beast,"Mar 17, 2017",160000000,504014165,1259199706,2018.0,"[tt2771200, tt9173998, tt2316801]","[Drama, Romance, Family, Fantasy, Musical]",787.0
622,Finding Dory,"Jun 17, 2016",200000000,486295561,1021215193,2016.0,[tt2277860],"[Comedy, Animation, Adventure]",510.6
177,Avengers: Age of Ultron,"May 1, 2015",330600000,459005868,1403013963,2015.0,[tt2395427],"[Sci-Fi, Action, Adventure]",424.4
1719,The Dark Knight Rises,"Jul 20, 2012",275000000,448139099,1084439099,2012.0,[tt1345836],"[Action, Thriller]",394.3
334,Captain Marvel,"Mar 8, 2019",175000000,426525952,1123061550,2019.0,[tt4154664],"[Sci-Fi, Action, Adventure]",641.7
1828,The Hunger Games: Catching Fire,"Nov 22, 2013",130000000,424668047,864868047,2013.0,[tt1951264],"[Sci-Fi, Action, Adventure]",665.3
1885,The Lion King,"Jun 15, 1994",79300000,421785283,986214868,2019.0,[tt6105098],"[Animation, Drama, Adventure]",1243.7
931,Jurassic World: Fallen Kingdom,"Jun 22, 2018",170000000,417719760,1305772799,2018.0,[tt4881806],"[Sci-Fi, Action, Adventure]",768.1
2113,Toy Story 3,"Jun 18, 2010",200000000,415004880,1068879522,2010.0,[tt0435761],"[Comedy, Animation, Adventure]",534.4
2266,Wonder Woman,"Jun 2, 2017",150000000,412563408,821133378,2016.0,"[tt4283448, tt4028068, tt0451279]","[Sport, Action, Documentary, Sci-Fi, Fantasy, ...",547.4
886,Iron Man 3,"May 3, 2013",200000000,408992272,1215392272,2013.0,[tt1300854],"[Sci-Fi, Action, Adventure]",607.7
331,Captain America: Civil War,"May 6, 2016",250000000,408084349,1140069413,2016.0,[tt3498820],"[Sci-Fi, Action, Adventure]",456.0
1827,The Hunger Games,"Mar 23, 2012",80000000,408010692,677923379,2012.0,[tt1392170],"[Sci-Fi, Action, Adventure]",847.4
925,Jumanji: Welcome to the Jungle,"Dec 20, 2017",90000000,404508916,964496193,2017.0,[tt2283362],"[Comedy, Action, Adventure]",1071.7
668,Frozen,"Nov 22, 2013",150000000,400738009,1272469910,2010.0,"[tt1323045, tt1611845, tt2294629]","[Sport, Animation, Romance, Comedy, Fantasy, D...",848.3
2005,The Secret Life of Pets,"Jul 8, 2016",75000000,368384330,886750534,2016.0,[tt2709768],"[Comedy, Animation, Adventure]",1182.3
473,Despicable Me 2,"Jul 3, 2013",76000000,368065385,975216835,2013.0,[tt1690953],"[Comedy, Animation, Adventure]",1283.2
1857,The Jungle Book,"Apr 15, 2016",175000000,364001123,962854547,2016.0,"[tt2226178, tt3040964]","[Animation, Drama, Family, Adventure]",550.2
455,Deadpool,"Feb 12, 2016",58000000,363070709,801025593,2016.0,[tt1431045],"[Comedy, Action, Adventure]",1381.1
873,Inside Out,"Jun 19, 2015",175000000,356461711,854235992,2011.0,"[tt1640486, tt2096673, tt2071483, tt2608638, t...","[Crime, Animation, History, Comedy, Family, Do...",488.1
673,Furious 7,"Apr 3, 2015",190000000,353007020,1518722794,2015.0,[tt2820852],"[Crime, Action, Thriller]",799.3
2123,Transformers: Dark of the Moon,"Jun 29, 2011",195000000,352390543,1123790543,2011.0,[tt1399103],"[Sci-Fi, Action, Adventure]",576.3
124,American Sniper,"Dec 25, 2014",58000000,350126372,547326372,2014.0,[tt2179136],"[Drama, Action, Biography]",943.7
2296,Zootopia,"Mar 4, 2016",150000000,341268248,1019429616,2016.0,[tt2948356],"[Comedy, Animation, Adventure]",679.6
1829,The Hunger Games: Mockingjay - Part 1,"Nov 21, 2014",125000000,337135885,766575131,2014.0,[tt1951265],"[Sci-Fi, Action, Adventure]",613.3
1110,Minions,"Jul 10, 2015",74000000,336045770,1160336173,2015.0,[tt2293640],"[Comedy, Animation, Adventure]",1568.0
158,Aquaman,"Dec 21, 2018",160000000,335061807,1146894640,2018.0,[tt1477834],"[Fantasy, Action, Adventure]",716.8
1542,Spider-Man: Homecoming,"Jul 7, 2017",175000000,334201140,880166350,2017.0,[tt2250912],"[Sci-Fi, Action, Adventure]",503.0
92,Alice in Wonderland,"Mar 5, 2010",200000000,334191110,1025491110,2010.0,"[tt2049386, tt1926979, tt1014759]","[Documentary, Family, Fantasy, Musical, Advent...",512.7
736,Guardians of the Galaxy,"Aug 1, 2014",170000000,333172112,770867516,2014.0,[tt2015381],"[Comedy, Action, Adventure]",453.5
205,Batman v Superman: Dawn of Justice,"Mar 25, 2016",250000000,330360194,867500281,2016.0,[tt2975590],"[Fantasy, Action, Adventure]",347.0
890,It,"Sep 8, 2017",35000000,327481748,697457969,2017.0,[tt1396484],"[Horror, Thriller]",1992.7
1584,Suicide Squad,"Aug 5, 2016",175000000,325100054,746059887,2016.0,[tt1386697],"[Fantasy, Action, Adventure]",426.3
456,Deadpool 2,"May 18, 2018",110000000,324591735,786680557,2018.0,[tt5463162],"[Comedy, Action, Adventure]",715.2
884,Iron Man,"May 2, 2008",186000000,318604126,585171547,2013.0,[tt3375556],"[Comedy, Drama, Family]",314.6
2092,Thor: Ragnarok,"Nov 3, 2017",180000000,315058289,846980024,2017.0,[tt3501632],"[Comedy, Action, Adventure]",470.5
885,Iron Man 2,"May 7, 2010",170000000,312433331,621156389,2010.0,[tt1228705],"[Sci-Fi, Action, Adventure]",365.4
1498,Skyfall,"Nov 8, 2012",200000000,304360277,1110526981,2012.0,[tt1074638],"[Thriller, Action, Adventure]",555.3
1817,The Hobbit: An Unexpected Journey,"Dec 14, 2012",250000000,303003568,1017003568,2012.0,[tt0903624],"[Fantasy, Family, Adventure]",406.8
2050,The Twilight Saga: Eclipse,"Jun 30, 2010",68000000,300531751,706102828,2010.0,[tt1325004],"[Fantasy, Drama, Adventure]",1038.4
861,Inception,"Jul 16, 2010",160000000,292576195,835524642,2010.0,[tt1375666],"[Sci-Fi, Action, Adventure]",522.2
1063,Man of Steel,"Jun 14, 2013",225000000,291045518,667999518,2013.0,[tt0770828],"[Sci-Fi, Action, Adventure]",296.9
1830,The Hunger Games: Mockingjay - Part 2,"Nov 20, 2015",160000000,281723902,648986787,2015.0,[tt1951266],"[Sci-Fi, Action, Adventure]",405.6
725,Gravity,"Oct 4, 2013",110000000,274092705,693698673,2013.0,[tt1454468],"[Thriller, Drama, Sci-Fi]",630.6
1492,Sing,"Dec 21, 2016",75000000,270329045,634454789,2016.0,[tt3470600],"[Comedy, Animation, Family]",845.9
1129,Monsters University,"Jun 21, 2013",200000000,268488329,743588329,2013.0,[tt1453405],"[Comedy, Animation, Adventure]",371.8
474,Despicable Me 3,"Jun 30, 2017",75000000,264624300,1034727750,2017.0,[tt3469046],"[Comedy, Animation, Adventure]",1379.6
1639,The Amazing Spider-Man,"Jul 3, 2012",220000000,262030663,757890267,2012.0,[tt0948470],"[Sci-Fi, Action, Adventure]",344.5
333,Captain America: The Winter Soldier,"Apr 4, 2014",170000000,259746958,714401889,2014.0,[tt1843866],"[Sci-Fi, Action, Adventure]",420.2
1819,The Hobbit: The Desolation of Smaug,"Dec 13, 2013",250000000,258366855,960366855,2013.0,[tt1170358],"[Fantasy, Adventure]",384.1
1881,The Lego Movie,"Feb 7, 2014",60000000,257784718,457729388,2014.0,[tt1490017],"[Animation, Action, Adventure]",762.9
1818,The Hobbit: The Battle of the Five Armies,"Dec 17, 2014",250000000,255119788,945577621,2014.0,[tt2310332],"[Fantasy, Adventure]",378.2
1807,The Hangover Part II,"May 26, 2011",80000000,254464305,586464305,2011.0,[tt1411697],"[Comedy, Mystery]",733.1
472,Despicable Me,"Jul 9, 2010",69000000,251513985,543464573,2010.0,[tt1323594],"[Comedy, Animation, Family]",787.6
1119,Moana,"Nov 23, 2016",150000000,248757044,637517365,2016.0,[tt3521164],"[Comedy, Animation, Adventure]",425.0
86,Aladdin,"May 24, 2019",182000000,246734314,619234314,2019.0,"[tt9698912, tt6139732]","[Comedy, Fantasy, Family, Adventure]",340.2
2122,Transformers: Age of Extinction,"Jun 27, 2014",210000000,245439076,1104039076,2014.0,[tt2109248],"[Sci-Fi, Action, Adventure]",525.7
694,Ghostbusters,"Jun 8, 1984",30000000,242212467,295212467,2016.0,[tt1289401],"[Comedy, Fantasy, Action]",984.0
1061,Maleficent,"May 30, 2014",180000000,241407328,758536735,2014.0,[tt1587310],"[Family, Action, Adventure]",421.4
1280,Pirates of the Caribbean: On Stranger Tides,"May 20, 2011",410600000,241063875,1045663875,2011.0,[tt1298650],"[Fantasy, Action, Adventure]",254.7
1480,Shrek Forever After,"May 21, 2010",165000000,238736787,756244673,2010.0,[tt0892791],"[Comedy, Animation, Adventure]",458.3
293,Brave,"Jun 22, 2012",185000000,237282182,554606532,2014.0,"[tt8358722, tt1217209]","[Comedy, Animation, Drama, Adventure]",299.8
1231,Oz the Great and Powerful,"Mar 8, 2013",200000000,234770996,490359051,2013.0,[tt1623205],"[Fantasy, Family, Adventure]",245.2
2204,War of the Worlds,"Jun 29, 2005",132000000,234280354,606836535,2014.0,"[tt3327426, tt3825220]","[Sci-Fi, Thriller]",459.7
599,Fantastic Beasts and Where to Find Them,"Nov 18, 2016",180000000,234037575,802402853,2016.0,[tt3183660],"[Fantasy, Family, Adventure]",445.8
2274,X-Men: Days of Future Past,"May 23, 2014",200000000,233921534,747862775,2014.0,[tt1877832],"[Sci-Fi, Action, Adventure]",373.9
348,Cast Away,"Dec 22, 2000",85000000,233632142,427230516,2017.0,[tt6473952],"[Drama, Adventure]",502.6
498,Doctor Strange,"Nov 4, 2016",165000000,232641920,676404566,2016.0,[tt1211837],"[Fantasy, Action, Adventure]",409.9
935,Justice League,"Nov 17, 2017",300000000,229024295,655945209,2017.0,[tt0974015],"[Fantasy, Action, Adventure]",218.6
1552,Star Trek Into Darkness,"May 16, 2013",190000000,228778661,467381584,2013.0,[tt1408101],"[Sci-Fi, Action, Adventure]",246.0
1907,The Martian,"Oct 2, 2015",108000000,228433663,655271443,2015.0,[tt3659388],"[Sci-Fi, Drama, Adventure]",606.7
1024,Logan,"Mar 3, 2017",127000000,226277068,615461394,2017.0,"[tt3315342, tt1483010]","[Action, Comedy, Family, Sci-Fi, Drama]",484.6
1756,The Fate of the Furious,"Apr 14, 2017",250000000,225764765,1234846267,2017.0,[tt4630562],"[Crime, Action, Thriller]",493.9
242,Big Hero 6,"Nov 7, 2014",165000000,222527828,652127828,2014.0,[tt2245084],"[Animation, Action, Adventure]",395.2
1610,Ted,"Jun 29, 2012",50000000,218665740,556016627,2012.0,[tt1637725],"[Comedy, Fantasy]",1112.0
959,King Kong,"Dec 14, 2005",207000000,218080025,550517357,2018.0,[tt7733440],"[Action, Adventure]",266.0
690,Ghost,"Jul 13, 1990",22000000,217631306,517600000,2012.0,"[tt1655400, tt9378950, tt2175671]","[Horror, Mystery, Thriller, Fantasy, Drama]",2352.7
828,How to Train Your Dragon,"Mar 26, 2010",165000000,217581232,494870992,2010.0,[tt0892769],"[Animation, Action, Adventure]",299.9
151,Ant-Man and the Wasp,"Jul 6, 2018",130000000,216648740,623144660,2018.0,[tt5095030],"[Comedy, Action, Adventure]",479.3
1053,Madagascar 3: Europe's Most Wanted,"Jun 8, 2012",145000000,216391482,746921271,2012.0,[tt1277953],"[Comedy, Animation, Adventure]",515.1
282,Bohemian Rhapsody,"Nov 2, 2018",55000000,216303339,894985342,2018.0,[tt1727824],"[Drama, Music, Biography]",1627.2
50,A Star is Born,"Oct 5, 2018",36000000,215288866,433449571,2010.0,[tt1776364],"[Documentary, Music]",1204.0
1521,Solo: A Star Wars Story,"May 25, 2018",275000000,213767512,393151347,2018.0,[tt3778644],"[Fantasy, Action, Adventure]",143.0
2185,Venom,"Oct 5, 2018",116000000,213511408,853628605,2018.0,"[tt1931601, tt1270797]","[Thriller, Action, Sci-Fi]",735.9
602,Fast Five,"Apr 29, 2011",125000000,210031325,630163454,2011.0,[tt1596343],"[Crime, Action, Thriller]",504.1
390,Coco,"Nov 22, 2017",175000000,209726015,798008101,2017.0,"[tt2380307, tt7002100]","[Comedy, Horror, Animation, Adventure]",456.0
1471,Sherlock Holmes,"Dec 25, 2009",90000000,209028679,498438212,2011.0,[tt2304901],[Adventure],553.8
450,Dawn of the Planet of the Apes,"Jul 11, 2014",170000000,208545589,710644566,2014.0,[tt2103281],"[Drama, Action, Adventure]",418.0
2093,Thor: The Dark World,"Nov 8, 2013",150000000,206362140,644602516,2013.0,[tt1981115],"[Fantasy, Action, Adventure]",429.7
1640,The Amazing Spider-Man 2,"May 2, 2014",200000000,202853933,708996336,2014.0,[tt1872181],"[Sci-Fi, Action, Adventure]",354.5
2269,World War Z,"Jun 21, 2013",190000000,202359711,531514650,2013.0,[tt0816711],"[Horror, Action, Adventure]",279.7
374,Cinderella,"Mar 13, 2015",95000000,201151353,534551353,2018.0,"[tt8907882, tt10013634, tt5684194, tt1661199, ...","[Drama, Comedy, Family, Fantasy, Musical, Music]",562.7

In [121]:
# Make new dataframe grouped by top grossing in descending order
# indexed to only include the first 100 values
TWGdf = MMSEIdf.sort_values(
    by=['worldwide_gross'], ascending=False)[:100]
# Ensure new element will be a pandas dataframe
TWGdf = pd.DataFrame(TWGdf)

TWGdf

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,start_year,tconst,genres,ROI
176,Avatar,"Dec 18, 2009",425000000,760507625,2776345279,2011.0,[tt1775309],[Horror],653.3
2104,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,2018.0,"[tt2495766, tt8852130]","[Family, Adventure]",1104.1
178,Avengers: Infinity War,"Apr 27, 2018",300000000,678815482,2048134200,2018.0,[tt4154756],"[Sci-Fi, Action, Adventure]",682.7
930,Jurassic World,"Jun 12, 2015",215000000,652270625,1648854864,2015.0,[tt0369610],"[Sci-Fi, Action, Adventure]",766.9
673,Furious 7,"Apr 3, 2015",190000000,353007020,1518722794,2015.0,[tt2820852],"[Crime, Action, Thriller]",799.3
1648,The Avengers,"May 4, 2012",225000000,623279547,1517935897,2012.0,[tt0848228],"[Sci-Fi, Action, Adventure]",674.6
177,Avengers: Age of Ultron,"May 1, 2015",330600000,459005868,1403013963,2015.0,[tt2395427],"[Sci-Fi, Action, Adventure]",424.4
258,Black Panther,"Feb 16, 2018",200000000,700059566,1348258224,2018.0,[tt1825683],"[Sci-Fi, Action, Adventure]",674.1
931,Jurassic World: Fallen Kingdom,"Jun 22, 2018",170000000,417719760,1305772799,2018.0,[tt4881806],"[Sci-Fi, Action, Adventure]",768.1
668,Frozen,"Nov 22, 2013",150000000,400738009,1272469910,2010.0,"[tt1323045, tt1611845, tt2294629]","[Sport, Animation, Romance, Comedy, Fantasy, D...",848.3
215,Beauty and the Beast,"Mar 17, 2017",160000000,504014165,1259199706,2018.0,"[tt2771200, tt9173998, tt2316801]","[Drama, Romance, Family, Fantasy, Musical]",787.0
862,Incredibles 2,"Jun 15, 2018",200000000,608581744,1242520711,2018.0,[tt3606756],"[Animation, Action, Adventure]",621.3
1756,The Fate of the Furious,"Apr 14, 2017",250000000,225764765,1234846267,2017.0,[tt4630562],"[Crime, Action, Thriller]",493.9
886,Iron Man 3,"May 3, 2013",200000000,408992272,1215392272,2013.0,[tt1300854],"[Sci-Fi, Action, Adventure]",607.7
1110,Minions,"Jul 10, 2015",74000000,336045770,1160336173,2015.0,[tt2293640],"[Comedy, Animation, Adventure]",1568.0
158,Aquaman,"Dec 21, 2018",160000000,335061807,1146894640,2018.0,[tt1477834],"[Fantasy, Action, Adventure]",716.8
331,Captain America: Civil War,"May 6, 2016",250000000,408084349,1140069413,2016.0,[tt3498820],"[Sci-Fi, Action, Adventure]",456.0
2123,Transformers: Dark of the Moon,"Jun 29, 2011",195000000,352390543,1123790543,2011.0,[tt1399103],"[Sci-Fi, Action, Adventure]",576.3
334,Captain Marvel,"Mar 8, 2019",175000000,426525952,1123061550,2019.0,[tt4154664],"[Sci-Fi, Action, Adventure]",641.7
1498,Skyfall,"Nov 8, 2012",200000000,304360277,1110526981,2012.0,[tt1074638],"[Thriller, Action, Adventure]",555.3
2122,Transformers: Age of Extinction,"Jun 27, 2014",210000000,245439076,1104039076,2014.0,[tt2109248],"[Sci-Fi, Action, Adventure]",525.7
1719,The Dark Knight Rises,"Jul 20, 2012",275000000,448139099,1084439099,2012.0,[tt1345836],"[Action, Thriller]",394.3
2113,Toy Story 3,"Jun 18, 2010",200000000,415004880,1068879522,2010.0,[tt0435761],"[Comedy, Animation, Adventure]",534.4
1399,Rogue One: A Star Wars Story,"Dec 16, 2016",200000000,532177324,1049102856,2016.0,[tt3748528],"[Sci-Fi, Action, Adventure]",524.6
1280,Pirates of the Caribbean: On Stranger Tides,"May 20, 2011",410600000,241063875,1045663875,2011.0,[tt1298650],"[Fantasy, Action, Adventure]",254.7
474,Despicable Me 3,"Jun 30, 2017",75000000,264624300,1034727750,2017.0,[tt3469046],"[Comedy, Animation, Adventure]",1379.6
92,Alice in Wonderland,"Mar 5, 2010",200000000,334191110,1025491110,2010.0,"[tt2049386, tt1926979, tt1014759]","[Documentary, Family, Fantasy, Musical, Advent...",512.7
622,Finding Dory,"Jun 17, 2016",200000000,486295561,1021215193,2016.0,[tt2277860],"[Comedy, Animation, Adventure]",510.6
2296,Zootopia,"Mar 4, 2016",150000000,341268248,1019429616,2016.0,[tt2948356],"[Comedy, Animation, Adventure]",679.6
1817,The Hobbit: An Unexpected Journey,"Dec 14, 2012",250000000,303003568,1017003568,2012.0,[tt0903624],"[Fantasy, Family, Adventure]",406.8
1885,The Lion King,"Jun 15, 1994",79300000,421785283,986214868,2019.0,[tt6105098],"[Animation, Drama, Adventure]",1243.7
473,Despicable Me 2,"Jul 3, 2013",76000000,368065385,975216835,2013.0,[tt1690953],"[Comedy, Animation, Adventure]",1283.2
925,Jumanji: Welcome to the Jungle,"Dec 20, 2017",90000000,404508916,964496193,2017.0,[tt2283362],"[Comedy, Action, Adventure]",1071.7
1857,The Jungle Book,"Apr 15, 2016",175000000,364001123,962854547,2016.0,"[tt2226178, tt3040964]","[Animation, Drama, Family, Adventure]",550.2
1819,The Hobbit: The Desolation of Smaug,"Dec 13, 2013",250000000,258366855,960366855,2013.0,[tt1170358],"[Fantasy, Adventure]",384.1
1818,The Hobbit: The Battle of the Five Armies,"Dec 17, 2014",250000000,255119788,945577621,2014.0,[tt2310332],"[Fantasy, Adventure]",378.2
282,Bohemian Rhapsody,"Nov 2, 2018",55000000,216303339,894985342,2018.0,[tt1727824],"[Drama, Music, Biography]",1627.2
2005,The Secret Life of Pets,"Jul 8, 2016",75000000,368384330,886750534,2016.0,[tt2709768],"[Comedy, Animation, Adventure]",1182.3
1542,Spider-Man: Homecoming,"Jul 7, 2017",175000000,334201140,880166350,2017.0,[tt2250912],"[Sci-Fi, Action, Adventure]",503.0
848,Ice Age: Continental Drift,"Jul 13, 2012",95000000,161321843,879765137,2012.0,[tt1667889],"[Comedy, Animation, Adventure]",926.1
1539,Spectre,"Nov 6, 2015",300000000,200074175,879620923,2015.0,[tt2379713],"[Thriller, Action, Adventure]",293.2
205,Batman v Superman: Dawn of Justice,"Mar 25, 2016",250000000,330360194,867500281,2016.0,[tt2975590],"[Fantasy, Action, Adventure]",347.0
1828,The Hunger Games: Catching Fire,"Nov 22, 2013",130000000,424668047,864868047,2013.0,[tt1951264],"[Sci-Fi, Action, Adventure]",665.3
873,Inside Out,"Jun 19, 2015",175000000,356461711,854235992,2011.0,"[tt1640486, tt2096673, tt2071483, tt2608638, t...","[Crime, Animation, History, Comedy, Family, Do...",488.1
2185,Venom,"Oct 5, 2018",116000000,213511408,853628605,2018.0,"[tt1931601, tt1270797]","[Thriller, Action, Sci-Fi]",735.9
2092,Thor: Ragnarok,"Nov 3, 2017",180000000,315058289,846980024,2017.0,[tt3501632],"[Comedy, Action, Adventure]",470.5
861,Inception,"Jul 16, 2010",160000000,292576195,835524642,2010.0,[tt1375666],"[Sci-Fi, Action, Adventure]",522.2
2266,Wonder Woman,"Jun 2, 2017",150000000,412563408,821133378,2016.0,"[tt4283448, tt4028068, tt0451279]","[Sport, Action, Documentary, Sci-Fi, Fantasy, ...",547.4
599,Fantastic Beasts and Where to Find Them,"Nov 18, 2016",180000000,234037575,802402853,2016.0,[tt3183660],"[Fantasy, Family, Adventure]",445.8
455,Deadpool,"Feb 12, 2016",58000000,363070709,801025593,2016.0,[tt1431045],"[Comedy, Action, Adventure]",1381.1
390,Coco,"Nov 22, 2017",175000000,209726015,798008101,2017.0,"[tt2380307, tt7002100]","[Comedy, Horror, Animation, Adventure]",456.0
1279,Pirates of the Caribbean: Dead Men Tell No Tales,"May 26, 2017",230000000,172558876,788241137,2017.0,[tt1790809],"[Fantasy, Action, Adventure]",342.7
456,Deadpool 2,"May 18, 2018",110000000,324591735,786680557,2018.0,[tt5463162],"[Comedy, Action, Adventure]",715.2
736,Guardians of the Galaxy,"Aug 1, 2014",170000000,333172112,770867516,2014.0,[tt2015381],"[Comedy, Action, Adventure]",453.5
1829,The Hunger Games: Mockingjay - Part 1,"Nov 21, 2014",125000000,337135885,766575131,2014.0,[tt1951265],"[Sci-Fi, Action, Adventure]",613.3
1061,Maleficent,"May 30, 2014",180000000,241407328,758536735,2014.0,[tt1587310],"[Family, Action, Adventure]",421.4
1639,The Amazing Spider-Man,"Jul 3, 2012",220000000,262030663,757890267,2012.0,[tt0948470],"[Sci-Fi, Action, Adventure]",344.5
1480,Shrek Forever After,"May 21, 2010",165000000,238736787,756244673,2010.0,[tt0892791],"[Comedy, Animation, Adventure]",458.3
2274,X-Men: Days of Future Past,"May 23, 2014",200000000,233921534,747862775,2014.0,[tt1877832],"[Sci-Fi, Action, Adventure]",373.9
1053,Madagascar 3: Europe's Most Wanted,"Jun 8, 2012",145000000,216391482,746921271,2012.0,[tt1277953],"[Comedy, Animation, Adventure]",515.1
1584,Suicide Squad,"Aug 5, 2016",175000000,325100054,746059887,2016.0,[tt1386697],"[Fantasy, Action, Adventure]",426.3
1129,Monsters University,"Jun 21, 2013",200000000,268488329,743588329,2013.0,[tt1453405],"[Comedy, Animation, Adventure]",371.8
333,Captain America: The Winter Soldier,"Apr 4, 2014",170000000,259746958,714401889,2014.0,[tt1843866],"[Sci-Fi, Action, Adventure]",420.2
450,Dawn of the Planet of the Apes,"Jul 11, 2014",170000000,208545589,710644566,2014.0,[tt2103281],"[Drama, Action, Adventure]",418.0
1640,The Amazing Spider-Man 2,"May 2, 2014",200000000,202853933,708996336,2014.0,[tt1872181],"[Sci-Fi, Action, Adventure]",354.5
2050,The Twilight Saga: Eclipse,"Jun 30, 2010",68000000,300531751,706102828,2010.0,[tt1325004],"[Fantasy, Drama, Adventure]",1038.4
890,It,"Sep 8, 2017",35000000,327481748,697457969,2017.0,[tt1396484],"[Horror, Thriller]",1992.7
725,Gravity,"Oct 4, 2013",110000000,274092705,693698673,2013.0,[tt1454468],"[Thriller, Drama, Sci-Fi]",630.6
1827,The Hunger Games,"Mar 23, 2012",80000000,408010692,677923379,2012.0,[tt1392170],"[Sci-Fi, Action, Adventure]",847.4
498,Doctor Strange,"Nov 4, 2016",165000000,232641920,676404566,2016.0,[tt1211837],"[Fantasy, Action, Adventure]",409.9
1063,Man of Steel,"Jun 14, 2013",225000000,291045518,667999518,2013.0,[tt0770828],"[Sci-Fi, Action, Adventure]",296.9
878,Interstellar,"Nov 5, 2014",165000000,188017894,666379375,2014.0,[tt0816692],"[Sci-Fi, Drama, Adventure]",403.9
971,Kung Fu Panda 2,"May 26, 2011",150000000,165249063,664837547,2011.0,[tt1302011],"[Animation, Action, Adventure]",443.2
935,Justice League,"Nov 17, 2017",300000000,229024295,655945209,2017.0,[tt0974015],"[Fantasy, Action, Adventure]",218.6
1907,The Martian,"Oct 2, 2015",108000000,228433663,655271443,2015.0,[tt3659388],"[Sci-Fi, Drama, Adventure]",606.7
1092,Men in Black 3,"May 25, 2012",215000000,179020854,654213485,2012.0,[tt1409024],"[Comedy, Action, Adventure]",304.3
600,Fantastic Beasts: The Crimes of Grindelwald,"Nov 16, 2018",200000000,159555901,652220086,2018.0,[tt4123430],"[Fantasy, Family, Adventure]",326.1
242,Big Hero 6,"Nov 7, 2014",165000000,222527828,652127828,2014.0,[tt2245084],"[Animation, Action, Adventure]",395.2
1830,The Hunger Games: Mockingjay - Part 2,"Nov 20, 2015",160000000,281723902,648986787,2015.0,[tt1951266],"[Sci-Fi, Action, Adventure]",405.6
2093,Thor: The Dark World,"Nov 8, 2013",150000000,206362140,644602516,2013.0,[tt1981115],"[Fantasy, Action, Adventure]",429.7
1119,Moana,"Nov 23, 2016",150000000,248757044,637517365,2016.0,[tt3521164],"[Comedy, Animation, Adventure]",425.0
1492,Sing,"Dec 21, 2016",75000000,270329045,634454789,2016.0,[tt3470600],"[Comedy, Animation, Family]",845.9
602,Fast Five,"Apr 29, 2011",125000000,210031325,630163454,2011.0,[tt1596343],"[Crime, Action, Thriller]",504.1
151,Ant-Man and the Wasp,"Jul 6, 2018",130000000,216648740,623144660,2018.0,[tt5095030],"[Comedy, Action, Adventure]",479.3
885,Iron Man 2,"May 7, 2010",170000000,312433331,621156389,2010.0,[tt1228705],"[Sci-Fi, Action, Adventure]",365.4
1004,Life of Pi,"Nov 21, 2012",120000000,124987022,620912003,2012.0,[tt0454876],"[Fantasy, Drama, Adventure]",517.4
86,Aladdin,"May 24, 2019",182000000,246734314,619234314,2019.0,"[tt9698912, tt6139732]","[Comedy, Fantasy, Family, Adventure]",340.2
1024,Logan,"Mar 3, 2017",127000000,226277068,615461394,2017.0,"[tt3315342, tt1483010]","[Action, Comedy, Family, Sci-Fi, Drama]",484.6
829,How to Train Your Dragon 2,"Jun 13, 2014",145000000,177002924,614586270,2014.0,[tt1646971],"[Animation, Action, Adventure]",423.9
2204,War of the Worlds,"Jun 29, 2005",132000000,234280354,606836535,2014.0,"[tt3327426, tt3825220]","[Sci-Fi, Thriller]",459.7
2124,Transformers: The Last Knight,"Jun 21, 2017",217000000,130168683,602893340,2017.0,[tt3371366],"[Sci-Fi, Action, Adventure]",277.8
1607,Tangled,"Nov 24, 2010",260000000,200821936,586477240,2010.0,[tt0398286],"[Comedy, Animation, Adventure]",225.6
1807,The Hangover Part II,"May 26, 2011",80000000,254464305,586464305,2011.0,[tt1411697],"[Comedy, Mystery]",733.1
884,Iron Man,"May 2, 2008",186000000,318604126,585171547,2013.0,[tt3375556],"[Comedy, Drama, Family]",314.6
1341,Ready Player One,"Mar 29, 2018",150000000,137690172,579290136,2018.0,[tt1677720],"[Sci-Fi, Action, Adventure]",386.2
1716,The Croods,"Mar 22, 2013",135000000,187168425,573068425,2013.0,[tt0481499],"[Animation, Action, Adventure]",424.5
615,Fifty Shades of Grey,"Feb 13, 2015",40000000,166167230,570998101,2015.0,[tt2322441],"[Thriller, Drama, Romance]",1427.5
2019,The Smurfs,"Jul 29, 2011",110000000,142614158,563749323,2011.0,[tt0472181],"[Comedy, Animation, Adventure]",512.5
967,Kong: Skull Island,"Mar 10, 2017",185000000,168052812,561072059,2017.0,[tt3731562],"[Fantasy, Action, Adventure]",303.3
343,Cars 2,"Jun 24, 2011",200000000,191450875,560155383,2011.0,[tt1216475],"[Comedy, Animation, Adventure]",280.1

In [ ]:
astype

# Dont Need but Save

In [191]:
def implode(df, columns):
    keys = [c for c in df if c not in columns]
    return df.groupby(keys, as_index=False).agg({c: list for c in columns})[df.columns]

In [ ]:
MMSIdf = implode(MMSEIdf, ('tconst', 'genres'))

In [187]:
MMSIdf.head()

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
0,#Horror,"Nov 20, 2015",1500000,0,0,"[tt3526286, tt3526286, tt3526286]",2015.0,"[Crime, Drama, Horror]"
1,10 Cloverfield Lane,"Mar 11, 2016",5000000,72082999,108286422,"[tt1179933, tt1179933, tt1179933]",2016.0,"[Drama, Horror, Mystery]"
2,10 Days in a Madhouse,"Nov 11, 2015",12000000,14616,14616,[tt3453052],2015.0,[Drama]
3,12 Rounds,"Mar 27, 2009",20000000,12234694,17306648,"[tt3517850, tt3517850, tt3517850]",2017.0,"[Action, Drama, Romance]"
4,12 Strong,"Jan 19, 2018",35000000,45819713,71118378,"[tt1413492, tt1413492, tt1413492]",2018.0,"[Action, Drama, History]"

In [188]:
MMSIdf[MMSIdf['movie_title']== '']

,movie_title,release_date,production_budget,domestic_gross,worldwide_gross,tconst,start_year,genres
3080,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,[tt2495766],2012.0,[Adventure]
3081,Titanic,"Dec 19, 1997",200000000,659363944,2208208395,[tt8852130],2018.0,[Family]

In [206]:
dups(MMSIdf)

TypeError: dups() missing 1 required positional argument: 'df'

In [ ]:
# Helps to run terminal commands
# and helps to check present directory
! ls

# Taken from Movie Gross
## Scenario where we don't drop foreign gross and use linear regression to fill in data

In [ ]:
# MGdf['foreign_gross'] = MGdf['foreign_gross'].fillna(MGdf['foreign_gross'].median())

# MGdf.head()

Although, we don't need the information associated with missing foreign_gross data, we can use this to sum for present data with `domestic_gross` to achieve `worldwide_gross`.

In [ ]:
# # Replace dollar sign and commas for 'foreign_gross'
# # and change column to float64
# MGdf['foreign_gross'] = MGdf[
#     'foreign_gross'].str.replace(
#     'NaN', '0').str.replace(
#     ',', '').apply(
#     pd.to_numeric
# )

In [ ]:
# # PROB DON'T USE
# # root_squared_error vs r_squared
# def root_squared_error(y, y_hat):
#     y_bar = y.mean()
#     ss_tot = ((y-y_bar)**2).sum()
#     ss_res = ((y-y_hat)**2).sum()
#     return 1 - (ss_res/ss_tot)

In [ ]:
#SKIP root_squared_error(MGdf['foreign_gross'], MGdf['domestic_gross'])

In [ ]:
# # BROKEN
# # Lets get a linear regression line to extract
# # and apply a coeficiant to missing foreign_gross
# X = MGdf['domestic_gross'].iloc[:, 2].values.reshape(-1, 1)  # values converts it into a numpy array
# Y = MGdf['foreign_gross'].iloc[:, 3].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
# linear_regressor = LinearRegression()  # create object for the class
# linear_regressor.fit(X, Y)  # perform linear regression
# Y_pred = linear_regressor.predict(X)  # make predictions

In [ ]:
# # WORKS BUT NO
# # data = MGdf  # load data set
# X = data.iloc[:, 2].values.reshape(-1, 1)  # values converts it into a numpy array
# Y = data.iloc[:, 3].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
# linear_regressor = LinearRegression()  # create object for the class
# linear_regressor.fit(X, Y)  # perform linear regression
# Y_pred = linear_regressor.predict(X)  # make predictions

# # LAME PLOT
# # plt.scatter(X, Y)
# plt.plot(X, Y_pred, color='red')
# plt.show();

In [ ]:
# dir()

In [ ]:
# def score(self, X, Y, sample_weight=None):
#     from .metrics import r2_score
#     Y_pred = self.predict(X)
#     return r2_score(Y, Y_pred, sample_weight=sample_weight)

# def _more_tags(self):
#         return {"requires_y": True}

In [ ]:
# # Lets get a linear regression line to extract
# # and apply a coeficiant to missing foreign_gross
# X = MGdf['domestic_gross'].iloc[:, 2].values.reshape(-1, 1)  # values converts it into a numpy array
# Y = MGdf['foreign_gross'].iloc[:, 3].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
# linear_regressor = LinearRegression()  # create object for the class
# linear_regressor.fit(X, Y)  # perform linear regression
# Y_pred = linear_regressor.predict(X)  # make predictions

# plt.scatter(X, Y)
# plt.plot(X, Y_pred, color='red')
# plt.show();
# style.use('seaborn')
# plt.scatter(X, Y,
#             label='Data Points',
#             alpha=0.6,
#             color='blue',
#             s=75)
# # plt.scatter(KSI_height,KSI_weight, label='KSI prediction',color='red',s=100)
# plt.plot(X,
#          regression_line,
#          label='Best Fit Line',
#          color='red',
#          linewidth=4)
# plt.title('Domestic and Foreign Gross Linear Regression')
# plt.xlabel('Domestic Gross (USD)')
# plt.ylabel('Foreign Gross (USD)')
# plt.legend()
# plt.show();

In [ ]:
# def best_fit_line(xs,ys):
#     slope = (((mean(xs) * mean(ys)) - mean(xs * ys)) / ((mean(xs) * mean(xs)) - mean(xs * XS)))
#     y_intecept = mean(ys) - slope * mean(XS)
#     return slope, y_intercept

# # convert 'domestic_gross' and 'foreign_gross' columns to lists
# DG = MGdf['domestic_gross'].tolist()
# FG = MGdf['foreign_gross'].tolist()

# # convert lists to numpy lists
# xs = np.array(DG, dtype=np.float64)
# ys = np.array(FG, dtype=np.float64)

# # Using Python's sk-learn library

# # Create linear regression object
# DG_FG = linear_model.LinearRegression()

# # Train the model using the training sets
# DG_FG.fit(xs.reshape(-1,1),ys)

# # get the regression line using the model
# regression_line = DG_FG.predict(xs.reshape(-1,1))

# # Making predictions
# # KSI_height = 180
# # KSI_weight = height_weight.predict(np.array([[KSI_height]]))[0]

# # Plot outputs and plot customization
# style.use('seaborn')
# plt.scatter(xs,ys,
#             label='Data Points',
#             alpha=0.5,
#             color='blue',
#             s=55)
# # plt.scatter(KSI_height,KSI_weight, label='KSI prediction',color='red',s=100)
# plt.plot(X,
#          regression_line,
#          label='Best Fit Line',
#          color='red',
#          linewidth=4)
# plt.title('Domestic and Foreign Gross Linear Regression')
# plt.xlabel('Domestic Gross (USD)')
# plt.ylabel('Foreign Gross (USD)')
# plt.legend()
# plt.show();

In [ ]:
# # convert 'domestic_gross' and 'foreign_gross' columns to lists
# DG = MGdf['domestic_gross'].tolist()
# FG = MGdf['foreign_gross'].tolist()

# # convert lists to numpy lists
# xs = np.array(DG, dtype=np.float64)
# ys = np.array(FG, dtype=np.float64)

# def best_fit_line(xs, ys):
#     DG = MGdf['domestic_gross'].tolist()
#     FG = MGdf['foreign_gross'].tolist()
#     xs = np.array(DG, dtype=np.float64)
#     ys = np.array(FG, dtype=np.float64)
#     slope = (((mean(xs) * mean(ys)) - mean(xs * ys)) /
#              ((mean(xs) * mean(xs)) - mean(xs * xs)))
#     y_intercept = mean(ys) - slope * mean(xs)
#     return slope, y_intercept

# best_fit_line(MGdf['domestic_gross'], MGdf['foreign_gross'])

In [ ]:
# ## ALREADY PERFORMED ABOVE
# # convert 'domestic_gross' and 'foreign_gross' columns to lists
# DG = MGdf['domestic_gross'].tolist()
# FG = MGdf['foreign_gross'].tolist()

# # convert lists to numpy lists
# xs = np.array(DG, dtype=np.float64)
# ys = np.array(FG, dtype=np.float64)

In [ ]:
# #skip
# # Create a model and fit it
# model = LinearRegression().fit(xs, ys)
# r_sq = model.score(xs, ys)
# print(f"coefficient of determination: {r_sq}")


# print(f"intercept: {model.intercept_}")


# print(f"coefficients: {model.coef_}")

In [ ]:
# # remove null values from dataframe
# MGdf = MGrawdf.dropna(subset=['foreign_gross'])


# # Make new column
# MGdf ['worldwide_gross'] = (
#     (MGdf ['domestic_gross'])
#     + MGdf ['foreign_gross']
# )

# # Review df
# MGdf.head()

In [ ]:
# spread(MGdf)